@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"), url("../fonts/gilroy/Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-UltraLight.woff") format("woff"), url("../fonts/gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"), url("../fonts/gilroy/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Thin.woff") format("woff"), url("../fonts/gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #FFFFFF;
  font-family: "Gilroy", "Arial Narrow", sans-serif;
}
body.index .main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
body.index .main:before {
  content: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../images/bg-canvas.jpg");
  background-size: cover;
}

.main {
  flex: 1 1 auto;
  position: relative;
}
.main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: radial-gradient(53.43% 63.56% at 50% 37.83%, rgba(58, 108, 167, 0.2) 0%, transparent 100%);
  z-index: 1;
}

.bg-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.bg-canvas canvas {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.big-logo {
  user-select: none;
  padding: 50px;
}
.big-logo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -5%;
  top: 0;
  background: radial-gradient(53.43% 63.56% at 50% 37.83%, rgba(58, 108, 167, 0.3) 0%, transparent 100%);
}
.big-logo img {
  max-width: 100%;
  position: relative;
}
.big-logo svg {
  position: relative;
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 60px;
  left: 60px;
}
@media screen and (max-width: 1680px) {
  .header {
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 640px) {
  .header {
    position: relative;
  }
}
.header .toggle {
  padding: 20px;
  display: inline-block;
}

.fancybox__backdrop {
  background: transparent;
}

.page {
  position: relative;
  padding: 20px 120px 0 120px;
  width: 100%;
  max-width: 1640px;
  margin: 0 auto;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .page {
    padding: 20px;
  }
}
@media screen and (max-width: 640px) {
  .page {
    padding: 10px;
  }
}
.page__header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 6px;
}
@media screen and (max-width: 1024px) {
  .page__header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.page__header .h1 {
  margin: 0 20px 30px 0;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .page__header .h1 {
    margin-right: 0;
  }
}

a {
  color: #DF5DE1;
}

img {
  max-width: 100%;
}

.h1,
.h2 {
  font-size: 35px;
  font-weight: 300;
  line-height: 120%;
}
@media screen and (max-width: 767px) {
  .h1,
.h2 {
    font-size: 30px;
  }
}

.h1 {
  color: #FFF;
  font-style: normal;
}

.h2,
.h3 {
  color: #FF6BC0;
}

.h3 {
  font-size: 25px;
  font-weight: 400;
}

.popup-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.popup-menu.fancybox__content {
  padding: 0;
  background: transparent;
}
.popup-menu .is-close {
  display: none;
}
.popup-menu__wrap {
  position: relative;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12.5px);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1400px;
  max-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-menu__close {
  position: absolute;
  right: 28px;
  top: 28px;
  cursor: pointer;
}
.popup-menu__content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popup-menu__content ul li {
  text-align: center;
  font-size: 35px;
  font-weight: 250;
  line-height: 90px;
}
.popup-menu__content ul li a {
  color: #FFF;
  text-decoration: none;
  transition: 0.2s all linear;
  outline: none !important;
}
.popup-menu__content ul li a:hover {
  color: #FF6BC0;
}

.solution__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
}
@media screen and (max-width: 767px) {
  .solution__list {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  }
}
.solution .solution-item {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  padding: 25px;
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .solution .solution-item {
    padding: 20px;
  }
}
.solution .solution-item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.solution .solution-item__icon {
  flex-shrink: 0;
  margin-right: 28px;
  width: 100px;
  height: 100px;
  font-size: 0;
}
@media screen and (max-width: 1024px) {
  .solution .solution-item__icon {
    margin-right: 15px;
    width: 80px;
    height: 80px;
  }
}
.solution .solution-item__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.solution .solution-item__title {
  font-size: 18px;
  font-weight: 400;
}
.solution .solution-item__desc {
  font-size: 14px;
  color: #7B8C95;
}

.contacts {
  padding: 60px 30px 60px 30px;
}
@media screen and (max-width: 640px) {
  .contacts {
    padding: 20px 0 20px 0;
  }
}
.contacts__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(450px, auto));
}
@media screen and (max-width: 640px) {
  .contacts__list {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  }
}
.contacts .contact-item {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  min-height: 250px;
  display: flex;
  align-items: center;
  padding: 60px;
}
@media screen and (max-width: 640px) {
  .contacts .contact-item {
    padding: 30px;
    min-height: 180px;
  }
}
.contacts .contact-item__icon {
  flex-shrink: 0;
}
@media screen and (max-width: 640px) {
  .contacts .contact-item__icon {
    max-width: 50px;
  }
}
.contacts .contact-item__text {
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
  color: #FFF;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .contacts .contact-item__text {
    font-size: 22px;
  }
}
.contacts .contact-item__text a {
  color: #FFF;
  text-decoration: none;
}

.advantages__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
@media screen and (max-width: 640px) {
  .advantages__list {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  }
}
.advantages .advantage-item {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 300px;
  padding: 25px 25px 30px 25px;
}
.advantages .advantage-item__icon {
  width: 190px;
  height: 125px;
  margin-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantages .advantage-item__text {
  text-align: center;
  min-height: 70px;
  color: #C2CFDD;
  font-size: 18px;
  font-weight: 300;
  line-height: 110%;
}

.our-works__list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
@media screen and (max-width: 640px) {
  .our-works__list {
    grid-template-columns: repeat(auto-fit, minmax(100%, auto));
  }
}
.our-works .work-item {
  position: relative;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
.our-works .work-item__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.our-works .work-item__img {
  padding: 0 20px;
}
.our-works .work-item__img img {
  max-width: 100%;
}
.our-works .work-item__text {
  text-align: center;
  font-weight: 400;
  padding: 0 20px 20px 20px;
}
.our-works .work-item__title {
  display: block;
  color: #DF5DE1;
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 20px;
}
.our-works .work-item__desc {
  font-size: 14px;
}

.solution-detail__header {
  display: flex;
  align-items: flex-start;
  grid-gap: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 1280px) {
  .solution-detail__header {
    flex-wrap: wrap;
  }
}
.solution-detail__header .solution-card {
  flex-grow: 1;
}
@media screen and (max-width: 1280px) {
  .solution-detail__header .solution-card {
    order: 2;
  }
}
@media screen and (max-width: 1280px) {
  .solution-detail__header .solution-menu {
    order: 1;
  }
}
@media screen and (max-width: 1280px) {
  .solution-detail__header .solution-menu__list {
    flex-wrap: wrap;
  }
}
.solution-detail__content {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  padding: 45px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 130%;
}
.solution-detail .solution-card {
  display: flex;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  padding: 25px;
  box-sizing: border-box;
}
.solution-detail .solution-card__title {
  margin-bottom: 13px;
}
.solution-detail .solution-card__title b,
.solution-detail .solution-card__title span {
  display: block;
}
.solution-detail .solution-card__title b {
  color: #FF6BC0;
  font-size: 30px;
  font-weight: 400;
}
.solution-detail .solution-card__title span {
  color: #7B8C95;
  font-size: 18px;
}
.solution-detail .solution-card__text {
  font-size: 16px;
}
.solution-detail .solution-card__text a {
  color: #7B8C95;
  text-decoration: none;
  transition: 0.1s all linear;
}
.solution-detail .solution-card__text a:hover {
  color: #FF6BC0;
}
.solution-detail .solution-card__text ul {
  margin: 0;
  padding-left: 18px;
}
.solution-detail .solution-card__text ul li::marker {
  color: #FF6BC0;
}
.solution-detail .solution-card__icon {
  margin-right: 28px;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.solution-detail .solution-card__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solution-menu {
  padding: 25px 35px;
  box-sizing: border-box;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
}
.solution-menu__list {
  display: flex;
  align-items: center;
  margin: 0 -14px;
}
.solution-menu__item {
  padding: 0 14px;
  font-size: 0;
  opacity: 0.5;
  transition: 0.2s all linear;
}
.solution-menu__item.active, .solution-menu__item:hover {
  opacity: 1;
}
.solution-menu__link {
  font-size: 0;
}

/*# sourceMappingURL=style.css.map */
