.footer {

  &__row {

    &--menu {
      background-color: #11242d;
      background-image: url("../images/footer-bg.png");
      padding: 10px 0 20px 0;
      min-height: 400px;
    }

    &--copyright {
      background-color: $c-black-pearl;
    }

  }

  .extra-menu {
    margin-bottom: 15px;

    &__list {
      height: auto;
      margin-bottom: 20px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__row {
      margin: 0;
    }

    &__col {
      width: calc(100% / 3);
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--about {
        padding-left: 0;
      }

      &--logo {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }

      &--contacts {
        align-items: flex-end;
      }
    }

    &__item {
      margin: 0 15px;
    }

    &__link {

      &:hover,
      &.selected {
        color: $c-rob-roy;
      }
    }
  }

  .phone-block {

    &__number {
      color: $c-white;
    }
  }

  .main-menu {

    &__list {
      justify-content: space-between;
    }

    &__link {
      padding: 0;

      &:before {
        content: none;
      }
    }
  }

  .footer-copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__col {
      width: calc(100% / 3);

      &--text {
        color: #4C6874;
        white-space: nowrap;

        @media #{$laptop} {
          white-space: normal;
        }

        a {
          text-decoration: none;
        }
      }

      &--social {
        display: flex;
        justify-content: center;

        .socials {

          &__item {
            background: transparent;
            border: 1px solid #61717A;
          }
        }
      }

      &--developer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}