body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #000000;
    z-index: -1;
    opacity: 0;
    transition: .3s all linear;
  }

  &.popup-open {
    overflow: hidden;
    padding-right: 16px;

    &:before {
      height: 10000px;
      z-index: 100;
      opacity: .6;
    }
  }
}

html,
body {
  height: 100vh;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}


.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $c-snow;
  min-height: 100%;

  &--product {
    overflow: initial;
  }
}

.main {
  flex: 1 1 auto;
}

.h1, h1,
.h2, h2,
.h3, h3 {
  font-style: normal;
  color: $c-teal-blue;
  margin: 0;
  line-height: 1em;
  font-family: $font-family-add;
  position: relative;
}

.h2, h2,
.h1, h1 {
  font-size: 80px;
  font-weight: 200;
}

.h3, h3 {
  font-size: 37px;
  font-weight: 400;
}

.label-section {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  color: $c-nepal;
  line-height: 3.2em;
  text-transform: uppercase;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 40px;
    height: 1px;
    background-color: $c-rob-roy;
  }
}

.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $c-teal-blue;
  text-decoration: none;
  line-height: 48px;
  height: 50px;
  display: inline-block;
  padding: 0 30px;
  border: 1px solid $c-rob-roy;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  position: relative;

  &--gray {
    border: 1px solid #8FA7B1;
    color: #839CA7;
  }
}

.more {
  position: relative;
  line-height: 1em;
  color: $c-rob-roy;
  font-size: 14px;
  padding-right: 15px;
  text-decoration: none;

  &:hover {
    color: $c-white;

    &:before {
      right: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 5px;
    right: 3px;
    top: 6px;
    background-image: url("../images/icon/arrow-more.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s right linear;
  }
}

.close {
  appearance: none;
  width: 35px;
  height: 35px;
  border: 1px solid #B5CFDB;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s all linear;

  &:hover {
    border: 1px solid #718791;
  }
}

.section-page-title {
  text-align: center;
  margin-bottom: 25px;

  .label-section {
    margin-bottom: 10px;

    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.popup-custom {
  position: fixed;
  height: 100vh;
  width: 410px;
  right: -410px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 100;
  top: 0;
  padding: 40px;
  box-sizing: border-box;
  transition: .5s all cubic-bezier(0.16, 1, 0.3, 1);
  overflow-y: scroll;

  &--basket {

    .side {
      padding-bottom: 50px;

      &__list {
        padding-bottom: 20px;
      }
    }

    .popup-custom__title {
      font-size: 55px;
    }
  }

  &__close {
    margin-right: -17px;

    @media #{$phone} {
      margin-right: 0;
    }
  }

  &__col {


    &--text {
      flex-grow: 1;
      padding-right: 20px;

      @media #{$notebook} {
        order: 2;
      }
    }

    &--gallery {
      width: 275px;
      flex-shrink: 0;

      @media #{$notebook} {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
      }

      @media #{$phone} {
        margin-bottom: 10px;
      }
    }
  }

  &__row {
    display: flex;
    
    @media #{$notebook} {
      flex-wrap: wrap;
    }
  }


  &__header {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media #{$phone} {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 64px;
    font-weight: 300;

    @media #{$phone} {
      font-size: 42px;
    }
  }

  &.active {
    right: 0!important;
  }
}

.page {

  &__bg {
    width: 100%;
    height: 270px;
    position: absolute;
    background-color: #101E24;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    position: relative;
    padding-top: 10px;
    margin-bottom: 30px;

    .h1 {
      text-align: center;
      color: white;
      padding-bottom: 25px;

      &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: #D4AE4A;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    background-color: rgba(251, 251, 251, 0.98);
    padding: 20px;
    color: #597987;

    &--basket {
      background: transparent;
      padding: 0;
    }

    a {
      //transition: .2s color ease-in;

      &:not([class]) {
        color: $c-nepal;
      }
    }
  }
}

.remove-item {
  padding: 0;
  margin: 0 5px 0 0;
  border: none;
  appearance: none;
  cursor: pointer;
}