body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}


.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $c-snow;
  min-height: 100%;

  a {
    //transition: .2s color ease-in;

    &:not([class]) {
      color: $c-nepal;
    }
  }

}

.main {
  flex: 1 1 auto;
}

.h1, h1,
.h2, h2,
.h3, h3 {
  font-style: normal;
  color: $c-teal-blue;
  margin: 0;
  line-height: 1em;
  font-family: $font-family-add;
}

.h2, h2 {
  font-size: 80px;
  font-weight: 200;
}

.h3, h3 {
  font-size: 37px;
  font-weight: 400;
}

.label-section {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  color: $c-nepal;
  line-height: 3.2em;
  text-transform: uppercase;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 40px;
    height: 1px;
    background-color: $c-rob-roy;
  }
}

.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $c-teal-blue;
  text-decoration: none;
  line-height: 48px;
  height: 50px;
  display: inline-block;
  padding: 0 30px;
  border: 1px solid $c-rob-roy;
  box-sizing: border-box;
}

.section-page-title {
  text-align: center;
  margin-bottom: 25px;

  .label-section {
    margin-bottom: 10px;

    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.page {

  &__bg {
    width: 100%;
    height: 270px;
    position: absolute;
    background-color: #101E24;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__header {
    position: relative;
    padding-top: 10px;
    margin-bottom: 30px;

    .h1 {
      font-size: 80px;
      font-weight: 200;
      text-align: center;
      color: white;
      position: relative;
      padding-bottom: 25px;

      &:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: #D4AE4A;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }

  &__content {
    background-color: rgba(251, 251, 251, 0.98);
    padding: 30px;
  }
}