.header {

  &__top {
    background-color: $c-white-smoke;
  }

}

.extra-menu {
  font-size: 14px;
  font-weight: 500;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    height: 100%;
    min-height: 32px;

    @media #{$laptop} {
      margin: 0 -25px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__link {
    color: $c-nepal;
    text-decoration: none;
    line-height: 1em;

    &:hover,
    &.selected {
      color: $c-mid-grey;
    }
  }

  &__item {
    margin: 0 25px;
    display: flex;
    align-items: center;
    min-height: 30px;
    transition: .3s margin linear;
    
    @media #{$laptop} {
      margin: 0 15px;
    }
  }

  &__col {

    &--profile {
      margin-left: auto;
    }
  }
}

.link-profile,
.change-city {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;

    path {
      fill: $c-nepal;
    }
  }

  &__arrow {
    margin-left: 4px;
  }
}
.change-city {

  &.active {
    color: $c-mid-grey;

    .change-city__arrow {
      transform: scale(1, -1);
    }

    .change-city__icon {

      path {
        fill: $c-mid-grey;
      }
    }
  }
}