.header {

  &__row {

    &--top {
      background-color: $c-white-smoke;
    }
  }
}

.extra-menu {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  z-index: 2;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
    height: 100%;

    @media #{$laptop} {
      margin: 0 -25px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  &__link {
    color: $c-nepal;
    text-decoration: none;
    line-height: 1em;

    &:hover,
    &.selected {
      color: $c-mid-grey;
    }
  }

  &__item {
    margin: 0 25px;
    display: flex;
    align-items: center;
    min-height: 32px;
    transition: .3s margin linear;
    
    @media #{$laptop} {
      margin: 0 15px;
    }
  }

  &__col {

    &--about {
      padding-left: 100px;
    }

    &--profile {
      margin-left: auto;
    }
  }
}

.link-profile,
.change-city {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 10px;

    path {
      fill: $c-nepal;
    }
  }

  &__arrow {
    margin-left: 4px;
  }
}

.change-city {

  &.active {
    color: $c-mid-grey;

    .change-city__arrow {
      transform: scale(1, -1);
    }

    .change-city__icon {

      path {
        fill: $c-mid-grey;
      }
    }
  }
}

.logo {
  font-size: 0;
  display: block;
}

.header-mid {
  position: relative;
  z-index: 1;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;

    .logo {
      position: absolute;
      left: 0;
      top: -30px;
    }
  }

  &__col {
    min-height: 63px;
    display: flex;
    align-items: center;

    &--logo {
      min-width: 235px;
    }
  }
}

.search-line {
  display: flex;
  align-items: center;

  &__button {
    padding: 0;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 8px;
    font-size: 14px;
    color: $c-nepal;
    transition: .3s color linear;

    &:hover {
      color: $c-mid-grey;
    }

    svg {
      margin-right: 7px;

      path {
        fill: $c-nepal;
      }
    }
  }

  &__field {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid $c-white-smoke;
    transition: .3s border linear;

    &:focus {
      border-bottom: 1px solid $c-nepal;
    }
  }

}