// Fonts
$font-family-base:    'Gilroy', sans-serif;
$font-size-base:       16px;
$font-weight-base:     400;


// Color
$c-base:              #2A4652;
$c-very-light-gray:   #F8F8F8;
$c-font-light:        #A2ACB5;


// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$tablet: 'screen and (max-width: 999px)';
$phone: 'screen and (max-width: 500px)';



