* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.burger {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 0;
}

.phone {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
}