.header {
  position: fixed;
  width: auto;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 45px 45px 45px 15px;

  @media #{$tablet} {
    padding: 16px;
  }

  @media #{$phone} {
    display: none;
  }

  &__row {
    display: flex;
    margin: 0 -20px;

    @media #{$tablet} {
      margin: 0 -10px;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    padding: 0 20px;

    @media #{$tablet} {
      padding: 0 10px;
    }

    &_type {

      &_phone {
        margin-left: auto;
      }
    }
  }
}