.about {
  height: 446px;
  background-image: url("../images/about-bg.png");
  background-position: center;
  margin-bottom: 35px;

  &__wrap {
    border-radius: 131.5px 0 0 131.5px;
    background: rgba(37, 61, 75, 0.5);
    backdrop-filter: blur(2px);
    padding: 15px 190px 15px 20px;
    display: flex;
    align-items: center;
    max-width: calc(50% + 190px);
    margin-left: auto;
    margin-top: 54px;
  }

  &__text {
    color: $c-white;
    font-size: 18px;
    line-height: 125%;

    span {
      font-size: 20px;
    }
  }

  &__icon {
    margin-right: 30px;
  }
}