.btn {
  display: flex;
  align-items: center;
  padding: 0 22px;
  height: 57px;
  line-height: 57px;
  border-radius: 28.5px;
  border: 2px solid $c-light-blue;
  color: $c-white;
  font-weight: 600;
  background: linear-gradient(178deg, #334F65 0%, #303A44 100%);
  text-decoration: none;
  transition: .1s all linear;

  &:hover {
    color: $c-light-blue;
  }

  &:active {
    background: linear-gradient(178deg, #085795 0%, #193F65 100%);
  }

  svg {
    margin-right: 13px;
  }

  &.disabled {
    border: 2px solid $c-grey;
    background: $c-light-grey;
    color: #C8D3DA;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      color: #C8D3DA;
    }

  }

  &_phone {

    &.disabled {

      path {
        stroke: $c-white;
      }
    }

  }
}