.open-order {
  padding: 330px 0 180px 0;
  position: relative;

  @media #{$phone} {
    padding-top: 80px;
    padding-bottom: 0;
  }

  .car {
    position: absolute;
    right: 10%;
    top: 50%;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("../images/car-light.png");
      opacity: 0;
      transition: .2s all linear;
    }

    &.stop {

      &:before {
        opacity: 1;
      }
    }

    @media #{$laptop_s} {
      display: none;
    }
  }

  .order {
    z-index: 3;
  }
}