@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-SemiBold.woff2') format('woff2'),
  url('../fonts/jura/Jura-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-Medium.woff2') format('woff2'),
  url('../fonts/jura/Jura-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-Light.woff2') format('woff2'),
  url('../fonts/jura/Jura-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-Bold.woff2') format('woff2'),
  url('../fonts/jura/Jura-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-Regular.woff2') format('woff2'),
  url('../fonts/jura/Jura-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kelson Sans';
  src: url('../fonts/kelson/KelsonSans-RegularRU.woff2') format('woff2'),
  url('../fonts/kelson/KelsonSans-RegularRU.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

