* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #f3f7f9;
  font-family: $font-family-base;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 105px;
  background-attachment: fixed;

  @media screen and (min-width: 1921px) {
    background-size: cover;
  }

  @media #{$tablet} {
    padding-top: 65px;
  }
}


.h2 {
  font-size: 30px;
  color: #004B5E;
  font-weight: 600;

  @media #{$phone} {
    font-size: 25px;
  }
}

.box {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.title-decor {
  position: relative;
  padding-left: 29px;

  &:before {
    content: '';
    background-image: url("../images/title-decor.svg");
    width: 18px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 3px;
  }
}