* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #f3f7f9;
  font-family: $font-family-base;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 105px;
  background-attachment: fixed;

  @media screen and (min-width: 1921px) {
    background-size: cover;
  }

  @media #{$tablet} {
    padding-top: 65px;
  }
}


.h2,
.h1 {
  font-size: 30px;
  color: #004B5E;
  font-weight: 600;

  @media #{$phone} {
    font-size: 25px;
    line-height: 100%;
  }
}

.h1 {
  margin-bottom: 30px;

  @media #{$phone} {
    margin-bottom: 20px;
  }
}

.box {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
}

.title-decor {
  position: relative;
  padding-left: 29px;

  &:before {
    content: '';
    background-image: url("../images/title-decor.svg");
    width: 18px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 3px;
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 105px);

  @media #{$tablet} {
    min-height: calc(100vh - 65px);
  }
}

.main {
  flex-grow: 1;

  &.blur-wrapper {

    &:before {
      top: 0;
      height: 100%;
    }
  }
}

.page {

  .main {
    margin-top: 25px;
    position: relative;
    padding: 15px 10px 25px 10px;

    @media #{$phone} {
      padding: 15px 20px 25px 20px;
    }

    &.blur-wrapper {

      &:before {
        max-width: 1450px;
        width: calc(100% + 30px);

        @media #{$phone} {
          width: calc(100% - 20px);
        }
      }
    }
  }
}

.blur-wrapper {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: calc(100% + 200px);
    max-width: 1430px;
    width: 100%;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    z-index: -1;
    pointer-events: none;
  }
}

a {
  text-decoration: none;
  color: #26AAAB;
}