.slider {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: linear-gradient(
                  90deg,
                  rgba(0, 85, 92, 0.7) 0%,
                  rgba(4, 145, 147, 0.7) 22.74%,
                  rgba(0, 95, 96, 0.7) 47.23%,
                  rgba(11, 141, 140, 0.7) 72.92%,
                  rgba(0, 93, 99, 0.7) 100%
  );
  backdrop-filter: blur(7.5px);
  transform: translateY(-123px);
  max-width: 1400px;
  width: 100%;
  z-index: 10;

  &__container {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 861px) {
    display: none;
  }
}