.uniqueness {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -365px;
  padding-bottom: 31px;

  &__cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    gap: 27px;
  }

  &__card {
    display: flex;
    padding: 42px;
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;

    @media (max-width: 1317px) {
      padding: 42px 21px;
    }

    @media (max-width: 1197px) {
      padding: 21px 4px;
    }

    @media (max-width: 491px) {
      max-width: 172px;
      padding: 11px 4px;
    }

    @media (max-width: 376px) {
      height: 70px;
      padding: 0px;
    }
  }

  &__icon {
    padding-right: 30px;

    @media (max-width: 491px) {
      width: 40px;
      padding-right: 10px;
    }
  }

  &__title {
    color: #0c2d35;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    @media (max-width: 1197px) {
      font-size: 16px;
    }

    @media (max-width: 491px) {
      font-size: 14px;
    }
  }

  @media (max-width: 1517px) {
    max-width: 1200px;
    width: 100%;
  }

  @media (max-width: 1317px) {
    max-width: 1080px;
  }

  @media (max-width: 1197px) {
    max-width: 900px;
  }

  @media (max-width: 1017px) {
    max-width: 768px;
    &__cards {
      gap: 15px;
    }
  }

  @media (max-width: 861px) {
    max-width: 480px;
    margin-top: -190px;
    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }

  @media (max-width: 491px) {
    max-width: 375px;
    margin-top: -190px;
    &__cards {
      gap: 10px;
    }
  }

  @media (max-width: 376px) {
    max-width: 355px;
    margin-top: -220px;
  }

  @media (max-width: 351px) {
    max-width: 300px;
    margin-top: -220px;
  }
}
