.user-menu {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    align-items: center;
    justify-content: center;
    column-gap: 23px;

    @media (max-width: 1517px) {
      column-gap: 5px;
    }

    @media (max-width: 1317px) {
      column-gap: 5px;
    }
  }

  &__icon_border {
    width: 61px;
    height: 50px;
    padding: 0;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }

  &__icon {
    width: 24px;
    height: 24px;
    padding: 10px 5px;

    @media (max-width: 861px) {
      display: none;
    }

    &_border {

      @media (max-width: 1197px) {
        width: 51px;
        height: 40px;
      }
    }
  }
}