@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-Bold.eot");
  src: local("Druk Cyr Bold"), local("DrukCyr-Bold"), url("../fonts/druk/DrukCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-Bold.woff2") format("woff2"), url("../fonts/druk/DrukCyr-Bold.woff") format("woff"), url("../fonts/druk/DrukCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-Heavy.eot");
  src: local("Druk Cyr Heavy"), local("DrukCyr-Heavy"), url("../fonts/druk/DrukCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-Heavy.woff2") format("woff2"), url("../fonts/druk/DrukCyr-Heavy.woff") format("woff"), url("../fonts/druk/DrukCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-HeavyItalic.eot");
  src: local("Druk Cyr Heavy Italic"), local("DrukCyr-HeavyItalic"), url("../fonts/druk/DrukCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-HeavyItalic.woff2") format("woff2"), url("../fonts/druk/DrukCyr-HeavyItalic.woff") format("woff"), url("../fonts/druk/DrukCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-MediumItalic.eot");
  src: local("Druk Cyr Medium Italic"), local("DrukCyr-MediumItalic"), url("../fonts/druk/DrukCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-MediumItalic.woff2") format("woff2"), url("../fonts/druk/DrukCyr-MediumItalic.woff") format("woff"), url("../fonts/druk/DrukCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-SuperItalic.eot");
  src: local("Druk Cyr Super Italic"), local("DrukCyr-SuperItalic"), url("../fonts/druk/DrukCyr-SuperItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-SuperItalic.woff2") format("woff2"), url("../fonts/druk/DrukCyr-SuperItalic.woff") format("woff"), url("../fonts/druk/DrukCyr-SuperItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-Super.eot");
  src: local("Druk Cyr Super"), local("DrukCyr-Super"), url("../fonts/druk/DrukCyr-Super.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-Super.woff2") format("woff2"), url("../fonts/druk/DrukCyr-Super.woff") format("woff"), url("../fonts/druk/DrukCyr-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-Medium.eot");
  src: local("Druk Cyr Medium"), local("DrukCyr-Medium"), url("../fonts/druk/DrukCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-Medium.woff2") format("woff2"), url("../fonts/druk/DrukCyr-Medium.woff") format("woff"), url("../fonts/druk/DrukCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Druk Cyr";
  src: url("../fonts/druk/DrukCyr-BoldItalic.eot");
  src: local("Druk Cyr Bold Italic"), local("DrukCyr-BoldItalic"), url("../fonts/druk/DrukCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/druk/DrukCyr-BoldItalic.woff2") format("woff2"), url("../fonts/druk/DrukCyr-BoldItalic.woff") format("woff"), url("../fonts/druk/DrukCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
.section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.section.swiper-slide {
  height: 100vh;
}
.section.swiper-slide-active .section__text {
  transform: translateY(50%);
  bottom: 50%;
  opacity: 1;
  transition: 0.8s 0.2s all ease;
}
.section.swiper-slide-active .section__pics {
  transform: scale(1.05);
  transition: 1s all linear;
}
.section:first-child.swiper-slide-active .section__text {
  transform: translateY(20%);
  bottom: 20%;
  opacity: 1;
  transition: 0.8s 0.2s all ease;
}
.section:first-child .section__wrap {
  align-items: flex-end;
}
.section:first-child .section__wrap:before {
  content: none;
}
.section:first-child .section__title {
  margin-bottom: 2%;
}
.section:last-child .section__title {
  font-size: 120px;
  line-height: 100%;
  margin-bottom: 50px;
  letter-spacing: normal;
}
@media screen and (max-width: 1440px) {
  .section:last-child .section__title {
    font-size: 100px;
    margin-bottom: 20px;
  }
}
.section__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  position: relative;
}
.section__wrap:before, .section__wrap:after {
  content: none;
  position: absolute;
  width: 100%;
  height: 35%;
  left: 0;
  z-index: 2;
}
.section__wrap:before {
  top: 0;
  background: linear-gradient(0, rgba(228, 187, 165, 0) 0%, #E4BBA5 100%);
}
.section__wrap:after {
  bottom: 0;
  background: linear-gradient(180deg, rgba(228, 187, 165, 0) 0%, #E4BBA5 100%);
}
.section__title {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.15);
  font-size: 150px;
  text-transform: uppercase;
  font-family: "Druk Cyr", sans-serif;
  text-align: center;
  line-height: 90%;
  letter-spacing: 6.75px;
  position: relative;
  z-index: 5;
}
.section__pics {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
  transition: 1s all linear;
}
.section__pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section__text {
  position: absolute;
  z-index: 5;
  text-align: center;
  height: auto;
  bottom: 0;
  opacity: 0.3;
  transform: none;
  transition: 0.8s 0.2s all ease;
}
.section img {
  max-width: 100%;
}

.menu-fixed {
  position: fixed;
  top: 18px;
  left: 24px;
  z-index: 100;
  transform: scale(1);
  transition: 0.5s all linear;
}
.menu-fixed:hover {
  transform: scale(1.05);
}

.online-fixed {
  position: fixed;
  right: 20px;
  bottom: 120px;
  z-index: 100;
  transform: scale(1);
  transition: 0.5s all linear;
}
.online-fixed:hover {
  transform: scale(1.05);
}

.menu-btn {
  max-height: 350px;
}

.phone {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 120px;
}
@media screen and (max-width: 1440px) {
  .phone {
    font-size: 120px;
    margin-top: -40px;
  }
}

.main-v2 .swiper-slide-active .section__text {
  transform: translate(-50%, 50%);
  left: 50%;
}
.main-v2 .section__text {
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.main-v2 .section__text img {
  max-width: 960px;
}
.main-v2 .section__title {
  white-space: nowrap;
}
.main-v2 .section:first-child .section__text {
  bottom: 30%;
}
.main-v2 .section:first-child.swiper-slide-active .section__text {
  transform: translate(-50%, 20%);
  left: 50%;
  bottom: 20%;
}
.main-v2 .phone {
  white-space: nowrap;
}

.menu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: 8px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s all linear;
}
.menu-toggle.active {
  opacity: 1;
  pointer-events: initial;
}
.menu-toggle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.menu-toggle__close {
  position: absolute;
  right: 30px;
  top: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  width: 137px;
  height: 137px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12.5px);
  z-index: 10;
}
.menu-toggle__wrap {
  border-radius: 0 284px 284px 284px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12.5px);
  padding: 120px;
  width: 50%;
  position: relative;
}
@media screen and (max-width: 1440px) {
  .menu-toggle__wrap {
    padding: 50px 60px 100px 120px;
  }
}
.menu-toggle__wrap:before {
  content: "";
  position: absolute;
  width: calc(100% + 22px);
  height: 100%;
  left: 0;
  top: 15px;
  border-radius: 0 284px 284px 284px;
  border: 1px solid #FFF;
  pointer-events: none;
}
.menu-toggle__wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu-toggle__wrap ul li {
  font-family: "Druk Cyr", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 1000;
  line-height: 120%;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
@media screen and (max-width: 1440px) {
  .menu-toggle__wrap ul li {
    font-size: 50px;
  }
}
.menu-toggle__wrap ul li a {
  color: rgba(255, 255, 255, 0.95);
  text-decoration: none;
}

.icon-fixed {
  position: fixed;
  width: 137px;
  height: 137px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12.5px);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-fixed img {
  max-width: 100%;
}
@media screen and (max-width: 979px) {
  .icon-fixed {
    width: 100px;
    height: 100px;
  }
}
.icon-fixed:before, .icon-fixed:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  transition: 0.8s all ease-in-out;
}
.icon-fixed:before {
  top: -3px;
  left: -8px;
}
.icon-fixed:after {
  top: 3px;
  left: 8px;
}
.icon-fixed:hover:before {
  top: 3px;
  left: 8px;
}
.icon-fixed:hover:after {
  top: -3px;
  left: -8px;
}
.icon-fixed_burger {
  top: 20px;
  left: 30px;
}
.icon-fixed_phone {
  right: 20px;
  bottom: 130px;
}

.main-slider__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfdfdf;
  position: relative;
}
.main-slider__item.swiper-slide {
  height: 100vh;
}
.main-slider__item.swiper-slide-active .index-slide__pics {
  transform: scale(1.05);
  transition: 1s all linear;
}
.main-slider__item.swiper-slide-active .index-slide__wrap {
  transform: translateX(0);
  opacity: 1;
}
.main-slider .index-slide__wrap {
  width: 100%;
  transform: translateX(-50%);
  opacity: 0.3;
  transition: 0.8s 0.2s all ease;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.main-slider .index-slide__pics {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
  transition: 1s all linear;
}
.main-slider .index-slide__title {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 4px 60px rgba(0, 0, 0, 0.15);
  font-size: 150px;
  text-transform: uppercase;
  font-family: "Druk Cyr", sans-serif;
  text-align: center;
  line-height: 90%;
  letter-spacing: 6.75px;
  position: relative;
  z-index: 5;
}

.nav__item {
  color: #FFF;
  text-shadow: 0 0 25px #C5B295;
  font-family: "Druk Cyr", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 1000;
  line-height: 90%;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  padding-top: 50%;
}
.nav__item:before {
  content: "";
  padding-top: 100%;
  float: left;
}
.nav__item span {
  width: 100%;
  margin: auto;
  background: silver;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
