/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* Reset CSS */

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}