.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: transparent;
  transition: .2s background-color ease-in;

  &--color {
    background: rgba(20, 39, 48, .9);

    .header__wrap {
      padding-top: 0;
      padding-bottom: 0;

      @media #{$tablet} {
        padding: 13px 25px;
      }
    }
  }

  &__wrap {
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    transition: .2s all ease-in;

    @media #{$phone} {
      padding: 13px 25px;
    }
  }

  &__nav {
    width: 100%;
  }
}