// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop_l: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$laptop_s: 'screen and (max-width: 1024px)';
$tablet: 'screen and (max-width: 768px)';
$phone: 'screen and (max-width: 425px)';
$phone_s: 'screen and (max-width: 320px)';



