// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$laptop_s: 'screen and (max-width: 1024px)';
$tablet: 'screen and (max-width: 999px)';
$tablet_s: 'screen and (max-width: 999px)';
$phone: 'screen and (max-width: 425px)';



