@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url("fonts/bebasneuethin.woff2") format("woff2"), url("fonts/bebasneuethin.woff") format("woff"), url("fonts/bebasneuethin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Light"), local("BebasNeue-Light"), url("fonts/bebasneuelight.woff2") format("woff2"), url("fonts/bebasneuelight.woff") format("woff"), url("fonts/bebasneuelight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("fonts/bebasneuebook.woff2") format("woff2"), url("fonts/bebasneuebook.woff") format("woff"), url("fonts/bebasneuebook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("fonts/bebasneueregular.woff2") format("woff2"), url("fonts/bebasneueregular.woff") format("woff"), url("fonts/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("fonts/bebasneuebold.woff2") format("woff2"), url("fonts/bebasneuebold.woff") format("woff"), url("fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fit-schedule {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #c4c9c9 17.86%, #fff 100%);
  min-height: 100vh;
  padding-top: 30px;
  position: relative;
}
.fit-schedule:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.fit-schedule__header {
  position: sticky;
  padding: 20px 50px 0 50px;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .fit-schedule__header {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.fit-schedule__header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% + 40px);
  background: linear-gradient(to bottom, #c4c9c9, transparent);
  pointer-events: none;
}
.fit-schedule__wrap {
  padding: 0 50px;
}
@media screen and (max-width: 767px) {
  .fit-schedule__wrap {
    padding: 0 16px;
  }
}
.fit-schedule__sort {
  padding: 0 55px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .fit-schedule__sort {
    padding: 0;
    display: none;
  }
}
.fit-schedule__sort .fit-sort {
  display: flex;
  flex-wrap: wrap;
}
.fit-schedule__sort .fit-sort__item {
  margin-right: 50px;
}
.fit-schedule__sort .fit-sort__item:last-child {
  margin-right: 0;
}
.fit-schedule__sort .fit-sort .sort-item {
  position: relative;
  cursor: pointer;
}
.fit-schedule__sort .fit-sort .sort-item:hover .sort-popup {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  height: auto;
}
.fit-schedule__sort .fit-sort .sort-item__title {
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  text-transform: uppercase;
  color: #3a4b55;
  padding-right: 20px;
  position: relative;
}
.fit-schedule__sort .fit-sort .sort-item__title:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 7px;
  background-image: url("images/arrow-down.svg");
  background-repeat: no-repeat;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.fit-schedule__sort .fit-sort .sort-popup {
  font-weight: 400;
  text-transform: uppercase;
  line-height: 130%;
  font-size: 18px;
  min-width: 281px;
  position: absolute;
  left: calc(50% - 20px);
  top: 30px;
  padding-top: 25px;
  opacity: 0;
  height: 0;
  pointer-events: none;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s all ease-out;
  z-index: 100;
}
.fit-schedule__sort .fit-sort .sort-popup:hover {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  height: auto;
}
.fit-schedule__sort .fit-sort .sort-popup__wrap {
  border-radius: 30px;
  background-color: #d2d2d2;
  width: 100%;
  padding: 22px;
  position: relative;
}
.fit-schedule__sort .fit-sort .sort-popup__wrap:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 50px solid #d2d2d2;
  border-bottom: 20px solid transparent;
  position: absolute;
  left: 0;
  top: -15px;
}
.fit-schedule__sort .fit-sort .sort-popup__inner {
  max-height: 220px;
}
.fit-schedule__sort .fit-sort .sort-popup__inner.view-scroll {
  overflow-y: scroll;
}
.fit-schedule__sort .fit-sort .sort-popup__inner.view-scroll::-webkit-scrollbar {
  width: 1px;
}
.fit-schedule__sort .fit-sort .sort-popup__inner.view-scroll::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.fit-schedule__sort .fit-sort .sort-popup__inner.view-scroll::-webkit-scrollbar-thumb {
  background-color: #3A4B55;
}
.fit-schedule__sort .fit-sort .sort-popup__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.fit-schedule__sort .fit-sort .sort-popup__item {
  padding-bottom: 10px;
}
.fit-schedule__sort .fit-sort .sort-popup__item:last-child {
  margin-bottom: 0;
}
.fit-schedule__sort .fit-sort .sort-popup__item a {
  color: #5d6b74;
  text-decoration: none;
  transition: 0.2s color ease-out;
}
.fit-schedule__sort .fit-sort .sort-popup__item a:hover {
  color: #f75b2d;
}
.fit-schedule .schedule-head {
  position: relative;
}
.fit-schedule .schedule-head__slider {
  width: 100%;
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-head__slider {
    box-shadow: none;
  }
}
.fit-schedule .schedule-head__wrap {
  display: flex;
  align-items: center;
  backdrop-filter: blur(25px);
  background: rgba(217, 217, 217, 0.2);
  border-radius: 65px;
}
.fit-schedule .schedule-head .f-row {
  display: flex;
  width: 100%;
}
.fit-schedule .schedule-head .f-row .f-col {
  text-align: center;
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-head .f-row .f-col {
    box-shadow: none;
    background: none;
  }
}
@media screen and (min-width: 767px) {
  .fit-schedule .schedule-head .f-row .f-col.current .f-date {
    box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
    background: rgba(255, 255, 255, 0.5);
  }
  .fit-schedule .schedule-head .f-row .f-col.current .f-date span {
    color: #f75b2d;
  }
}
.fit-schedule .schedule-head .f-row .f-col.past-date .f-date {
  opacity: 0.2;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-head .f-row .f-col.active .f-date {
    box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
    background: rgba(255, 255, 255, 0.5);
  }
  .fit-schedule .schedule-head .f-row .f-col.active .f-date span {
    color: #f75b2d;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .fit-schedule .schedule-head .f-row .f-col.active .f-date {
    background-image: url("images/bg-f-date.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    box-shadow: none;
    font-weight: 600;
  }
  .fit-schedule .schedule-head .f-row .f-col.active .f-date span {
    color: #ffffff;
  }
}
.fit-schedule .schedule-head .f-arrow {
  font-size: 0;
  width: 55px;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: 0.1s all ease-out;
  cursor: pointer;
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
  user-select: none;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-head .f-arrow {
    display: none;
  }
}
.fit-schedule .schedule-head .f-arrow:hover {
  background: rgba(255, 255, 255, 0.5);
}
.fit-schedule .schedule-head .f-arrow_type_left {
  border-right: 0;
  border-radius: 65px 0 0 65px;
}
.fit-schedule .schedule-head .f-arrow_type_right {
  border-left: 0;
  border-radius: 0 65px 65px 0;
}
.fit-schedule .schedule-head .f-date {
  font-size: 20px;
  line-height: 125%;
  color: #3f494e;
  text-transform: uppercase;
  padding: 17px 0 10px 0;
  background: transparent;
  box-shadow: none;
  transition: 0.1s all ease-out;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-head .f-date {
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  }
}
.fit-schedule .schedule-head .f-date i {
  font-style: normal;
  display: block;
}
.fit-schedule .schedule-head .f-date span {
  color: #768186;
  transition: 0.1s color linear;
}
.fit-schedule .fit-card {
  padding: 15px;
  background-color: transparent;
  transition: 0.1s all ease-out;
  cursor: pointer;
  height: auto;
  min-height: 197px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
}
@media screen and (max-width: 767px) {
  .fit-schedule .fit-card {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
}
.fit-schedule .fit-card.empty:hover {
  background: transparent;
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
}
.fit-schedule .fit-card:hover {
  background-color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .fit-schedule .fit-card:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
.fit-schedule .fit-card:hover .fit-card__name {
  color: #f75b2d;
}
.fit-schedule .fit-card.active {
  background-color: #FFFFFF;
}
.fit-schedule .fit-card.active .fit-card__name {
  color: #f75b2d;
}
.fit-schedule .fit-card__duration {
  padding-top: 5px;
}
.fit-schedule .fit-card__date {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fit-schedule .fit-card__day {
  font-size: 30px;
  text-transform: uppercase;
  color: #657984;
  font-weight: 300;
  margin-right: 10px;
  display: flex;
}
.fit-schedule .fit-card__day i {
  font-style: normal;
  line-height: 1em;
  margin-top: 8px;
  margin-right: 6px;
}
.fit-schedule .fit-card__day span {
  color: #3a4b55;
  font-size: 45px;
}
.fit-schedule .fit-card__time {
  font-size: 28px;
  text-transform: uppercase;
  color: #8ea1ac;
}
.fit-schedule .fit-card__spec {
  display: flex;
  align-items: center;
}
.fit-schedule .fit-card__spec .spec-icon {
  margin-right: 5px;
  font-size: 0;
}
.fit-schedule .fit-card__spec .spec-icon:last-child {
  margin-right: 0;
}
.fit-schedule .fit-card__name {
  font-size: 25px;
  text-transform: uppercase;
  color: #3F494E;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .fit-schedule .fit-card__name {
    color: #f75b2d;
  }
}
.fit-schedule .fit-card__name span {
  font-size: 15px;
  color: #8ea1ac;
  display: block;
  font-weight: 400;
}
.fit-schedule .fit-card__trainer {
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  color: #8ea1ac;
}
.fit-schedule .schedule-body__week {
  display: flex;
  position: relative;
}
.fit-schedule .schedule-body__week:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: calc(100% - 50px);
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}
.fit-schedule .schedule-body .f-time {
  width: 55px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #657984;
  font-weight: 400;
  font-size: 20px;
  position: relative;
}
.fit-schedule .schedule-body .f-time.current {
  color: #F75B2D;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-body .f-time {
    display: none;
  }
}
.fit-schedule .schedule-body .f-time span {
  transform: rotate(-90deg);
  transform-origin: center;
}
.fit-schedule .schedule-body .f-col {
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-body .f-col {
    box-shadow: none;
  }
}
.fit-schedule .schedule-body .f-col.current .fit-card {
  background-color: #FFFFFF;
}
.fit-schedule .schedule-body .f-col.current .fit-card.empty {
  background-color: transparent;
  box-shadow: none;
}
.fit-schedule .schedule-body .f-col.current .fit-card.empty .fit-card__name {
  color: #3F494E;
}
.fit-schedule .schedule-body .f-col.current .fit-card .fit-card__name {
  color: #f75b2d;
}
.fit-schedule .schedule-body .f-col.past-date .fit-card {
  opacity: 0.2;
  pointer-events: none;
}
.fit-schedule .schedule-body__hours .f-time:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  bottom: -1px;
}
.fit-schedule .schedule-body__hours_type_left .f-time:after {
  right: 0;
}
.fit-schedule .schedule-body__hours_type_right .f-time {
  border-left: 1px solid #ffffff;
}
.fit-schedule .schedule-body__hours_type_right .f-time:after {
  left: 0;
}
.fit-schedule .schedule-body__time {
  box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
  display: grid;
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-body__time {
    box-shadow: none;
  }
}
.fit-schedule .schedule-body__time.max-count-1 {
  grid-template-rows: 1fr;
}
.fit-schedule .schedule-body__time.max-count-2 {
  grid-template-rows: repeat(2, 1fr);
}
.fit-schedule .schedule-body__time.max-count-3 {
  grid-template-rows: repeat(3, 1fr);
}
.fit-schedule .schedule-body__time.max-count-4 {
  grid-template-rows: repeat(4, 1fr);
}
.fit-schedule .schedule-body__time.max-count-5 {
  grid-template-rows: repeat(5, 1fr);
}
.fit-schedule .schedule-body__time.max-count-6 {
  grid-template-rows: repeat(6, 1fr);
}
.fit-schedule .schedule-body__time.max-count-7 {
  grid-template-rows: repeat(7, 1fr);
}
.fit-schedule .schedule-body__time.max-count-8 {
  grid-template-rows: repeat(8, 1fr);
}
.fit-schedule .schedule-body__time.max-count-9 {
  grid-template-rows: repeat(9, 1fr);
}
.fit-schedule .schedule-body__time.max-count-10 {
  grid-template-rows: repeat(10, 1fr);
}
@media screen and (max-width: 767px) {
  .fit-schedule .schedule-body__time.max-count-1, .fit-schedule .schedule-body__time.max-count-2, .fit-schedule .schedule-body__time.max-count-3, .fit-schedule .schedule-body__time.max-count-4, .fit-schedule .schedule-body__time.max-count-5, .fit-schedule .schedule-body__time.max-count-6, .fit-schedule .schedule-body__time.max-count-7, .fit-schedule .schedule-body__time.max-count-8, .fit-schedule .schedule-body__time.max-count-9, .fit-schedule .schedule-body__time.max-count-10 {
    grid-template-rows: auto;
  }
}

/*# sourceMappingURL=style.css.map */
