@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
  url('fonts/bebasneuethin.woff2') format('woff2'),
  url('fonts/bebasneuethin.woff') format('woff'),
  url('fonts/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'),
  url('fonts/bebasneuelight.woff2') format('woff2'),
  url('fonts/bebasneuelight.woff') format('woff'),
  url('fonts/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'),
  url('fonts/bebasneuebook.woff2') format('woff2'),
  url('fonts/bebasneuebook.woff') format('woff'),
  url('fonts/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
  url('fonts/bebasneueregular.woff2') format('woff2'),
  url('fonts/bebasneueregular.woff') format('woff'),
  url('fonts/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'),
  url('fonts/bebasneuebold.woff2') format('woff2'),
  url('fonts/bebasneuebold.woff') format('woff'),
  url('fonts/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fit-schedule {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #c4c9c9 17.86%, #fff 100%);
  padding: 50px;
  min-height: 100vh;

  &__sort {
    padding: 0 55px;
    margin-bottom: 20px;

    .fit-sort {
      display: flex;
      flex-wrap: wrap;

      &__item {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }

      .sort-item {
        position: relative;
        cursor: pointer;

        &:hover {

          .sort-popup {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            height: auto;
          }
        }

        &__title {
          font-weight: 400;
          font-size: 25px;
          line-height: 150%;
          text-transform: uppercase;
          color: #3a4b55;
          padding-right: 20px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 7px;
            background-image: url("images/arrow-down.svg");
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .sort-popup {
        font-weight: 400;
        text-transform: uppercase;
        line-height: 130%;
        font-size: 18px;
        min-width: 281px;
        position: absolute;
        left: calc(50% - 20px);
        top: 30px;
        padding-top: 25px;
        opacity: 0;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;
        transition: .2s all ease-out;
        z-index: 100;

        &:hover {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          height: auto;
        }

        &__wrap {
          border-radius: 30px;
          background-color: #d2d2d2;
          width: 100%;
          padding: 22px;
          position: relative;

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-left: 50px solid #d2d2d2;
            border-bottom: 20px solid transparent;
            position: absolute;
            left: 0;
            top: -15px;
          }
        }

        &__inner {
          max-height: 220px;

          &.view-scroll {
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 1px;
            }

            &::-webkit-scrollbar-track {
              background-color: #ffffff;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #3A4B55;
            }
          }

        }

        &__list {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        &__item {
          padding-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: #5d6b74;
            text-decoration: none;
            transition: .2s color ease-out;

            &:hover {
              color: #f75b2d;
            }
          }

        }
      }
    }
  }

  &__wrap {

    .schedule-head {

      &__slider {
        width: 100%;
        box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
      }

      &__wrap {
        display: flex;
        align-items: center;
      }

      .f-row {
        display: flex;
        width: 100%;

        .f-col {
          text-align: center;
          box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
        }
      }

      .f-arrow {
        font-size: 0;
        width: 55px;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        //border: 1px solid #ffffff;
        background: transparent;
        //box-shadow: none;
        transition: .1s all ease-out;
        cursor: pointer;
        box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

        &:hover {
          //box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
          background: rgba(255, 255, 255, 0.5);
        }

        &_type {

          &_left {
            border-right: 0;
            border-radius: 65px 0 0 65px;
          }

          &_right {
            border-left: 0;
            border-radius: 0 65px 65px 0;
          }
        }
      }

      .f-date {
        font-size: 20px;
        line-height: 125%;
        color: #3f494e;
        text-transform: uppercase;
        padding: 17px 0 10px 0;
        cursor: pointer;
        background: transparent;
        box-shadow: none;
        transition: .1s all ease-out;

        span {
          color: #768186;
          transition: .1s color linear;
        }

        &:hover,
        &.current {
          box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
          background: rgba(255, 255, 255, 0.5);

          span {
            color: #f75b2d;
          }
        }
      }
    }
  }

  .fit-card {
    padding: 15px;
    background-color: transparent;
    transition: .1s all ease-out;
    //box-shadow: none;
    cursor: pointer;
    //height: 208px;
    height: auto;
    display: flex;
    flex-direction: column;
    //border-right: 1px solid #fff;
    //border-bottom: 1px solid #fff;
    box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

    &.empty {

      &:hover {
        background: transparent;
        box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
      }
    }

    &:hover {
      background-color: #FFFFFF;
      //box-shadow: 0 4px 25px 0 rgba(58, 75, 85, 0.2);

      .fit-card__name {
        color: #f75b2d;
      }
    }

    &.active {
      background-color: #FFFFFF;

      .fit-card__name {
        color: #f75b2d;
      }
    }

    &__duration {
      padding-top: 5px;
    }

    &__date {
      display: flex;
      margin-bottom: 10px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__day {
      font-size: 30px;
      text-transform: uppercase;
      color: #657984;
      font-weight: 300;
      margin-right: 10px;
      display: flex;

      i {
        font-style: normal;
        line-height: 1em;
        margin-top: 8px;
        margin-right: 6px;
      }

      span {
        color: #3a4b55;
        font-size: 45px;
      }
    }

    &__time {
      font-size: 28px;
      text-transform: uppercase;
      color: #8ea1ac;
    }

    &__spec {
      display: flex;
      align-items: center;

      .spec-icon {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__name {
      font-size: 25px;
      text-transform: uppercase;
      color: #3F494E;
      font-weight: 600;
      margin-bottom: 20px;

      span {
        font-size: 15px;
        color: #8ea1ac;
        display: block;
        font-weight: 400;
      }
    }

    &__trainer {
      font-size: 20px;
      line-height: 125%;
      text-transform: uppercase;
      color: #8ea1ac;
      margin-top: auto;
    }
  }

  .schedule-body {

    &__week {
      display: flex;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: calc(100% - 50px);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
      }
    }

    .f-time {
      width: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #657984;
      font-weight: 400;
      font-size: 20px;
      position: relative;

      span {
        transform: rotate(-90deg);
        transform-origin: center;
      }
    }

    .f-col {
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

      &.current {

          .fit-card {
            background-color: #FFFFFF;

            &.empty {
              background-color: transparent;
              box-shadow: none;

              .fit-card__name {
                color: #3F494E;
              }
            }

            .fit-card__name {
              color: #f75b2d;
            }
          }
      }
    }

    &__hours {

      .f-time {

        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          background-color: #ffffff;
          bottom: -1px;
        }
      }

      &_type_left {

        .f-time {

          &:after {
            right: 0;
          }
        }
      }

      &_type_right {

        .f-time {
          border-left: 1px solid #ffffff;

          &:after {
            left: 0;
          }
        }
      }
    }

    &__time {
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
    }

  }
}