@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
  url('fonts/bebasneuethin.woff2') format('woff2'),
  url('fonts/bebasneuethin.woff') format('woff'),
  url('fonts/bebasneuethin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Light'), local('BebasNeue-Light'),
  url('fonts/bebasneuelight.woff2') format('woff2'),
  url('fonts/bebasneuelight.woff') format('woff'),
  url('fonts/bebasneuelight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Book'), local('BebasNeueBook'),
  url('fonts/bebasneuebook.woff2') format('woff2'),
  url('fonts/bebasneuebook.woff') format('woff'),
  url('fonts/bebasneuebook.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
  url('fonts/bebasneueregular.woff2') format('woff2'),
  url('fonts/bebasneueregular.woff') format('woff'),
  url('fonts/bebasneueregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue Bold'), local('BebasNeueBold'),
  url('fonts/bebasneuebold.woff2') format('woff2'),
  url('fonts/bebasneuebold.woff') format('woff'),
  url('fonts/bebasneuebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
  url("fonts/Gilroy-Light.woff") format("woff"),

  url("fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
  url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
  url("fonts/Gilroy-Medium.woff") format("woff"),
  url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
  url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/Gilroy-Regular.woff") format("woff"),
  url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.fit-schedule {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(180deg, #c4c9c9 17.86%, #fff 100%);
  min-height: 100vh;
  padding-top: 30px;
  position: relative;
  overflow: hidden;

  &.open-popup {
    max-height: 100vh;
    overflow: hidden;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #3a4b55;
      z-index: 110;
      opacity: .9;
    }
  }

  &__header {
    position: sticky;
    padding: 20px 50px 0 50px;
    top: 0;
    z-index: 10;

    @media screen and (max-width: 767px) {
      padding-left: 16px;
      padding-right: 16px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: -30px;
      width: 100%;
      height: calc(100% + 70px);
      background: linear-gradient(to bottom, #c4c9c9, transparent);
      pointer-events: none;
    }
  }

  &__wrap {
    padding: 0 50px;

    @media screen and (max-width: 767px) {
      padding: 0 16px;
    }
  }

  &__sort {
    padding: 0 55px;
    margin-bottom: 20px;
    position: relative;

    @media screen and (max-width: 767px) {
      padding: 0;
      display: none;
    }

    .fit-sort {
      display: flex;
      flex-wrap: wrap;

      &__item {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }

      .sort-item {
        position: relative;
        cursor: pointer;

        &:hover {

          .sort-popup {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            height: auto;
          }
        }

        &__title {
          font-weight: 400;
          font-size: 25px;
          line-height: 150%;
          text-transform: uppercase;
          color: #3a4b55;
          padding-right: 20px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            width: 12px;
            height: 7px;
            background-image: url("images/arrow-down.svg");
            background-repeat: no-repeat;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      .sort-popup {
        font-weight: 400;
        text-transform: uppercase;
        line-height: 130%;
        font-size: 18px;
        min-width: 281px;
        position: absolute;
        left: calc(50% - 20px);
        top: 30px;
        padding-top: 25px;
        opacity: 0;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        visibility: hidden;
        transition: .2s all ease-out;
        z-index: 100;

        &:hover {
          opacity: 1;
          pointer-events: auto;
          visibility: visible;
          height: auto;
        }

        &__wrap {
          border-radius: 30px;
          background-color: #d2d2d2;
          width: 100%;
          padding: 22px;
          position: relative;

          &:before {
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-left: 50px solid #d2d2d2;
            border-bottom: 20px solid transparent;
            position: absolute;
            left: 0;
            top: -15px;
          }
        }

        &__inner {
          max-height: 220px;

          &.view-scroll {
            overflow-y: scroll;

            &::-webkit-scrollbar {
              width: 1px;
            }

            &::-webkit-scrollbar-track {
              background-color: #ffffff;
            }

            &::-webkit-scrollbar-thumb {
              background-color: #3A4B55;
            }
          }

        }

        &__list {
          list-style: none;
          padding: 0;
          margin: 0;
        }

        &__item {
          padding-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            color: #5d6b74;
            text-decoration: none;
            transition: .2s color ease-out;

            &:hover {
              color: #f75b2d;
            }
          }

        }
      }
    }
  }

  .schedule-head {
    position: relative;

    &__slider {
      width: 100%;
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

      @media screen and (max-width: 767px) {
        box-shadow: none;
      }
    }

    &__wrap {
      display: flex;
      align-items: center;
      backdrop-filter: blur(25px);
      background: rgba(217, 217, 217, 0.2);
      border-radius: 65px;
    }

    .f-row {
      display: flex;
      width: 100%;

      .f-col {
        text-align: center;
        box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
        //background: rgba(217, 217, 217, 0.9);

        @media screen and (max-width: 767px) {
          box-shadow: none;
          background: none;
        }

        &.current {

          @media screen and (min-width: 767px) {

            .f-date {
              box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
              background: rgba(255, 255, 255, 0.5);

              span {
                color: #f75b2d;
              }
            }
          }
        }

        &.past-date {

          .f-date {
            opacity: .2;
          }
        }

        &.active {

          @media screen and (max-width: 767px) {

            .f-date {
              box-shadow: 0 4px 25px 0 rgba(41, 56, 64, 0.1);
              background: rgba(255, 255, 255, 0.5);

              span {
                color: #f75b2d;
              }

              @media screen and (max-width: 767px) {
                background-image: url("images/bg-f-date.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-color: transparent;
                box-shadow: none;
                font-weight: 600;

                span {
                  color: #ffffff;
                }
              }
            }
          }
        }
      }
    }

    .f-arrow {
      font-size: 0;
      width: 55px;
      align-self: stretch;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      transition: .1s all ease-out;
      cursor: pointer;
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
      user-select: none;

      @media screen and (max-width: 767px) {
        display: none;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &_type {

        &_left {
          border-right: 0;
          border-radius: 65px 0 0 65px;
        }

        &_right {
          border-left: 0;
          border-radius: 0 65px 65px 0;
        }
      }
    }

    .f-date {
      font-size: 20px;
      line-height: 125%;
      color: #3f494e;
      text-transform: uppercase;
      padding: 17px 0 10px 0;
      background: transparent;
      box-shadow: none;
      transition: .1s all ease-out;

      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 100%;
        font-weight: 500;
      }

      i {
        font-style: normal;
        display: block;
      }

      span {
        color: #768186;
        transition: .1s color linear;
      }

    }
  }

  .fit-card {
    padding: 15px;
    background-color: transparent;
    transition: .1s all ease-out;
    cursor: pointer;
    height: auto;
    min-height: 197px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

    @media screen and (max-width: 767px) {
      box-shadow: none;
      background: rgba(255, 255, 255, 0.5);
      margin-bottom: 10px;
    }

    &.empty {

      &:hover {
        background: transparent;
        box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
      }
    }

    &:hover {
      background-color: #FFFFFF;

      @media screen and (max-width: 767px) {
        background: rgba(255, 255, 255, 0.5);
      }

      .fit-card__name {
        color: #f75b2d;
      }
    }

    &.active {
      background-color: #FFFFFF;

      .fit-card__name {
        color: #f75b2d;
      }
    }

    &__duration {
      padding-top: 5px;
    }

    &__date {
      display: flex;
      margin-bottom: 10px;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__day {
      font-size: 30px;
      text-transform: uppercase;
      color: #657984;
      font-weight: 300;
      margin-right: 10px;
      display: flex;

      i {
        font-style: normal;
        line-height: 1em;
        margin-top: 8px;
        margin-right: 6px;
      }

      span {
        color: #3a4b55;
        font-size: 45px;
      }
    }

    &__time {
      font-size: 28px;
      text-transform: uppercase;
      color: #8ea1ac;
    }

    &__spec {
      display: flex;
      align-items: center;

      .spec-icon {
        margin-right: 5px;
        font-size: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__name {
      font-size: 25px;
      text-transform: uppercase;
      color: #3F494E;
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: auto;

      @media screen and (max-width: 767px) {
        color: #f75b2d;
      }

      span {
        font-size: 15px;
        color: #8ea1ac;
        display: block;
        font-weight: 400;
      }
    }

    &__trainer {
      font-size: 20px;
      line-height: 125%;
      text-transform: uppercase;
      color: #8ea1ac;
    }
  }

  .schedule-body {

    &__week {
      display: flex;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: calc(100% - 50px);
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
      }
    }

    .f-time {
      width: 55px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #657984;
      font-weight: 400;
      font-size: 20px;
      position: relative;

      &.current {
        color: #F75B2D;
      }
      
      @media screen and (max-width: 767px) {
        display: none;
      }

      span {
        transform: rotate(-90deg);
        transform-origin: center;
      }
    }

    .f-col {
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;

      @media screen and (max-width: 767px) {
        box-shadow: none;
      }

      &.current {

          .fit-card {
            background-color: #FFFFFF;

            &.empty {
              background-color: transparent;
              box-shadow: none;

              .fit-card__name {
                color: #3F494E;
              }
            }

            .fit-card__name {
              color: #f75b2d;
            }
          }
      }

      &.past-date {

        .fit-card {
          opacity: .2;
          pointer-events: none;
        }
      }

    }

    &__hours {

      .f-time {

        &:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 1px;
          background-color: #ffffff;
          bottom: -1px;
        }
      }

      &_type_left {

        .f-time {

          &:after {
            right: 0;
          }
        }
      }

      &_type_right {

        .f-time {
          border-left: 1px solid #ffffff;

          &:after {
            left: 0;
          }
        }
      }
    }

    &__time {
      box-shadow: 1px 0 0 0 #ffffff, 0 1px 0 0 #ffffff, 1px 1px 0 0 #ffffff, 1px 0 0 0 #ffffff inset, 0 1px 0 0 #ffffff inset;
      display: grid;

      @media screen and (max-width: 767px) {
        box-shadow: none;
      }

      &.max-count {

        &-1 {
          grid-template-rows: 1fr;
        }

        &-2 {
          grid-template-rows: repeat(2, 1fr);
        }

        &-3 {
          grid-template-rows: repeat(3, 1fr);
        }

        &-4 {
          grid-template-rows: repeat(4, 1fr);
        }

        &-5 {
          grid-template-rows: repeat(5, 1fr);
        }

        &-6 {
          grid-template-rows: repeat(6, 1fr);
        }

        &-7 {
          grid-template-rows: repeat(7, 1fr);
        }

        &-8 {
          grid-template-rows: repeat(8, 1fr);
        }

        &-9 {
          grid-template-rows: repeat(9, 1fr);
        }

        &-10 {
          grid-template-rows: repeat(10, 1fr);
        }

        &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10 {

          @media screen and (max-width: 767px) {
            grid-template-rows: auto;
          }
        }
      }
    }

  }

  .popup-schedule {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 200;
    padding: 70px;
    backdrop-filter: blur(25px);
    box-shadow: 0 4px 25px 0 rgba(58, 75, 85, 0.15);
    background: rgba(255, 255, 255, 0.75);
    overflow-y: scroll;
    right: -75%;
    opacity: 0;
    transition: .5s all ease-in-out;

    &.show {
      right: 0;
      opacity: 1;
    }

    @media screen and (max-width: 1590px) {
      padding: 40px;
      width: 90%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 18px;
    }

    &__title {
      color: #647077;
      font-weight: 300;
      font-size: 40px;
      margin-bottom: 50px;
      z-index: 5;
      position: relative;

      @media screen and (max-width: 1590px) {
        margin-bottom: 30px;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 0;
      }

      b {
        display: inline-block;
        font-weight: 700;
        font-size: 150px;
        line-height: 100%;
        text-transform: uppercase;
        background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 1440px) {
          font-size: 120px;
        }

        @media screen and (max-width: 767px) {
          font-size: 100px;
        }
      }

      i {
        display: block;
        font-style: normal;
      }

    }

    &__img {

      @media screen and (max-width: 1590px) {
        transform: scale(.8);
      }

      @media screen and (max-width: 1024px) {
        transform: none;
      }
    }

    &__col {

      &_type {

        &_title {

          @media screen and (max-width: 767px) {
            order: 1;
          }
        }

        &_text {

          @media screen and (max-width: 767px) {
            order: 3;
            display: flex;
            flex-direction: column;
          }
        }

        &_img {
          padding-right: 30px;
          padding-top: 30px;
          grid-row: 1/3;
          grid-column: 2/3;

          @media screen and (max-width: 1024px) {
            padding-right: 0;
            padding-top: 0;
          }

          @media screen and (max-width: 767px) {
            order: 2;
            padding-left: 36px;
            margin-bottom: 30px;
          }
        }
      }
    }

    &__row {
      display: grid;
      column-gap: 140px;
      grid-template-rows: auto;

      @media screen and (max-width: 1590px) {
        column-gap: 40px;
      }

      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
      }
    }

    &__name {
      font-size: 40px;
      line-height: 70%;
      color: #3a4b55;
      margin-bottom: 20px;
      font-weight: 300;

      @media screen and (max-width: 767px) {
        order: 3;
        margin-bottom: 0;
      }
    }

    &__event {
      margin-bottom: 30px;

      @media screen and (max-width: 767px) {
        order: 2;
      }
    }

    &__desc {
      font-size: 18px;
      line-height: 156%;
      color: #3a4b55;
      font-family: 'Gilroy', 'Arial Narrow', sans-serif;

      @media screen and (max-width: 767px) {
        line-height: 120%;
        order: 4;
      }
    }

    .event {

      &__date {
        font-weight: 400;
        font-size: 30px;
        line-height: 83%;
        text-transform: uppercase;
        color: #3f494e;
        margin-bottom: 10px;

        span {
          color: #f75b2d;
        }
      }

      &__row {
        display: flex;
      }

      &__time {
        font-weight: 300;
        font-size: 90px;
        text-transform: uppercase;
        color: #3a4b55;
        line-height: 75%;
      }

      &__col {
        margin-right: 10px;
      }

      &__duration {
        font-weight: 400;
        font-size: 30px;
        line-height: 83%;
        text-transform: uppercase;
        color: #84939c;
      }

      &__cost {
        display: flex;
        align-items: center;

        .spec-icon {
          font-size: 0;
        }

        span {
          display: inline-block;
          font-weight: 300;
          font-size: 40px;
          text-transform: uppercase;
          background: linear-gradient(90deg, #f7672c 0%, #f7602c 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 0 5px;
        }
      }
    }

    .popup-img {
      width: 479px;
      height: 479px;
      position: relative;
      margin-bottom: 20px;

      @media screen and (max-width: 1024px) {
        width: 258px;
        height: 258px;
        margin-bottom: 30px;
      }

      &:before {
        content: "";
        position: absolute;
        width: calc(100% + 120px);
        height: calc(100% + 120px);
        background-image: url(images/img-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        left: -60px;
        top: -60px;

        @media screen and (max-width: 1024px) {
          width: calc(100% + 68px);
          height: calc(100% + 68px);
          left: -34px;
          top: -34px;
        }
      }

      &__wrap {
        clip-path: path('M0 239.5C0 107.228 107.228 0 239.5 0V0C371.772 0 479 107.228 479 239.5V239.5C479 371.772 371.772 479 239.5 479H0V239.5Z');
        width: 100%;
        height: 100%;

        @media screen and (max-width: 1024px) {
            clip-path: path('M0 129.0C0 57.755 57.755 0 129.0 0V0C200.245 0 258.0 57.755 258.0 129.0V129.0C258.0 200.245 200.245 258.0 129.0 258.0H0V129.0Z');
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit:cover;
        object-position: top;
      }
    }

    &__btn {
      position: relative;
      z-index: 5;

      .btn {
        line-height: 90px;
        height: 90px;
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        color: #3a4b55;
        text-decoration: none;
        padding: 0 20px;
        box-sizing: border-box;
        display: inline-block;
        background-image: url("images/btn-bg.svg");
        min-width: 247px;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        transition: .1s all linear;

        @media screen and (max-width: 1024px) {
          background-image: url("images/btn-bg-mobile.svg");
          line-height: 50px;
          height: 50px;
          min-width: 251px;
          margin-left: -34px;
        }

        &:hover {
          color: #f75b2d;
        }

        &_type {

          &_submit {
            display: none;

            &.show {
              display: inline-block;
            }
          }

          &_sign {

            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }

  .schedule-form {
    display: none;

    &.show {
      display: block;
    }

    @media screen and (max-width: 767px) {
      order: 1;
      margin-bottom: 40px;
    }

    &__label {
      position: relative;
      display: block;
      height: 60px;
      margin-bottom: 30px;
      padding: 0 12px;
      background-image: url("images/input_bg.svg");
      background-position: left bottom;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      input {
        appearance: none;
        padding: 0;
        margin: 0;
        border: none;
        background: none;
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 40px;
        font-weight: 400;
        color: #f7602d;
        text-transform: uppercase;
        font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;

        @media screen and (max-width: 767px) {
          font-size: 30px;
        }

        &::placeholder {
          font-weight: 400;
          font-size: 40px;
          text-transform: uppercase;
          background: linear-gradient(92deg, #fabc2a 0%, #f7602d 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;

          @media screen and (max-width: 767px) {
            font-size: 30px;
          }
        }
      }

    }

    &__fields {
      display: flex;
      flex-direction: column;
    }

    &__checkbox {
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #8f9fa8;

      input {
        display: none;

        &:checked {

          & + span {

            &:before {
              background-color: #f75b2d;
              border-color: transparent;
            }
          }
        }
      }

      span {
        position: relative;
        padding-left: 30px;
        display: block;

        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 1px solid #949A9C;
          left: 0;
        }
      }
    }
  }
}
