.main-nav {

  &__row {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;

    @media #{$notebook} {
      column-gap: 40px;
    }

    @media #{$laptop} {
      column-gap: 20px;
    }
  }

  &__col {
    display: flex;
    align-items: center;

    &_type {

      &_toggle {

        .toggle {

          svg {

            path {
              fill: #8089BF;
              transition: .2s all linear;
            }
          }

          &:hover {

            svg {

              path {
                fill: #ffffff;
              }
            }
          }
        }
      }

      &_menu {
        flex-grow: 1;

        @media #{$phone} {
          display: none;
        }
      }

    }
  }
}