.nav {
  font-size: 18px;
  font-family: $font-family-add;

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }

  &__link {
    padding: 0 40px;
    color: #8089BF;
    transition: .2s color ease-out;

    &:hover {
       color: #ffffff;
    }
  }
}