.product {
  margin-bottom: 80px;

  &__row {
    display: flex;
    gap: 20px;
  }

  &__col {

    &_type {

      &_gallery {
        flex-grow: 0;
      }

      &_sku {
        width: 310px;
        flex-shrink: 0;
      }
    }
  }

}