.product-pictograms {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__item {
    max-width: 60px;
    font-size: 0;

    @media #{$phone} {
      max-width: 33px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}