.products {
  margin-bottom: 30px;

  &__title {
    margin-bottom: 60px;

    @media #{$tablet} {
      margin-bottom: 30px;
    }

    .h2 {
      margin-bottom: 0;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    margin-bottom: 50px;
    margin: -14px;
    padding-bottom: 60px;

    @media #{$phone} {
      margin: -10px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      padding-bottom: 30px;
    }
  }

  &__col {
    position: relative;
    padding: 14px;

    @media #{$phone} {
      padding: 10px;

      &:nth-child(even) {

        &:before {
          content: none;
        }

        .decor-line {
          display: none;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: calc(100% + 40px);
      background: linear-gradient(0deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
      z-index: -1;
      pointer-events: none;
    }

    .decor-line {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: -1;
      pointer-events: none;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 9px;
        background-image: url("../images/decor-line.svg");
        background-position: center;
        background-repeat: no-repeat;
        right: calc(-50% - 2px);
      }

      &:before {
        top: -5px;
      }

      &:after {
        bottom: -5px;
      }
    }

    &:last-child {

      &:before {
        content: none;
      }

      .decor-line {
        display: none;
      }
    }
  }

  &__item {
    height: 100%;
  }

  &__more {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(90deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
      z-index: -1;
    }

    .link-more {
      background-color: #050913;
      padding: 0 4px;
    }
  }
}