.about-scheme {

  &__wrap {
    display: flex;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__container {

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 68rem;
      height: 13.8rem;
      background-image: url(../images/decor-block.png);
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &:after {
      right: 0;
      top: 0;
    }

    &:before {
      right: 30%;
      bottom: 5%;

      @media (max-width: 767px) {
        content: none;
      }
    }
  }

  &__floor {
    flex-shrink: 0;
    width: 60%;
    position: relative;
    min-height: 80rem;

    @media (max-width: 767px) {
      width: 100%;
      min-height: 35rem;
    }

    a {
      width: 100%;
      height: auto;
      position: absolute;
      top: 2rem;
      left: 0;
      opacity: .1;
      transition: .5s all linear;

      &.active {
        top: 0;
        opacity: 1;
        z-index: 2;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__nav {
    margin-bottom: 6rem;
    column-gap: 2rem;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      margin-bottom: 2rem;
    }

    a {
      font-weight: 700;
      font-size: 5rem;
      line-height: 6rem;
      color: #fff;
      font-family: $font-family-add;
      text-decoration: none;
      height: 6rem;
      padding: 0 5rem;
      border: 1px solid #cbd93d;
      border-radius: 30px;

      @media (max-width: 767px) {
        font-size: 2rem;
        line-height: 5rem;
        height: 5rem;
        width: 100%;
      }

      &.active,
      &:hover {
        background: linear-gradient(90deg, #93c03d 39.42%, #e0df19 100%);
      }
    }
  }

  &__item {
    display: none;

    &.active {
      display: block;
    }

    ul {
      font-family: $font-family-add;
      list-style: none;
      font-weight: 700;
      font-size: 2rem;
      line-height: 100%;
      color: #fff;
      padding: 0;
      margin: 0;
      counter-reset: chapter 0;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }

      li {
        margin-bottom: 10px;
        position: relative;
        padding-left: 4.6rem;
        line-height: 140%;
        counter-increment: chapter 1;
        width: calc(50% - 10px);
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
          padding-left: 2.6rem;
        }

        &:before {
          content: counter(chapter);
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          background-color: #e8e234;
          font-weight: 700;
          font-size: 2rem;
          line-height: 100%;
          color: #000;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 767px) {
            font-size: 1.2rem;
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    &[data-id="floor-2"] {

      ul {
        counter-reset: chapter 28;
      }
    }
  }
}