.about {
  padding-top: 15rem;
  padding-bottom: 22rem;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    width: 68rem;
    height: 13.8rem;
    background-image: url(../images/decor-block.png);
    background-size: contain;
    background-repeat: no-repeat;
    left: 20%;
    bottom: 5%;
    pointer-events: none;
  }

  &__logo {
    position: absolute;
    left: 52rem;
    top: -1.5rem;

    img {
      width: 94.5rem;
      height: 7.9rem;
    }
  }

  &__title {
    font-family: $font-family-add;
    font-weight: 700;
    font-size: 8rem;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #8fbf1e 0%, #e0df19 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-bottom: 4rem;
  }

  &__desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 156%;
    color: #fff;

    @media (max-width: 1440px) {
      font-size: 1.8rem;
    }

    p {
      margin-bottom: 2rem;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    span {
      color: #e0df19;
    }
  }

  &__desc-text {
    max-width: 102rem;

    @media (max-width: 1024px) {
      max-width: 80rem;
    }

    img[src*=heart-icon] {
      margin-bottom: -15px;
      margin-left: 5px;
    }
  }

  &__desc-img {
    position: absolute;
    right: -10rem;
    top: 12rem;

    img {
      max-width: 59rem;
      height: auto;
      border-radius: 7rem 0 0 7rem;
    }
  }

  &__more {
    margin-top: 3rem;
  }


}