.advantages {
  height: 100vh;
  background-image: url("../images/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;

  @media (max-width: 1024px) {
      max-height: 80rem;
  }


  &:before {
    content: '';
    position: absolute;
    width: 13.8rem;
    height: 68rem;
    background-image: url("../images/advantages-line.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: -19.7rem;
    left: 13rem;
    z-index: 1;
  }

}