.area {

  &__list {
    gap: 1.4rem;
  }

  &__item {
    backdrop-filter: blur(2rem);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3rem;
    padding: 2.8rem 3.5rem;
    min-height: 23.2rem;
  }

  &__title {
    font-family: $font-family-add;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #8fbf1e 0%, #e0df19 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    line-height: 100%;
    margin-bottom: .5rem;
  }

  &__desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 114%;
    color: #d7d7d7;
    max-width: 85%;
  }

  &__row {
    display: grid;
    gap: 1.4rem;
    margin-bottom: 1.4rem;

    &:last-child {
      margin-bottom: 0;
    }

    &.row--1 {
      grid-template-columns: 340fr 580fr 460fr;
    }

    &.row--2 {
      grid-template-columns: 580fr 460fr 340fr;
    }

    &.row--3 {
      grid-template-columns: 340fr 580fr 460fr;
    }
  }
}