.benefit {
  transform: translateY(-13rem);

  @media (max-width: 767px) {
    transform: none;
  }

  &__list {
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;
    
    @media (max-width: 1680px) {
      column-gap: 1rem;
    }

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: calc(100% / 2);
    position: relative;

    @media (max-width: 767px) {
      width: 100%;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 6rem;
      bottom: -2rem;
      border-radius: 100%;
      filter: blur(4rem);
      transition: 2s all ease-in-out;
    }

    &:before {
      left: 0;
      background-color: #cbd93d;
    }

    &:after {
      right: 0;
      background-color: rgb(217 217 217 / 40%);
    }

    &:hover {

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }

    &:nth-child(2) {
      margin-top: 6rem;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    &:nth-child(3) {
      margin-top: 12rem;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      margin-top: 18rem;

      @media (max-width: 767px) {
        margin-top: 0;
      }
    }

    &:last-child {

      .benefit {

        &__wrap {
          padding-top: 9rem;
          padding-bottom: 5rem;
          background-image:
                  url("../images/bg-benefit-wrap-1.png"),
                  url("../images/bg-benefit-wrap-3.png");

          background-size:
                  auto,
                  auto;

          background-position:
                  1.4rem 3rem,
                  calc(100% - 1.5rem) calc(100% - 1.5rem);
        }
      }
    }
  }

  &__wrap {
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2rem);
    padding: 12rem 3.5rem;
    clip-path: url(#myClip);
    -webkit-clip-path: url(#myClip);

    background-image:
            url("../images/bg-benefit-wrap-1.png"),
            url("../images/bg-benefit-wrap-2.png");

    background-position:
            1.4rem 3rem,
            calc(100% - 1.7rem) calc(100% - 2.4rem);

    background-repeat:
            no-repeat,
            no-repeat;

    background-size:
            auto,
            70%;
  }

  &__title {
    font-family: $font-family-add;
    font-weight: 700;
    font-size: 5.5rem;
    background: linear-gradient(90deg, #90c01e 0%, #ebea00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 100%;
    margin-bottom: 1rem;

    @media (max-width: 1680px) {
      font-size: 5rem;
    }

    @media (max-width: 1024px) {
      font-size: 4rem;
    }

    span {
      font-size: 3rem;
      display: block;
      line-height: 120%;
    }
  }

  &__desc {
    font-weight: 300;
    font-size: 2rem;
    line-height: 110%;
    color: #e4e4e4;

    span {
      color: #cbd93d;
    }
  }

  .logo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    margin-top: 2rem;

    &__item {

      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      &:nth-child(3) {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
      }

      &:nth-child(4) {
        grid-column: 1/3;
        grid-row: 3/4;
      }

      &:nth-child(5) {
        grid-column: 1/3;
        grid-row: 4/5;
      }
    }
  }
}