.main-gallery {
  padding: 7rem 0;
  height: 100vh;
  min-height: 120rem;
  width: 100%;

  @media (max-width: 1024px) {
    height: auto;
    max-height: none;
  }

  @media (max-width: 767px) {
    padding-bottom: 3rem;
    min-height: auto;
  }

  &__wrap,
  &__list {
    width: 100%;
  }

  &__container {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 68rem;
      height: 13.8rem;
      background-image: url("../images/decor-block.png");
      background-size: contain;
      background-repeat: no-repeat;
      right: 10%;
      top: 5%;
      pointer-events: none;
    }
  }

  &__pagination {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }

    .slider-progressbar {
      width: 70rem;
      position: relative;
      height: 3px;
      border-radius: 100px;
      overflow: hidden;
      
      @media (max-width: 767px) {
        width: calc(100% - 4rem);
      }

      .swiper-pagination-progressbar-fill {
        background: #8fbe1f;
        border-radius: 100px;
        overflow: hidden;
      }
    }
  }

  &__wrap {
    position: relative;

    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 20%;
      top: 0;
      z-index: 10;
      pointer-events: none;
    }

    &:before {
      left: 0;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #141619 90%);
    }

    &:after {
      right: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #141619 90%);
    }
  }

  &__slide {
    width: calc(142.6rem + 10px);
    
    @media (max-width: 1440px) {
      width: calc(142.6rem + 30px);
    }

    @media (max-width: 767px) {
      width: calc(64.4rem + 30px);
    }
  }

  &__item {
    height: 31.7rem;
    border-radius: 3.4rem;
    overflow: hidden;

    @media (max-width: 767px) {
      height: 14.3rem;
      border-radius: 2rem;
    }

    a {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }

    &.w-34 {
      width: 34rem;

      @media (max-width: 767px) {
        width: 15rem;
      }
    }

    &.w-58 {
      width: 58rem;

      @media (max-width: 767px) {
        width: 26rem;
      }
    }

    &.w-46 {
      width: 46rem;

      @media (max-width: 767px) {
        width: 20rem;
      }
    }
  }

  &__title {
    display: inline-block;
    font-family: $font-family-add;
    font-size: 8rem;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(90deg, #8fbf1e 0%, #e0df19 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding-right: 6rem;
    margin-bottom: 10rem;
    margin-top: 0;

    @media (max-width: 767px) {
      font-size: 4rem;
      margin-bottom: 1.9rem;
    }

    /*
    &:after {
      content: '';
      width: 5.5rem;
      height: 5.5rem;
      background-size: contain;
      background-image: url("../images/heart-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      bottom: 4rem;
    }
    */

    span {
      font-size: 3rem;
      color: #ffffff;
      display: block;
      background: #ffffff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      line-height: 100%;

      @media (max-width: 767px) {
        font-size: 2.1rem;
      }
    }

    b {
      padding-left: 8rem;

      @media (max-width: 767px) {
        padding-left: 0;
      }
    }
  }

}