.popup-form {
  position: fixed;
  right: -95rem;
  opacity: 0;
  width: 50%;
  min-width: 95rem;
  height: 100%;
  padding: 4.5rem 24rem 4.5rem 13.2rem;
  top: 0;
  z-index: 100;
  border-radius: 0 0 0 90px;
  backdrop-filter: blur(1rem);
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../images/vertical-text.svg");
  background-position: calc(100% - 1.8rem);
  background-repeat: no-repeat;
  background-size: 10% calc(100% - 5rem);
  transition: 1s all cubic-bezier(0.23, 1, 0.32, 1);

  @media (max-width: 1440px) {
    padding-right: 18rem;
    width: 45%;
    min-width: 80rem;
  }

  @media (max-width: 767px) {
    width: 100%;
    min-width: 100%;
    right: -100vw;
    border-radius: 0;
    padding-left: 2.4rem;
    padding-right: 5.8rem;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &.show {
    right: 0;
    opacity: 1;
  }

  &__close {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0 auto 2rem -9.7rem;
    cursor: pointer;
    display: block;
    outline: none!important;
    font-size: 0;

    @media (max-width: 767px) {
      position: absolute;
      right: 1rem;
      top: 1rem;

      img {
        max-width: 3.2rem;
      }
    }
  }

  .inline-form {

    &__item {
      background: linear-gradient(90deg, rgb(0 0 0) 0%, rgba(0, 0, 0, 0) 100%);
    }

    &__title {
      line-height: 100%;
    }

    &__row_bottom {
      flex-direction: column;
      align-items: normal;
    }

    &__col {

      input:not([type=checkbox]) {
        font-weight: 300;
      }

      &-submit {
        text-align: right;
        padding-top: 4rem;
      }
    }
  }
}