.side-panel {
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  border-radius: 0 0 9rem 0;
  width: 8.3rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

  @media (max-width: 1024px) {
    width: 7.3rem;
  }

  @media (max-width: 767px) {
    display: none;
  }

  &__logo {
    position: absolute;
    bottom: -100%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: .8s all linear;

    &.show {
      bottom: 10%;
      opacity: 1;
    }

    img {
      width: 5.8rem;
      height: 31.5rem;
    }
  }

  .btn-burger {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    top: 5rem;
    right: -2.8rem;

    img {
      width: 6.6rem;
      height: 1.8rem;
    }
  }
}