.header-mobile {
  display: none;
  background-color: rgba(11, 76, 94, 0.20);

  &__row {
    gap: 12px;
  }

  &__small-basket {
    margin-left: auto;
  }

  @media #{$phone} {
    display: block;
  }
}