.more {
  border-radius: 10px;
  background: rgba(19, 110, 131, 0.30);
  text-decoration: none;
  height: 39px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-normal;
  padding: 0 10px;

  span {

    &:after {
      content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgNSA4IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSAxTDQgNEwxIDciIHN0cm9rZT0iIzBCNEM1RSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K");
      margin-left: 10px;
    }
  }
}