.more {
  border-radius: 10px;
  background: rgba(19, 110, 131, 0.30);
  text-decoration: none;
  height: 39px;
  line-height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $c-normal;
  padding: 0 10px;
}