@font-face {
  font-family: 'Jura';
  src: url('../fonts/jura/Jura-SemiBold.woff2') format('woff2'),
  url('../fonts/jura/Jura-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



