.footer {
  padding: 25px 0 80px 0;
  position: relative;

  @media #{$phone} {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    background: rgba(5, 9, 19, 0.80);
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .8;
  }

  &__wrap {
    position: relative;
  }

  &__nav {
    margin-bottom: 25px;

    @media #{$phone} {
      margin-bottom: 5px;
    }
  }

  .socials {
    margin-bottom: 22px;

    @media #{$phone} {
      margin-bottom: 0;
    }
  }

  .copyright {
    color: #2F3B50;
    font-size: 11px;
    line-height: 125%;
    margin: 0;
  }

  &__row {
    display: grid;
  }

  &__col {
    display: flex;
    align-items: center;

    &_type {

      &_dev {
        grid-row: 1/3;
        grid-column: 2/3;
        display: flex;
        justify-content: flex-end;

        @media #{$phone} {
          grid-row: 1/2;
        }
      }

      &_copy {

        @media #{$phone} {
          grid-column: 1/3;
          text-align: center;
        }
      }
    }
  }

  .logo {
    position: relative;

    @media #{$phone} {
      max-width: 120px;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 448px;
      height: 230px;
      left: 50%;
      top: -85px;
      background-image: url(../images/bg-logo-footer.svg);
      transform: translateX(-50%);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      opacity: .6;
      transition: .2s opacity ease-out;
    }

    &:hover {

      &:before {
        opacity: 1;
      }
    }
  }

  .phone {

    &__icons {

      @media #{$laptop} {
        display: none;
      }

      &:before {
        content: none;
      }
    }

    &__link {

      @media #{$phone} {
        font-size: 16px;
      }
    }
  }

  .main-nav {

    &__col {

      &_type {

        &_menu {

          @media #{$laptop} {
            display: none;
          }
        }
      }
    }

  }
}