* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #050913;
  color: #a1abbf;
  font-family: $font-family-base;

  &.open-burger {
    overflow: hidden;
  }

  &.page {
    padding-top: 92px;

    @media #{$laptop} {
      padding-top: 65px;
    }

    .main {
      padding-top: 40px;

      @media #{$phone} {
        padding-top: 25px;
      }

      .box {
        padding: 0;
      }
    }
  }
}

.box {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #c130d5;
}



h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: $font-family-add;
  line-height: 100%;
  background: linear-gradient(269deg, #00DFFF 1.58%, #C130D5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h1, .h1 {
  margin-top: 17px;

  @media #{$phone} {
    font-size: 25px;
  }
}

h2, .h2 {
  font-size: 30px;

  @media #{$phone} {
    font-size: 25px;
  }
}

h3, .h3 {
  font-size: 25px;
}

.link-more {
  position: relative;
  font-family: $font-family-add;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6392D7;
  transition: .2s color ease-out;

  &:hover {
    color: #ffffff;
  }

  span {
    margin-right: 3px;
  }
}


.page-inner {
  margin-bottom: 120px;
  position: relative;

  @media #{$phone} {
    margin-bottom: 40px;
  }

  &__wrap {
    backdrop-filter: blur(60px);
    background: rgba(13, 17, 54, 0.6);
    border-radius: 20px;
    padding: 48px 60px;
    line-height: 130%;

    h2, .h2,
    h3, .h3 {
      font-size: 25px;
      color: #c130d5;
      background: none;
      -webkit-text-fill-color: initial;
      text-transform: initial;
      display: block;
    }

    @media #{$phone} {
      padding: 28px 20px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -80px;
    width: 100%;
    height: 200px;
    background-image: url("../images/content-tab-after.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
  }
}
