@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"), url("../fonts/gilroy/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Heavy.woff") format("woff"), url("../fonts/gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/gilroy/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-SemiBold.woff") format("woff"), url("../fonts/gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  height: 719px;
  margin-bottom: 37px;
}
@media screen and (max-width: 767px) {
  .header {
    height: 350px;
  }
}
.header__wrap {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #dfdfdf;
}
.header__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.header__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__title {
  position: relative;
  margin-top: auto;
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .header__title {
    max-width: 80%;
  }
}
@media screen and (max-width: 374px) {
  .header__title {
    max-width: 90%;
  }
}
.header .headline {
  border-radius: 77.5px 0 0 77.5px;
  background: rgba(33, 49, 61, 0.5);
  backdrop-filter: blur(2px);
  padding: 30px 330px 30px 55px;
  margin-right: -100px;
}
@media screen and (max-width: 1280px) {
  .header .headline {
    padding: 30px 30px 30px 55px;
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .header .headline {
    padding: 15px 15px 15px 50px;
  }
}
.header .headline__text {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 25px;
}
@media screen and (max-width: 1280px) {
  .header .headline__text {
    font-size: 30px;
    line-height: 120%;
  }
}
@media screen and (max-width: 767px) {
  .header .headline__text {
    font-size: 18px;
  }
}
.header .headline__text span {
  text-transform: uppercase;
}
.header .headline__text span.c-red, .header .headline__text span.c-blue {
  font-weight: 500;
}
.header .headline__text span.c-red {
  color: #E21C2A;
}
.header .headline__text span.c-blue {
  color: #5398FF;
}
.header .headline__text b {
  font-size: 120px;
  font-weight: 500;
  color: #5398FF;
  margin-left: 10px;
}
@media screen and (max-width: 1280px) {
  .header .headline__text b {
    font-size: 30px;
    margin-left: 0;
  }
}

html,
body {
  background-color: #f3f6f9;
  height: 100vh;
}

body {
  font-family: "Gilroy", "Arial Narrow", sans-serif;
  color: #334F65;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;
}
body.compensate-for-scrollbar .main-menu_fixed {
  padding-right: 17px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}

.h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 25px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../images/footer-bg.jpg");
  background-position: 100% calc(100% - 56px);
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .wrapper {
    background-position: 0 calc(100% - 56px);
    background-size: auto 700px;
  }
}

a:not([class]) {
  color: #334F65;
}
a:not([class]):hover {
  text-decoration: none;
}

.fancybox__backdrop {
  background: rgba(36, 52, 65, 0.1) !important;
  backdrop-filter: blur(10px);
}

.popup-form .carousel__button {
  top: 13px !important;
  right: 13px !important;
  width: 30px;
  height: 30px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .popup-form .carousel__button {
    top: 5px !important;
    right: 5px !important;
  }
}
.popup-form .carousel__button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAzMCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMzMzMjkgMy40NTA0NUMxMC4yOTQ0IDIuMzE1OTggMTIuNTcxNCAxLjY2NjY5IDE1IDEuNjY2NjlDMjIuMzYzOCAxLjY2NjY5IDI4LjMzMzMgNy42MzYyMiAyOC4zMzMzIDE1QzI4LjMzMzMgMjIuMzYzOCAyMi4zNjM4IDI4LjMzMzQgMTUgMjguMzMzNEM3LjYzNjE2IDI4LjMzMzQgMS42NjY2MyAyMi4zNjM4IDEuNjY2NjMgMTVDMS42NjY2MyAxMi41NzE0IDIuMzE1OTIgMTAuMjk0NSAzLjQ1MDM5IDguMzMzMzUiIHN0cm9rZT0iIzMzNEY2NSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K);
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
}
.popup-form .carousel__button svg {
  stroke: #334F65;
  filter: none;
  width: 14px;
  height: auto;
}
.popup-form.fancybox__content {
  padding: 0;
  background: transparent;
}
.popup-form .order {
  padding-bottom: 0;
}
.popup-form .order__wrap {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.3);
}
.popup-form .order:after {
  content: none;
}

.footer__top {
  background: rgba(37, 61, 75, 0.8);
  backdrop-filter: blur(2px);
}
@media screen and (max-width: 767px) {
  .footer__top .main-menu__col_logo .logo__icon {
    height: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer__top .main-menu__col_logo .logo__text b {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .footer__top .main-menu__col_logo .logo__text span {
    font-size: 11px;
  }
}
@media screen and (max-width: 767px) {
  .footer__top .main-menu__col_btn {
    display: none;
  }
}
.footer__top .main-menu__wrap {
  background: none;
  backdrop-filter: none;
  padding: 5px 20px;
}
@media screen and (max-width: 767px) {
  .footer__top .main-menu__wrap {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.footer__middle {
  padding: 35px 0 23px 0;
}
@media screen and (max-width: 767px) {
  .footer__middle {
    padding: 10px 0 10px 0;
    background: rgba(220, 227, 233, 0.8);
  }
}
.footer__bottom {
  background: #627785;
  padding: 20px 0;
}
.footer__col {
  padding: 0 10px;
}
@media screen and (max-width: 767px) {
  .footer__col {
    padding: 2 10px;
  }
}
.footer__row {
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
}
.footer__row_copy {
  color: #3C4E5B;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer__row_copy {
    display: grid;
    grid-template-columns: auto;
    font-size: 12px;
  }
}
.footer__row_copy a {
  color: #8CA9D1;
  text-decoration: none;
  transition: 0.1s all linear;
}
.footer__row_copy a:hover {
  color: #ffffff;
}
.footer__row_copy .footer__col_dev {
  display: none;
}
@media screen and (max-width: 767px) {
  .footer__row_copy .footer__col_dev {
    display: block;
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .footer__row_copy .footer__col_dev .developer img {
    max-width: 95px;
  }
}
.footer__row_text {
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer__row_text .footer__col_dev {
    display: none;
  }
}
.footer .footer-about__text, .footer .footer-about__address {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  .footer .footer-about__text, .footer .footer-about__address {
    font-size: 20px;
  }
}
.footer .footer-about__text {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .footer .footer-about__text {
    margin-bottom: 10px;
  }
}
.footer .footer-about__text span {
  font-size: 32px;
}
@media screen and (max-width: 767px) {
  .footer .footer-about__text span {
    font-size: 20px;
  }
}
.footer .footer-about__text span.c-red {
  color: #E21C2A;
}

.logo {
  display: flex;
  align-items: center;
  position: relative;
}
.logo__link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.logo__icon {
  margin-right: 9px;
  font-size: 0;
}
.logo__text {
  color: #FFFFFF;
}
.logo__text span,
.logo__text b {
  display: block;
  line-height: 100%;
}
.logo__text span {
  font-size: 11px;
  font-weight: 600;
}
.logo__text b {
  font-size: 40px;
  font-weight: 700;
}

.main-menu {
  width: 100%;
}
.main-menu_fixed {
  position: fixed;
  top: 40px;
  left: 0;
  z-index: 100;
  transition: 0.2s top linear;
  padding: 0 10px;
}
@media screen and (max-width: 767px) {
  .main-menu_fixed {
    top: 5px;
    padding: 0 5px;
  }
}
.main-menu__wrap {
  border-radius: 42.5px;
  background: rgba(37, 61, 75, 0.7);
  backdrop-filter: blur(2px);
  padding: 5px 18px 5px 6px;
}
@media screen and (max-width: 767px) {
  .main-menu__wrap {
    padding: 5px;
  }
}
.main-menu__row {
  display: flex;
  margin: 0 -14px;
}
@media screen and (max-width: 1440px) {
  .main-menu__row {
    margin: 0 -5px;
  }
}
.main-menu__col {
  padding: 0 14px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1440px) {
  .main-menu__col {
    padding: 0 5px;
  }
}
.main-menu__col_nav {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .main-menu__col_nav {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .main-menu__col_phone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-menu__col_btn {
    margin-left: auto;
  }
}
.main-menu__col_logo .logo__icon img {
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .main-menu__col_logo .logo__icon {
    height: 44px;
  }
}
@media screen and (max-width: 767px) {
  .main-menu__col_logo .logo span {
    font-size: 10px;
  }
}
@media screen and (max-width: 767px) {
  .main-menu__col_logo .logo b {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) {
  .main-menu__col_btn .btn, .main-menu__col_toggle .btn {
    font-size: 0;
    width: 57px;
    padding: 0;
    justify-content: center;
  }
  .main-menu__col_btn .btn svg, .main-menu__col_toggle .btn svg {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .main-menu__col_btn .btn, .main-menu__col_toggle .btn {
    width: 46px;
    height: 46px;
  }
}
.main-menu__col_toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .main-menu__col_toggle {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  .main-menu__col_social {
    display: none;
  }
}
.main-menu .main-nav {
  display: flex;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;
  height: 100%;
}
@media screen and (max-width: 999px) {
  .main-menu .main-nav {
    font-size: 12px;
  }
}
.main-menu .main-nav__item {
  padding: 0 1.5rem;
}
@media screen and (max-width: 1440px) {
  .main-menu .main-nav__item {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1280px) {
  .main-menu .main-nav__item {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-menu .main-nav__item {
    padding: 0 0.2rem;
  }
}
.main-menu .main-nav__link {
  height: 100%;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 5px;
  position: relative;
  transition: 0.1s color linear;
}
.main-menu .main-nav__link:after {
  content: "";
  height: 3px;
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: #5398FF;
  transform: scale(0);
  transition: 0.2s all linear;
}
.main-menu .main-nav__link:hover, .main-menu .main-nav__link.active {
  color: #5398FF;
}
.main-menu .main-nav__link:hover:after, .main-menu .main-nav__link.active:after {
  transform: scale(1);
}

.socials__list {
  display: flex;
  align-items: center;
}
.socials__item {
  border-radius: 15.5px;
  border: 2px solid rgba(83, 152, 255, 0.5);
  margin: 0 5px;
  padding: 5px;
  height: 30px;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials__item:hover svg path {
  fill: #FFFFFF;
}
.socials__item svg {
  max-width: 100%;
  height: auto;
}
.socials__item svg path {
  transition: 0.1s all linear;
}

.phone {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
}
.phone span {
  color: #5398FF;
}

.btn {
  display: flex;
  align-items: center;
  padding: 0 22px;
  height: 57px;
  line-height: 57px;
  border-radius: 28.5px;
  border: 2px solid #5398FF;
  color: #FFFFFF;
  font-weight: 600;
  background: linear-gradient(178deg, #334F65 0%, #303A44 100%);
  text-decoration: none;
  transition: 0.1s all linear;
}
.btn:hover {
  color: #5398FF;
}
.btn:active {
  background: linear-gradient(178deg, #085795 0%, #193F65 100%);
}
.btn svg {
  margin-right: 13px;
}
.btn.disabled {
  border: 2px solid #D8E3E9;
  background: #E4ECF0;
  color: #C8D3DA;
  cursor: not-allowed;
  pointer-events: none;
}
.btn.disabled:hover {
  color: #C8D3DA;
}
.btn_phone.disabled path {
  stroke: #FFFFFF;
}

.why-we {
  padding: 30px 0;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .why-we {
    padding: 0;
  }
}
.why-we__title {
  text-align: center;
  margin-bottom: 33px;
}
@media screen and (max-width: 767px) {
  .why-we__title {
    margin-bottom: 15px;
  }
}
.why-we__title .h2 {
  margin: 0;
}
.why-we__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  grid-gap: 31px;
}
@media screen and (max-width: 767px) {
  .why-we__list {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
}
.why-we .why-item {
  border-radius: 150px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 40px 0 rgba(51, 79, 101, 0.1);
  backdrop-filter: blur(2px);
  min-height: 220px;
  padding: 25px 25px 25px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .why-we .why-item {
    min-height: 140px;
    padding: 20px;
  }
}
@media screen and (max-width: 374px) {
  .why-we .why-item {
    padding-left: 15px;
  }
}
.why-we .why-item__name {
  font-size: 25px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}
@media screen and (max-width: 767px) {
  .why-we .why-item__name {
    font-size: 18px;
    font-weight: 700;
  }
}
.why-we .why-item__text {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .why-we .why-item__text {
    font-size: 14px;
  }
}
.why-we .why-item__pics {
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .why-we .why-item__pics {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 374px) {
  .why-we .why-item__pics {
    width: 90px;
    height: 90px;
  }
}
.why-we .why-item__pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  height: 446px;
  background-image: url("../images/about-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 0 15px;
    background-size: calc(100% + 500px);
    background-position: top;
    height: auto;
  }
}
.about__wrap {
  border-radius: 131.5px 0 0 131.5px;
  background: rgba(37, 61, 75, 0.5);
  backdrop-filter: blur(2px);
  padding: 15px 190px 15px 20px;
  display: flex;
  align-items: center;
  max-width: calc(50% + 190px);
  margin-left: auto;
  margin-top: 54px;
}
@media screen and (max-width: 1440px) {
  .about__wrap {
    padding-right: 20px;
    max-width: 80%;
  }
}
@media screen and (max-width: 1024px) {
  .about__wrap {
    max-width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .about__wrap {
    flex-direction: column;
    border-radius: 50px;
    max-width: 100%;
    padding: 25px;
  }
}
.about__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 125%;
}
@media screen and (max-width: 767px) {
  .about__text {
    font-size: 14px;
  }
}
.about__text span {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .about__text span {
    font-size: 16px;
  }
}
.about__icon {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .about__icon {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: -70px;
    width: 115px;
    height: 115px;
  }
  .about__icon img {
    max-width: 100%;
    height: auto;
  }
}

.we-work {
  margin-bottom: 35px;
}
.we-work__title {
  text-align: center;
  margin-bottom: 70px;
}
@media screen and (max-width: 1024px) {
  .we-work__title {
    margin-bottom: 20px;
  }
}
.we-work__title .h2 {
  margin: 0;
}
.we-work__list {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr minmax(auto, 500px) 1fr;
}
@media screen and (max-width: 1440px) {
  .we-work__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .we-work__list {
    grid-template-columns: 1fr;
  }
}
.we-work__item {
  border-radius: 150px;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  min-height: 172px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .we-work__item {
    min-height: auto;
  }
}
.we-work__item:first-child {
  border-radius: 0 150px 150px 0;
  justify-content: flex-end;
}
@media screen and (max-width: 1024px) {
  .we-work__item:first-child {
    margin-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .we-work__item:first-child .work-item {
    flex-direction: row-reverse;
  }
}
.we-work__item:last-child {
  border-radius: 150px 0 0 150px;
  justify-content: flex-start;
}
@media screen and (max-width: 1024px) {
  .we-work__item:last-child .work-item {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 1440px) {
  .we-work__item:last-child {
    justify-content: center;
    border-radius: 0;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 1024px) {
  .we-work__item:last-child {
    grid-column: 1/2;
    justify-content: flex-end;
    margin-right: 10px;
    border-radius: 0 150px 150px 0;
  }
}
@media screen and (max-width: 1440px) {
  .we-work__item:nth-child(2) {
    border-radius: 150px 0 0 150px;
  }
}
@media screen and (max-width: 1024px) {
  .we-work__item:nth-child(2) {
    margin-left: 10px;
  }
}
.we-work .work-item {
  display: flex;
  align-items: center;
}
.we-work .work-item__num {
  color: #D1DFEB;
  font-size: 150px;
  font-weight: 500;
  margin-right: 22px;
  opacity: 0.5;
  line-height: 80%;
}
@media screen and (max-width: 1024px) {
  .we-work .work-item__num {
    margin: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .we-work .work-item__num {
    font-size: 90px;
    margin: 0 10px;
  }
}
.we-work .work-item__name {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  .we-work .work-item__name {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.we-work .work-item__text {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .we-work .work-item__text {
    font-size: 14px;
  }
  .we-work .work-item__text br {
    display: none;
  }
}

.open-order {
  padding: 330px 0 180px 0;
}
@media screen and (max-width: 767px) {
  .open-order {
    padding-top: 80px;
    padding-bottom: 0;
  }
}

.order {
  max-width: 750px;
  position: relative;
  padding-bottom: 36px;
}
.order:after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 10px;
  background: #000;
  filter: blur(7.5px);
  height: 3px;
  width: 100%;
}
.order__wrap {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  padding: 35px 35px 50px 35px;
}
@media screen and (max-width: 767px) {
  .order__wrap {
    padding: 15px;
  }
}
.order__head {
  margin-bottom: 23px;
}
@media screen and (max-width: 767px) {
  .order__head {
    margin-bottom: 15px;
  }
}
.order__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 90%;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .order__title {
    font-size: 30px;
    text-align: center;
    line-height: 100%;
  }
}
.order__subtitle {
  font-size: 30px;
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  .order__subtitle {
    font-size: 16px;
    text-align: center;
  }
}
.order__row {
  margin: 0 -11px 23px -11px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .order__row {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
.order__row:last-child {
  margin-bottom: 0;
}
.order__row_fields input {
  appearance: none;
  border-radius: 28.5px;
  background: rgba(255, 255, 255, 0.7);
  height: 57px;
  padding: 0 20px;
  width: 100%;
  border: none;
  outline: none !important;
  color: #334F65;
}
.order__row_fields input::placeholder {
  color: #334F65;
}
.order__row_fields .order__col {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .order__row_fields .order__col {
    width: 100%;
    margin-bottom: 10px;
  }
  .order__row_fields .order__col:last-child {
    margin-bottom: 0;
  }
}
.order__row_control .btn {
  padding: 0 66px;
}
@media screen and (max-width: 767px) {
  .order__row_control .btn {
    justify-content: center;
  }
}
.order__col {
  padding: 0 11px;
}
@media screen and (max-width: 767px) {
  .order__col {
    width: 100%;
  }
}
.order__approval {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .order__approval {
    text-align: center;
  }
  .order__approval br {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
