.solution-detail {

  &__header {
    display: flex;
    align-items: flex-start;
    grid-gap: 15px;
    margin-bottom: 15px;
    
    @media screen and (max-width: 1280px) {
      flex-wrap: wrap;
    }

    .solution-card {
      flex-grow: 1;

      @media screen and (max-width: 1280px) {
        order: 2;
      }
    }

    .solution-menu {

      @media screen and (max-width: 1280px) {
        order: 1;
      }

      &__list {
        @media screen and (max-width: 1280px) {
          flex-wrap: wrap;
        }
      }

    }
  }

  &__content {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(2px);
    padding: 45px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 130%;
  }

  .solution-card {
    display: flex;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(2px);
    padding: 25px;
    box-sizing: border-box;


    &__title {
      margin-bottom: 13px;

      b,
      span {
        display: block;
      }

      b {
        color: #FF6BC0;
        font-size: 30px;
        font-weight: 400;
      }

      span {
        color: #7B8C95;
        font-size: 18px;
      }
    }

    &__text {
      font-size: 16px;

      a {
        color: #7B8C95;
        text-decoration: none;
        transition: .1s all linear;

        &:hover {
          color: #FF6BC0;
        }
      }

      ul {
        margin: 0;
        padding-left: 18px;

        li {

          &::marker {
            color: #FF6BC0;
          }
        }
      }
    }

    &__icon {
      margin-right: 28px;
      width: 100px;
      height: 100px;
      flex-shrink: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}