.breadcrumbs {

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;

    @media #{$phone} {
      padding-left: 20px;
    }

    li {
      font-size: 11px;
      padding-right: 20px;
      position: relative;
      text-transform: uppercase;
      color: #a7a7a7;

      @media #{$phone} {
        line-height: 1.5em;
      }

      &:last-child {

        &:before {
          content: none;
        }
      }

      &:before {
        content: '>';
        position: absolute;
        right: 5px;
        color: #A8B1B9;
      }

      a {
        color: #d9d9d9;
        text-decoration: none;
      }
    }
  }
}