.header-mobile {
  display: none;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  
  @media #{$tablet-mini} {
    display: block;
  }

  &__control {
    padding: 3px 10px 9px 10px;
    background: #3A0507;
  }

  &__desc {
    padding: 18px 10px;

    .logo-text {

      &__title {

        @media screen and (max-width: 374px) {
          font-size: 35px;
        }
      }

      &__subtitle {
        font-size: 22px;
        line-height: 100%;
        margin-bottom: 12px;

        @media screen and (max-width: 374px) {
          font-size: 18px;
        }
      }

      &__desc {
        font-size: 14px;
        line-height: 120%;
        font-weight: 400;

        br {
          display: none;
        }
      }
    }
  }

  &__row {
    display: flex;
    margin: 0 -5px;

    &_top {
      margin-bottom: 8px;
    }

    &_search {
      margin: 0;

      .search-bar {
        width: 100%;
      }
    }

    &_search {

      .top-search {
        width: 100%;

        &__wrap,
        &__field {
          width: 100%;
        }
      }
    }
  }

  &__col {
    display: flex;
    align-items: center;
    padding: 0 5px;

    &_logo {

      .logo {

        &__icon {

          img {
            max-height: 72px;
            width: auto;

            @media screen and (max-width: 374px) {
              max-height: 50px;
            }
          }
        }
      }
    }

    &_phone {
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      margin-left: auto;

      .phone {
        margin-bottom: 9px;

        &__link {
          font-size: 18px;
        }

        &__text {
          font-size: 12px;
        }
      }

      .social {

        &__item {
          width: 26px;
          height: 26px;
          padding: 5px;

          svg {
            max-height: 100%;
            width: auto;
          }
        }
      }
    }
  }
}