.main-menu {
  width: 100%;
  background: rgba(34, 1, 2, 0.5);
  border-radius: 5px;
  padding: 0 13px;

  .main-nav {

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      padding: 0 20px;

      @media #{$notebook} {
        padding: 0;
      }
    }

    &__link {
      color: $c-white;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      text-decoration: none;
      display: inline-block;
      padding: 19px 20px 22px 20px;
      position: relative;
      transition: .2s all linear;

      &:hover,
      &.active {

        &:after {
          bottom: -12px;
          opacity: 1;
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 58px;
        height: 26px;
        background-image: url("../images/decor-link.svg");
        background-repeat: no-repeat;
        background-position: center;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: .2s all linear;
      }

      &:hover {
        color: $c-yellow;
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  .work-time {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 11px;
      display: flex;
      align-items: center;
    }

    &__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: #A84C56;
    }
  }

  &__col {

    &_search {
      margin-left: auto;
      display: flex;
      align-items: center;

      .work-time {
        margin-right: 12px;

        @media screen and (max-width: 1280px) {
          display: none;
        }
      }

      .top-search {

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }
    }
  }
}