.product {
  margin-bottom: 40px;

  &__main {
    display: grid;
    grid-template-columns: minmax(auto, 505px) 1fr;
    grid-template-rows: auto;
    grid-gap: 32px;
    margin-bottom: 50px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: minmax(auto, 40%) 1fr;
    }

    @media #{$laptop_s} {
      grid-template-columns: minmax(auto, 50%) 1fr;
    }

    @media #{$tablet-mini} {
      grid-template-columns: 100%;
    }

    @media #{$phone} {
      margin-bottom: 20px;
    }
  }

 .big-gallery {
   width: 100%;
   overflow: hidden;
   margin-bottom: 8px;
   position: relative;

   &:before {
     content: '';
     position: absolute;
     background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDQiIGhlaWdodD0iNDQiIHZpZXdCb3g9IjAgMCA0NCA0NCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzU3NV8yKSI+CjxjaXJjbGUgY3g9IjIwLjk2NjMiIGN5PSIyMC45NjY3IiByPSIxOS42MzMzIiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8cGF0aCBkPSJNMzUuNDMzNiAzNS40MzMzTDQyLjY2NjkgNDIuNjY2NyIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8cGF0aCBkPSJNMjEuMTE0MyAxNlYyNi4yMjk1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjxwYXRoIGQ9Ik0xNiAyMS4xMTQ3SDI2LjIyOTUiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81NzVfMiI+CjxyZWN0IHdpZHRoPSI0NCIgaGVpZ2h0PSI0NCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
     background-repeat: no-repeat;
     background-position: center;
     width: 44px;
     height: 44px;
     top: 14px;
     right: 21px;
     z-index: 5;
     pointer-events: none;
   }

   .swiper-button-prev,
   .swiper-button-next {
     background: rgba(255, 255, 255, 0.3);
     width: 28px;
     height: 28px;
     border-radius: 50%;
     opacity: 1;

     svg {

       path {
         transition: .1s all linear;
       }
     }

     &:hover {

       svg {

         path {
           stroke: #FEF275;
         }
       }
     }

     &:after {
       content: none;
     }
   }

   &__item {
     font-size: 0;
     height: 505px;
     border-radius: 5px;
     overflow: hidden;

     @media screen and (max-width: 1280px) {
       height: 0;
       padding-bottom: 100%;
     }

     img {
      max-width: 100%;
      width: 100%;
      height: auto;
     }
   }
 }

  .small-gallery {

    &__item {
      height: 120px;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;
      opacity: .5;
      transition: .1s all linear;

      @media screen and (max-width: 1280px) {
        max-height: 80px;
      }

      @media #{$tablet-mini} {
        max-height: 120px;
      }

      @media #{$phone} {
        max-height: 80px;
      }

      &.swiper-slide-thumb-active,
      &:hover {
        opacity: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .product-info {

    &__article {
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      color: #FF8995;
      margin-bottom: 5px;
    }

    &__name {
      font-family: $font-family-header;
      color: $c-yellow;
      font-size: 30px;
      line-height: 85%;
      margin: 0 0 10px 0;
      font-weight: normal;

      @media #{$phone} {
        font-size: 25px;
      }
    }

    &__desc,
    &__props {
      margin-bottom: 20px;

      @media #{$phone} {
        font-size: 14px;
        line-height: 120%;
      }
    }

    &__desc {

      b {
        color: $c-yellow;
      }
    }

    &__props {
      margin-left: -16px;

      @media #{$phone} {
        margin-left: 0;
      }

      table {
        border-collapse: collapse;
        table-layout: auto;

        tr {

          &:nth-child(odd) {
            background: rgba(34, 1, 2, 0.3);
            border-radius: 5px;
          }

          td {
            padding: 5px 16px;
            vertical-align: top;

            &:first-child {
              padding-right: 0;
              border-radius: 5px 0 0 5px;
            }

            &:last-child {
              border-radius: 0 5px 5px 0;
              width: 100%;
            }
          }
        }
      }
    }

  }

  .product-cost {
    margin-bottom: 16px;

    &__col {
      padding: 5px 0;
    }

    .product-price {

      &__value {
        font-size: 40px;
        font-weight: 300;
        line-height: 100%;

        @media #{$phone} {
          font-size: 30px;
        }
      }

      &__text {
        margin-bottom: 0;
      }
    }

    .btn {
      min-width: 200px;
    }

    &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
    }

    &__col {

      &_price {
        min-width: 225px;
        margin-right: 10px;

        @media #{$phone} {
          min-width: auto;
        }
      }
    }

    &__desc {
      font-size: 14px;
      line-height: 110%;
      color: #FF8995;
      max-width: 80%;
      font-weight: 500;

      @media #{$phone} {
        max-width: 100%;
      }
    }
  }

  .product-back {
    display: flex;
  }

 .general-text {
   font-size: 16px;
   line-height: 125%;

   @media #{$phone} {
     font-size: 14px;
   }

   b {
     font-family: $font-family-header;
     font-size: 25px;
     color: $c-yellow;
   }

   &__line {
     padding: 17px 23px;
     border-radius: 5px;

     p {
       margin: 0 0 15px 0;

       &:last-child {
         margin-bottom: 0;
       }
     }

     &_wrap {
       background: rgba(34, 1, 2, 0.3);
     }

     &_no-wrap {

       @media #{$phone} {
         padding-left: 0;
         padding-right: 0;
       }
     }
   }
 }
}