.product-list {

  &__sort {
    margin-bottom: 28px;
  }

  &__wrap {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 10px;
    margin-bottom: 45px;
  }

  &__pagination {
    margin-bottom: 10px;
  }

}