.benefit {
  margin-bottom: 45px;

  @media #{$phone} {
    margin-bottom: 35px;
  }

  &__list {
    display: flex;
    gap: 27px;

    @media #{$tablet} {
      flex-wrap: wrap;
      gap: 20px;
    }

    @media #{$phone} {
      gap: 10px;
    }
  }

  &__item {
    width: calc(100% / 4);

    @media #{$tablet} {
      width: calc(100% / 2 - 10px);
    }

    @media #{$phone} {
      width: calc(100% / 2 - 5px);
    }
  }

  .benefits-item {
    min-height: 130px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.60);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @media #{$phone} {
      min-height: 70px;
      justify-content: flex-start;
      padding: 20px 10px;
    }

    &__icon {
      margin-right: 32px;

      @media #{$phone} {
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 10px;

        img {
          max-height: 32px;
        }
      }

      @media #{$small-phone} {
        width: 30px;
      }
    }

    &__name {
      font-size: 18px;
      line-height: 100%;

      @media #{$phone} {
        font-size: 14px;
      }

      @media #{$small-phone} {
        font-size: 12px;
      }
    }
  }
}