.category {
  margin-bottom: 55px;
  position: relative;

  @media #{$phone} {
    margin-bottom: 35px;
  }

  &_type_catalog {
    margin-bottom: 30px;

    .category__list {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-gap: 26px;

      @media #{$notebook} {
        grid-gap: 10px;
      }

      @media #{$laptop} {
        grid-template-columns: repeat(3, 1fr);
      }

      @media #{$phone} {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .category__item {
      height: 370px;
      width: 100%;

      @media #{$phone} {
        height: 150px;

        &:nth-of-type(n+5) {
          display: block;
        }
      }
    }

    .category-item {

      .category-item__wrap {
        display: flex;
        flex-direction: column;

        @media #{$phone} {
          flex-direction: column-reverse;
          padding-left: 5px;
          padding-right: 5px;
        }

        &:before {
          clip-path: none;
        }
      }

      .category-item__pics {
        flex-grow: 1;

        @media #{$phone} {
          height: calc(100% - 20px);

          img {
            max-height: 100%;
          }
        }
      }

      &:hover {

        .category-item__wrap {
          top: 0;
          height: 100%;

          &:before {
            box-shadow: 0 4px 50px rgba(7, 28, 37, 0.10);
            clip-path: none;
          }
        }
      }

      .category-item__name {
        padding-bottom: 0;
        margin-bottom: 0;

        &:after {
          content: none;
        }
      }
    }
  }

  &__list {
    display: flex;
    padding-top: 50px;
    padding-bottom: 120px;

    @media #{$phone} {
      padding-top: 0;
      padding-bottom: 0;
      grid-gap: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__head {
    margin-bottom: -20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 5;

    @media #{$phone} {
      margin-bottom: 25px;
    }
  }

  &__item {
    height: 360px;
    width: calc(100% / 4);

    @media #{$phone} {
      width: 100%;
      height: auto;

      &:nth-of-type(n+5) {
        display: none;
      }
    }
  }

  &__wrap {
    padding: 0 20px;
    width: calc(100% + 40px);
    margin: 0 -20px;

    @media screen and (max-width: 1524px) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
    
    @media #{$phone} {
      overflow: initial;
      margin-bottom: 20px;
    }
  }

  &__more {

    &_type_header {
      
      @media #{$phone} {
        display: none;
      }
    }

    &_type_footer {
      display: none;

      @media #{$phone} {
        display: block;
        text-align: center;
      }
    }

    .link-more {
      color: #798C97;

      svg {

        path {
          stroke: #798C97;
        }
      }

      &:hover {
        color: #798C97;

        svg {

          path {
            stroke: #798C97;
          }
        }
      }
    }
  }

  .swiper-button {

    &-prev,
    &-next {
      width: 40px;
      height: 36px;
      top: 45%;

      @media screen and (max-width: 1524px) {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url("../images/arrow-category-bg.svg");
        background-repeat: no-repeat;
      }

      &:after {
        content: none;
      }

      svg {
        max-width: 7px;
        height: auto;

        path {
          transition: .2s all linear;
        }
      }

      &.swiper-button-disabled {
        opacity: 1;
      }

      &:hover {

        svg {

          path {
            stroke: #26AAAB;
          }
        }
      }
    }

    &-prev {
      left: -50px;

      &:before {
        transform: rotate(180deg);
      }
    }

    &-next {
      right: -50px;
    }
  }
}