.category-item {
  height: 100%;
  width: 100%;
  position: relative;

  &:hover {

    @media screen and (min-width: 768px) {

      .category-item__content {
        opacity: 1;
        max-height: 300px;
        visibility: visible;
      }

      .category-item__wrap {
        top: -20px;
        height: auto;

        &:before {
          box-shadow: -5px -5px 20px rgba(7, 28, 37, 0.1);
          clip-path: polygon(210% -20px, -20px 165%, -20px -20px);
        }
      }

      .category-item__name {
        color: #18948F;
      }
    }

  }

  &__name {
    color: #004B5D;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    line-height: 100%;
    position: relative;
    transition: .2s all linear;
    
    @media #{$phone} {
      font-size: 15px;
      padding-bottom: 15px;
      margin-bottom: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(270deg, rgba(221, 233, 239, 0.00) 0%, rgba(210, 224, 232, 0.49) 50%, rgba(221, 233, 239, 0.00) 100%);
    }
  }

  &__pics {
    height: 250px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @media #{$phone} {
      height: auto;
      flex-grow: 1;
    }

    img {
      height: auto;
    }
  }

  &__desc {
    color: #254F4D;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__wrap {
    padding: 15px 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .2s all ease-in;

    @media #{$phone} {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 15px 10px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 10px;
      background: #FFF;
      box-shadow: none;
      clip-path: polygon(275% -20px, -20px 165%, -20px -20px);
      transition: .2s all ease-in;

      @media #{$phone} {
        clip-path: none;
      }
    }
  }

  &__control {
    text-align: right;
  }

  &__content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    //transition: .2s all ease-in;
    position: relative;

    @media #{$phone} {
      display: none;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}