.model {

  &__header {
    margin-bottom: 20px;

    @media #{$phone} {
      margin-bottom: 60px;
    }
  }

  .model-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;

    @media #{$phone} {
      display: grid;
      grid-template-columns: 100px 1fr;
      column-gap: 10px;
    }

    &__logo {
      width: 200px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0;
      padding: 20px;

      @media #{$phone} {
        order: 1;
        padding: 10px;
        width: 100%;
        height: auto;
      }

      img {
        max-width: 100%;
      }
    }

    &__search {
      width: 100%;
      text-align: right;

      @media #{$phone} {
        order: 3;
        margin-top: 30px;
        grid-column: 1/3;

        .btn {
          width: 100%;
          justify-content: center;
        }
      }
    }

    &__props {
      font-weight: 600;
      line-height: 130%;

      @media #{$phone} {
        order: 2;
      }
    }

    &__name {
      font-size: 16px;
      margin: 0;
      text-transform: uppercase;
      color: #004B5D;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      color: #000;

      li {

        span {
          color: #718B98;
        }
      }
    }
  }
}