.oil-selection {
  position: relative;
  margin-top: -120px;
  margin-bottom: 50px;

  @media #{$phone} {
    margin-top: 0;
    height: 245px;
    background: #DBE2EA;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(60% - 20px);
    background-color: #0C2D35;
    left: 0;
    top: calc(50% + 30px);
    transform: translateY(-50%);
    background-position: center;
    background-size: cover;
    background-image: url("../images/oil-selection-bg.png");

    @media #{$laptop} {
      height: calc(70% - 20px);
      top: 50%;
    }

    @media #{$phone} {
      height: calc(100% - 30px);
      top: 15px;
      transform: none;
    }
  }

  &__wrap {
    position: relative;
    height: 100%;
  }

  &__row {
    display: flex;
    align-items: center;
    height: 100%;

    @media #{$phone} {
      align-items: flex-start;
    }

    @media screen and (max-width: 590px) {
      justify-content: flex-end;
    }
  }

  &__title {
    font-size: 60px;
    color: #ffffff;
    font-weight: 400;
    line-height: 115%;
    margin-bottom: 30px;

    @media #{$phone} {
      margin-bottom: 15px;
    }

    b {
      font-weight: inherit;
      font-size: 90px;
      color: #17E3DB;
      display: block;
      margin-left: -5px;

      @media #{$tablet} {
        font-size: 52px;
      }
    }
    
    @media #{$tablet} {
      font-size: 30px;
    }

  }

  .btn {
    height: 64px;
    font-size: 25px;
    padding: 0 35px 0 55px;
    border-radius: 10px;
    background: linear-gradient(142deg, #004B5E 21.17%, rgba(18, 60, 74, 0.00) 132.69%);
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.30);

    @media #{$tablet} {
      height: 44px;
      font-size: 16px;
      padding: 0 40px;

      svg {
        margin-left: 10px;
        width: 10px;
      }
    }
  }

  &__text {
    flex-shrink: 0;
    margin-left: -25px;
    position: relative;

    @media #{$phone} {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__img {

    @media screen and (max-width: 590px) {
      position: absolute;
      width: 80%;
      bottom: -15%;
      left: 4px;
    }

    @media screen and (max-width: 425px) {
      width: 90%;
    }
  }
}