.product {

  &__main {
    border-radius: 10px;
    background: #FFF;
    padding: 25px 16px 35px 40px;
    margin-bottom: 27px;

    @media #{$phone} {
      padding: 16px;
    }

  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 28px;

    @media #{$phone} {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  .product-info {

    &__list {
      margin-bottom: 40px;

      @media #{$phone} {
        margin-bottom: 25px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 120%;

        li {
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }

          span {
            color: #718B98;
          }
        }
      }

    }
  }

  &__wrap {
    display: flex;

    @media #{$phone} {
      flex-direction: column;
    }
  }

  &__content {
    border-left: 1px solid #E3EFF4;
    width: 45%;

    @media #{$phone} {
      width: 100%;
      border-left: 0;
    }
  }

  .product-option {
    font-weight: 600;

    &__title {
      color: #7A929F;
      line-height: 120%;
      margin-bottom: 8px;
    }

    &__list {
      list-style: none;
      margin: 0 0 0 -10px;
      padding: 0;
    }

    &__item {
      display: inline-block;
      border-radius: 10px;
      border: 1px solid #718B98;
      padding: 7px 12px;
      line-height: 120%;
      margin: 4px;
      cursor: pointer;
      background: transparent;
      transition: .1s all linear;

      &.selected,
      &:hover {
        background: #215C6A;
        border: 1px solid #215C6A;
        color: #ffffff;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__info {
    padding-bottom: 40px;
    padding-left: 45px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E7F1F5;
    
    @media #{$tablet} {
      padding-left: 25px;
    }

    @media #{$phone} {
      padding-left: 0;
    }
  }

  &__price {
    padding-left: 45px;
    margin-bottom: 20px;

    @media #{$tablet} {
      padding-left: 25px;
    }

    @media #{$phone} {
      padding-left: 0;
    }
  }

  &__control {
    padding-left: 45px;
    display: flex;
    flex-direction: column;

    @media #{$tablet} {
      padding-left: 25px;
    }

    @media #{$phone} {
      padding-left: 0;
    }

    .btn {
      margin-bottom: 8px;
      max-width: 295px;
      padding: 0 20px;
      justify-content: center;
      font-size: 16px;
      background: linear-gradient(142deg, #5C8C98 21.17%, rgba(69, 122, 139, 0.94) 132.69%);

      @media #{$phone} {
        max-width: 100%;
      }

      &:hover {
        color: #FCEB0D;
        background: linear-gradient(142deg, #004B5E 21.17%, rgba(69, 122, 139, 0.94) 132.69%);
      }
    }
  }

  &__picture {
    padding-right: 45px;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$laptop} {
      width: 50%;
    }

    @media #{$tablet} {
      padding-right: 25px;
    }

    @media #{$phone} {
      width: 100%;
      padding-right: 0;
    }
  }

  .product-price {
    display: flex;

    @media #{$laptop} {
      flex-direction: column;
    }

    &__col {
      display: flex;
      align-items: flex-end;
      margin-right: 20px;

      @media #{$laptop} {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .product-cost {

    &__title {
      color: #7A929F;
      font-size: 16px;
      font-weight: 600;
      line-height: 120%;
      margin-bottom: -5px;
    }

    &__actual {
      color: #000;
      font-size: 30px;
      font-weight: 700;
      line-height: 120%;
    }
  }

  .product-quantity {

    &__field {
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: 1px solid #CEDCE3;
      height: 35px;
      padding: 7px 0;

      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        background: none;
        padding: 0 5px 0 0;
        margin: 0;
        text-align: right;
        font-size: 18px;
        font-weight: 700;
        width: 45px;
        border: none;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          display: none;
        }

        &:focus {
          outline: none;
        }
      }

      .btn-minus,
      .btn-plus {
        width: 30px;
        text-align: center;
        font-size: 18px;
        color: #4E626C;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: #000000;
        }
      }

      .btn-minus {
        border-right: 1px solid #CEDCE3;
      }

      .btn-plus {
        border-left: 1px solid #CEDCE3;
      }

      .text-count {
        font-size: 16px;
        color: #4E626C;
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }

  .product-available {
    color: #38827F;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .product-gallery {
    width: 100%;
    margin-bottom: 25px;

    @media #{$phone} {
      margin-bottom: 0;
    }

    &__item {
      width: 100%;
      text-align: center;
      padding: 20px 0;

      @media #{$phone} {
        height: 290px;
      }

      img {
        max-width: 100%;
        height: auto;

        @media #{$phone} {
          height: 100%;
        }
      }
    }
  }
  &__certificate {
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 600;
    line-height: 105%;
    color: #38827F;

    @media #{$phone} {
      margin-bottom: 25px;
    }

    img {
      margin-right: 15px;
    }

    span {
      max-width: 235px;
      text-decoration: underline;
    }
  }

  .nav-tab {
    list-style: none;
    margin: 0 0 -25px 0;
    padding: 0;
    display: flex;
    font-size: 18px;
    font-weight: 700;

    &__link {
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.50);
      padding: 12px 40px 40px 40px;
      min-width: 210px;
      display: inline-block;
      color: #000;
      text-align: center;
      transform: translateY(0);
      transition: .2s all linear;
      position: relative;

      @media #{$phone} {
        padding-left: 20px;
        padding-right: 20px;
        min-width: 150px;
      }

      &:after {
        content: '';
        width: 32px;
        height: 30px;
        background-image: url("../images/icon-corner.svg");
        background-size: cover;
        position: absolute;
        right: -31px;
        bottom: 21px;
        pointer-events: none;
        opacity: 0;
      }

      &.active,
      &:hover {
        background: #ffffff;
        transform: translateY(-3px);
      }

      &.active {

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .content-tab {
    border-radius: 10px;
    background: #FFF;
    padding: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;

    @media #{$phone} {
      padding: 16px;
    }

    b {
      font-size: 18px;
      color: #004B5D;
      font-weight: 700;
    }

    &__item {

      p {

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}