.side-panel {
  background: linear-gradient(180deg, rgba(0, 111, 138, 0.30) 31.13%, rgba(0, 130, 161, 0.30) 52.32%, rgba(0, 127, 157, 0.30) 74.88%);
  backdrop-filter: blur(7.5px);
  position: fixed;
  right: -3px;
  top: 30%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  clip-path: path('M24.8877 34.2075C9.78802 44.0602 0 60.5703 0 78.6002V85.158V118.842V125.4C0 143.43 9.78802 159.94 24.8877 169.793C40.0554 179.69 57.1412 192.2 60.4345 200.209C60.5619 203.647 60.7333 204.904 60.9583 203.327C61.0917 202.392 60.9021 201.346 60.4345 200.209C60.0313 189.324 60.0692 156.582 60.2444 122.684C60.4105 121.346 60.4918 119.973 60.4814 118.567C60.4417 113.198 60.4028 107.642 60.366 102C60.4028 96.3578 60.4417 90.8023 60.4814 85.4325C60.4918 84.0272 60.4105 82.6539 60.2444 81.3163C60.0692 47.4182 60.0313 14.6758 60.4345 3.79145C60.9021 2.65438 61.0917 1.60804 60.9583 0.672801C60.7333 -0.904032 60.5619 0.353071 60.4345 3.79145C57.1412 11.8002 40.0554 24.3103 24.8877 34.2075Z');

  @media #{$phone} {
    display: none;
  }

  &__item {
    padding: 11px 16px;

    path,
    circle {
      transition: .2s all linear;
    }

    &:hover {

      path,
      circle {
        fill: #FECD14;
      }
    }
  }
}