.sort-bar {
  width: 100%;
  font-family: $font-family-base;
  font-weight: 600;

  &__wrap {
    padding: 15px 38px 15px 19px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.40);

    @media #{$phone} {
      padding: 10px;
    }
  }

  &__col {
    display: flex;
    align-items: center;

    &_view {
      margin-left: auto;
    }

    &_main {
      margin-right: 25px;

      @media #{$phone} {
        margin-right: 0;
      }
    }
  }

  .sort-main {
    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    font-family: $font-family-base;
    padding: 3px 0;
    
    @media #{$phone} {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      justify-content: flex-end;
    }

    &:hover {

      .sort-submain {
        top: 13px;
        opacity: 1;
        visibility: visible;

        @media #{$phone} {
          top: 30px;
        }
      }
    }

    &__name {
      margin-right: 30px;
      color: #657176;
      font-size: 16px;

      @media #{$phone} {
        margin-right: 0;
      }
    }

    &__type {
      color: #525F66;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: .1s all linear;

      &:hover {
        color: #6BA229;

        .sort-main__icon {

          svg {

            path {
              stroke: #455A64;
            }
          }
        }
      }

    }

    &__icon {

      svg {
        margin-left: 5px;

        path {
          stroke: #455A64;
          transition: .1s all linear;
        }
      }
    }

    &__value {
      margin-right: 7px;
      color: #004B5D;

      &_name {
        color: #657176;
      }

      & + svg {
        margin-top: 4px;
      }
    }
  }

  .sort-submain {
    background: #FFF;
    box-shadow: 0 4px 15px 0 rgba(69, 90, 100, 0.15);
    border-radius: 5px;
    padding: 15px 0;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 5px;
    right: -15px;
    transition: .1s all linear;
    z-index: 50;

    &:before {
      content: '';
      width: 7.18px;
      height: 7.18px;
      background: #FFFFFF;
      transform: rotate(-45deg);
      position: absolute;
      top: -3px;
      right: 15px;
    }

    li {

      a {
        text-decoration: none;
        color: #91A2AB;
        padding: 0 17px;
        position: relative;
        min-height: 30px;
        display: flex;
        align-items: center;
        background: transparent;
        white-space: nowrap;
        transition: .1s all linear;

        &:before {
          content: '';
          width: 16px;
          height: 16px;
          border: 1px solid #B6C3CC;
          border-radius: 4px;
          margin-right: 12px;
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
        }

        &:hover {
          background: #F0F3F5;

          &:before {
            border: 1px solid #B6C3CC;
          }
        }

        &.active {

          &:before {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDExIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjY1MDY2NyA0LjI5ODc3QzAuMjkxNzE4IDMuOTQxMTkgMC4yOTE3MTggMy4zNTk5OSAwLjY1MDY2NyAzLjAwMjQyQzEuMDA3NjcgMi42NDY3OCAxLjU4NTA1IDIuNjQ2NzggMS45NDIwNSAzLjAwMjQyTDQuODU4ODYgNS45MDgwNUM1LjIxNzgxIDYuMjY1NjMgNS4yMTc4MSA2Ljg0NjgzIDQuODU4ODYgNy4yMDQ0QzQuNTAxODUgNy41NjAwNCAzLjkyNDQ4IDcuNTYwMDQgMy41Njc0NyA3LjIwNDRMMC42NTA2NjcgNC4yOTg3N1oiIGZpbGw9IiNGRkYzODMiLz4KPHBhdGggZD0iTTkuMDU3OTYgMC42NTE3NzhDOS40MTQyNyAwLjI5MjEwNCA5Ljk5NDk0IDAuMjkwMTgzIDEwLjM1MzYgMC42NDc0OTJDMTAuNzEwOSAxLjAwMzQgMTAuNzEyOCAxLjU4MTMgMTAuMzU3OSAxLjkzOTU2TDQuOTk5ODEgNy4zNDgyMkM0LjY0MzUgNy43MDc5IDQuMDYyODMgNy43MDk4MiAzLjcwNDE1IDcuMzUyNTFDMy4zNDY4NyA2Ljk5NjYgMy4zNDQ5NiA2LjQxODcgMy42OTk4NyA2LjA2MDQ0TDkuMDU3OTYgMC42NTE3NzhaIiBmaWxsPSIjRkZGMzgzIi8+Cjwvc3ZnPgo=");
            background-color: #455A64;
            border: 1px solid #455A64;
          }
        }
      }
    }
  }

  .sort-view {
    display: flex;
    color: #2A4652;

    @media #{$phone} {
      flex-direction: column;
    }

    &__name {
      margin-right: 28px;
      font-size: 15px;
      color: #2A4652;

      @media #{$phone} {
        margin-bottom: 4px;
        font-size: 16px;
        color: #657176;
      }
    }

    &__item {
      margin-right: 28px;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover,
      &.active {

        svg {

          path {
            fill: #004B5D;
          }
        }
      }

      svg {

        path {
          transition: .1s all linear;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &__list {
      display: flex;
      align-items: center;

      @media #{$phone} {
        padding-left: 1px;
      }
    }
  }
}