.work-time {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 19px;
    font-size: 0;
  }

  &__text {
    color: #004B5E;
    font-size: 16px;
    font-weight: 500;

    span {
      color: #ffffff;
    }

    i {
      font-style: normal;
      color: #18948F;
    }
  }
}