.footer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  padding-top: 4rem;
  padding-bottom: 6rem;

  @media (max-width: 767px) {
    padding-bottom: 2rem;
  }

  &__container {

    &.container {
      max-width: 144rem;
      padding: 0 5rem;

      @media (max-width: 1024px) {
        padding: 0 10rem;
      }

      @media (max-width: 767px) {
        padding: 0 2rem;
      }

      &:before {
        content: "";
        position: absolute;
        width: 68rem;
        height: 13.8rem;
        background-image: url(../images/decor-block.png);
        background-size: contain;
        background-repeat: no-repeat;
        left: calc(50% + 12rem);
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        @media (max-width: 767px) {
          width: 100%;
          left: 8rem;
          transform: none;
          top: 7.5rem;
        }
      }
    }
  }

  &__logo {

    @media (max-width: 767px) {
      grid-column: 1/2;
      grid-row: 2/3;
      margin-bottom: 1.6rem;
    }

    img {
      width: 32rem;
      height: 10.4rem;

      @media (max-width: 767px) {
        width: 100%;
        height: auto;
      }
    }
  }

  &__copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;
    color: #3c3c3c;

    @media (max-width: 1024px) {
      font-size: 1.6rem;
    }

    @media (max-width: 767px) {
      font-size: 1.4rem;
      grid-column: 1/2;
      grid-row: 3/4;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;

    @media (max-width: 767px) {
      grid-template-columns: 1fr 10rem;
      gap: 1rem;
      grid-template-rows: auto auto auto;
    }
  }

  &__dev {
    margin: auto 0;
    text-align: right;

    @media (max-width: 767px) {
      grid-column: 2/3;
      grid-row: 3/4;
    }
  }

  &__phone {
    margin: auto 0;

    @media (max-width: 767px) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin-bottom: 10rem;
    }

    &.phone {

      address {

        @media (max-width: 767px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &__copyright {
    margin: auto 0;
  }
}