* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--scale) !important;
}

body {
  font-family: $font-family-base;
  background-color: #141619;

  * {

    @media (max-width: 1280px) {
      opacity: 0;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --scale: 10px;
}

@media (min-width: 1793px) {
  :root {
    --scale: calc(100vw / 179.2);
  }
}

@media (max-width: 1792px) {
  :root {
    --scale: calc(100vw / 179.2);
  }
}

@media (max-width: 1440px) {
  :root {
    --scale: calc(100vw / 182);
  }
}

@media (max-width: 767px) {
  :root {
    --scale: calc(100vw / 36);
  }
}

.container {
  max-width: 164rem;
  margin: 0 auto;
  padding: 0 10rem;
  position: relative;
}

.main {
  width: 100%;
  overflow: hidden;
}