.btn {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
  border-radius: 31px 0;
  text-decoration: none;
  height: 50px;
  padding: 0 65px;
  line-height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ffffff;

  &_type {

    &_color {
      backdrop-filter: blur(4px);
      background: linear-gradient(93deg, rgba(250, 188, 42, 0.9) 0%, rgba(247, 91, 45, 0.9) 100%);
      font-size: 20px;
    }

    &_submit {
      border: 8px solid rgba(255, 255, 255, 0.2);
      border-radius: 50px 0;
      height: 90px;
      line-height: 90px;
    }

    &_border {
      border-radius: 0;
      background-image: url("../images/btn-border-bg.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      text-transform: uppercase;
      color: #3a4b55;
      font-size: 30px;
      font-weight: 600;
      height: 90px;
      line-height: 90px;
      padding: 0 64px;

      @media #{$phone} {
        font-size: 22px;
        line-height: 57px;
        height: 57px;
        padding: 0 33px;
      }
    }
  }
}