.btn {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
  border-radius: 31px 0;
  text-decoration: none;
  height: 50px;
  padding: 0 55px;
  line-height: 50px;

  &_type {

    &_color {
      backdrop-filter: blur(4px);
      background: linear-gradient(93deg, rgba(250, 188, 42, 0.9) 0%, rgba(247, 91, 45, 0.9) 100%);
      color: #ffffff;
      font-size: 20px;
    }
  }
}