.card {
  background-color: #FFFFFF;
  border-radius: 30px;
  position: relative;
  transition: .3s all ease;
  transform: none;

  @media #{$phone} {
    border-radius: 15px;
  }

  &:hover {

    @media(min-width: 767px) {

      transform: translateY(-10px);

      &:after {
        bottom: -30px;
      }

      .btn {
        opacity: 1;
        bottom: -15px;
        visibility: visible;
      }
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 7px;
    border-radius: 100%;
    background-color: #000000;
    filter: blur(5px);
    z-index: -1;
    opacity: .2;
    transition: .3s all ease;
  }

  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }

  &__logo {
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;

    @media #{$phone} {
      max-width: 50%;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 30px;
    overflow: hidden;

    @media #{$phone} {
      border-radius: 15px;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: right;
      object-fit: contain;
    }
  }

  .btn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 60%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: .2s all ease-in-out;
  }
}