.footer-bottom {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 15px;

  @media #{$notebook} {
    column-gap: 30px;
  }

  @media #{$phone} {
    column-gap: 15px;
  }

  &__col {

    &_type {

      &_socials {
        grid-column: 1/2;
        grid-row: 1/3;

        @media #{$notebook} {
          grid-row: 1/2;
        }
      }

      &_copy {

        @media #{$notebook} {
          grid-column: 1/3;
        }
      }

      &_phone {

        @media #{$notebook} {
          margin: auto 0;
        }
      }
    }
  }
}