.footer-menu {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;

  &__row {
    display: flex;

    @media #{$tablet} {
      flex-wrap: wrap;
    }
  }

  &__col {
    margin-right: 5em;

    @media #{$tablet} {
      margin-right: 0;
      margin-bottom: 15px;
      padding-right: 10px;
      width: 50%;
    }

    &_type {

      &_services {

        @media #{$phone} {
          width: 100%;

          li {
            display: inline-block;
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;

    @media #{$notebook} {
      font-size: 20px;
    }

    a {
      text-decoration: none;
      color: #8aa0ac;
      transition: .1s all linear;

      &:hover {
        color: #ffffff;
      }
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: 300;

    @media #{$notebook} {
      font-size: 20px;
    }

    li {
      margin-bottom: 10px;

      @media #{$tablet} {
        margin-bottom: 6px;
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        text-decoration: none;
        color: #657984;
        transition: .1s all linear;

        &:hover {
          color: #ffffff;
        }
      }
    }
  }

}