.popup-dropdown {
  display: none;
  position: fixed;
  width: 40%;
  min-width: 710px;
  height: 100%;
  padding: 45px 45px 45px 80px;
  left: 0;
  top: 0;
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
  z-index: 200;

  @media #{$tablet} {
    width: 70%;
    min-width: auto;
    padding: 30px;
  }

  @media #{$phone} {
    width: 90%;
    padding: 16px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__close {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0 0 40px auto;
    cursor: pointer;
    display: block;

    @media #{$tablet} {
      margin-bottom: 20px;
    }

    @media #{$phone} {
      max-width: 30px;
      margin-bottom: 10px;
    }
  }

  .dropdown-bottom {
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__col {
      margin-bottom: 10px;

      &_type {

        &_phone {
          margin-left: auto;
          margin-right: 30px;

          @media #{$phone} {
            margin-right: 0;

            .phone-link {
              font-size: 22px;
            }
          }
        }

        &_btn {

          @media #{$phone} {
            width: 100%;
            margin-bottom: 0;
            margin-top: 20px;

            .btn {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .popup-menu {
    font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;
    list-style: none;
    font-weight: 300;
    font-size: 45px;
    line-height: 130%;
    padding: 0;
    margin: 0 0 40px 0;

    @media #{$phone} {
      font-size: 30px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      color: #ffffff;

      &.active,
      &:hover {
        background: linear-gradient(90deg, #fbc92a 0%, #f6342e 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}