.screen {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #c4c9c9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 35px 60px 130px;

  @media #{$phone} {
    padding: 50px 20px 35px 20px;
  }

  &-main {

    @media #{$phone} {
      align-items: flex-start;
    }

    &_type {

      &_page {

        @media #{$tablet} {
          padding-top: 66px;
        }

        .main-screen__img {
          max-width: 45%;
          right: 0;
          bottom: 0;
          left: initial;
          top: initial;
          transform: none;

          @media #{$phone} {
            max-width: 65%;
            opacity: .5;
          }
        }

        .main-screen__content {
          justify-content: left;
          align-items: flex-start;
          flex-direction: column;
          text-align: left;

          @media #{$tablet} {
            padding: 0;
          }
        }

        .main-screen__circle {
          top: -50%;
          opacity: .5;
        }
      }

      &_cards {

        .page-inner {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  &-play {
    justify-content: flex-end;

    @media #{$phone} {
      justify-content: center;
    }
  }

  &-advantages {
    justify-content: flex-end;
    padding-right: 0;

    @media #{$phone} {
      padding-left: 0;
    }

    .screen__content {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-gym {
    padding-top: 140px;

    @media #{$tablet} {
      padding-top: 100px;
    }

    @media #{$phone} {
      padding-top: 70px;
    }
  }

  &-team {
    align-items: flex-start;

    @media #{$tablet} {
      padding-top: 80px;
    }

    @media #{$phone} {
      padding-top: 60px;
    }
  }

  &-footer {
    width: 100%;
    align-items: flex-start;

    @media #{$tablet} {
      padding-top: 80px;
    }

    @media #{$phone} {
      padding-top: 60px;
    }

    .screen__content {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__content {
    position: relative;
    
    @media #{$phone} {
      width: 100%;
    }
  }
}