.screen {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4c9c9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}