.screen {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #c4c9c9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 35px 60px 130px;

  @media #{$phone} {
    padding: 50px 20px 35px 20px;
  }

  &-main {

    @media #{$phone} {
      align-items: flex-start;
    }
  }

  &-play {
    justify-content: flex-end;

    @media #{$phone} {
      justify-content: center;
    }
  }

  &-gym {
    padding-top: 140px;

    @media #{$tablet} {
      padding-top: 100px;
    }

    @media #{$phone} {
      padding-top: 70px;
    }
  }

  &-team {
    align-items: flex-start;

    @media #{$tablet} {
      padding-top: 80px;
    }

    @media #{$phone} {
      padding-top: 60px;
    }
  }

  &-footer {
    width: 100%;
    align-items: flex-start;

    @media #{$tablet} {
      padding-top: 80px;
    }

    @media #{$phone} {
      padding-top: 60px;
    }

    .screen__content {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    
    @media #{$phone} {
      width: 100%;
    }
  }
}