.send-section {
  font-family: 'Bebas Neue', 'Arial Narrow', sans-serif;

  &__title {
    font-weight: 400;
    font-size: 150px;
    line-height: 106%;
    text-transform: uppercase;
    position: relative;
    z-index: 1;

    @media #{$tablet} {
      font-size: 100px;
    }

    @media #{$phone} {
      font-size: 80px;
      line-height: 95%;
      margin-bottom: 10px;
    }

    span {
      background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
  }
}