@font-face {
  font-family: "Jura";
  src: url("../fonts/jura/Jura-SemiBold.woff2") format("woff2"), url("../fonts/jura/Jura-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/jura/Jura-Medium.woff2") format("woff2"), url("../fonts/jura/Jura-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/jura/Jura-Light.woff2") format("woff2"), url("../fonts/jura/Jura-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/jura/Jura-Bold.woff2") format("woff2"), url("../fonts/jura/Jura-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jura";
  src: url("../fonts/jura/Jura-Regular.woff2") format("woff2"), url("../fonts/jura/Jura-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kelson Sans";
  src: url("../fonts/kelson/KelsonSans-RegularRU.woff2") format("woff2"), url("../fonts/kelson/KelsonSans-RegularRU.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #f3f7f9;
  font-family: "Jura", "Arial Narrow", sans-serif;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 105px;
  background-attachment: fixed;
}
@media screen and (min-width: 1921px) {
  body {
    background-size: cover;
  }
}
@media screen and (max-width: 979px) {
  body {
    padding-top: 65px;
  }
}

.h2 {
  font-size: 30px;
  color: #004B5E;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 25px;
  }
}

.box {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.title-decor {
  position: relative;
  padding-left: 29px;
}
.title-decor:before {
  content: "";
  background-image: url("../images/title-decor.svg");
  width: 18px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 3px;
}

.header {
  background: rgba(6, 45, 54, 0.9);
  backdrop-filter: blur(2.5px);
  position: fixed;
  left: 0;
  top: 14px;
  width: 100%;
  z-index: 100;
}
@media screen and (max-width: 979px) {
  .header {
    top: 0;
  }
}
.header__row {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}
@media screen and (max-width: 979px) {
  .header__row {
    margin: 0 -5px;
  }
}
.header__col {
  display: flex;
  padding: 20px 10px;
}
@media screen and (max-width: 979px) {
  .header__col {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 979px) {
  .header__col {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
.header__col_type_logo {
  align-items: flex-start;
  padding-top: 3px;
}
@media screen and (max-width: 1399px) {
  .header__col_type_logo {
    align-items: center;
  }
}
@media screen and (max-width: 979px) {
  .header__col_type_logo {
    padding-top: 14px;
  }
}
.header__col_type_nav {
  padding-top: 0;
  padding-bottom: 0;
  flex-grow: 1;
}
@media screen and (max-width: 979px) {
  .header__col_type_nav {
    display: none;
  }
}
.header__col_type_phone {
  align-items: flex-end;
  padding-bottom: 23px;
}
@media screen and (max-width: 1279px) {
  .header__col_type_phone {
    align-items: center;
  }
}
@media screen and (max-width: 979px) {
  .header__col_type_phone {
    padding-bottom: 14px;
  }
}
@media screen and (max-width: 1279px) {
  .header__col_type_phone .phone__text {
    display: none;
  }
}
.header__col_type_control {
  margin-left: auto;
}
.header__col_type_toggle {
  display: none;
  flex-shrink: 0;
}
@media screen and (max-width: 979px) {
  .header__col_type_toggle {
    display: flex;
    align-items: flex-end;
  }
  .header__col_type_toggle .toggle {
    padding-bottom: 15%;
  }
}

.logo-list {
  list-style: none;
  padding: 0;
  margin: 0 -8px;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 767px) {
  .logo-list {
    margin: 0 -5px;
  }
}
.logo-list__item {
  padding: 0 8px;
}
@media screen and (max-width: 767px) {
  .logo-list__item {
    padding: 0 5px;
  }
}
@media screen and (max-width: 1399px) {
  .logo-list__item img {
    max-width: 120px;
  }
}
@media screen and (max-width: 979px) {
  .logo-list__item img {
    max-width: 100%;
  }
}
@media screen and (max-width: 979px) {
  .logo-list__item_type_cnrg {
    max-width: 89px;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 979px) {
  .logo-list__item_type_vid {
    max-width: 104px;
  }
}
.logo-list__link {
  font-size: 0;
}

.nav {
  font-family: "Jura", "Arial Narrow", sans-serif;
}
@media screen and (max-width: 1279px) {
  .nav {
    font-size: 14px;
  }
}
.nav__list {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}
.nav__link, .nav__item {
  height: 100%;
  display: block;
}
.nav__item {
  padding: 0 5px;
}
.nav__link {
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: 0.2s color linear;
  text-decoration: none;
  padding: 0 10px;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .nav__link {
    padding: 0 5px;
  }
}
.nav__link:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #209194;
  left: 0;
  bottom: 0;
  position: absolute;
  transform: scaleX(0);
  transition: 0.2s all linear;
}
.nav__link:hover {
  color: #FCEB0D;
}
.nav__link:hover:before {
  transform: scaleX(1);
}

.open-search {
  appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
}
.open-search svg path,
.open-search svg circle {
  transition: 0.2s all linear;
}
.open-search:hover svg path,
.open-search:hover svg circle {
  stroke: #FECD14;
}

.header-control {
  display: flex;
  align-items: center;
  margin: 0 -13px;
}
@media screen and (max-width: 1279px) {
  .header-control {
    margin: 0 -8px;
  }
}
.header-control__item {
  padding: 0 13px;
}
@media screen and (max-width: 1279px) {
  .header-control__item {
    padding: 0 8px;
  }
}
@media screen and (max-width: 1279px) {
  .header-control__item_type_search {
    display: none;
  }
}

.small-basket {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0E2A33;
  position: relative;
}
@media screen and (max-width: 979px) {
  .small-basket {
    width: 33px;
    height: 33px;
  }
}
.small-basket__num {
  position: absolute;
  font-size: 14px;
  width: 19px;
  height: 25px;
  color: #0E2A33;
  background-image: url("../images/small-basket-num-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 700;
  top: -6px;
  right: -8px;
}
@media screen and (max-width: 979px) {
  .small-basket__num {
    width: 12px;
    height: 14px;
    background-size: cover;
    top: -2px;
    right: -2px;
    font-size: 0;
  }
}
.small-basket__num i {
  font-style: normal;
  margin-bottom: 3px;
}
@media screen and (max-width: 979px) {
  .small-basket__icon {
    max-width: 17px;
  }
}
.small-basket__icon path {
  transition: 0.2s all linear;
}
.small-basket__icon:hover path {
  stroke: #FECD14;
}

.phone {
  display: flex;
}
.phone__icon {
  padding: 5px;
  margin-right: 3px;
  font-size: 0;
}
.phone__link {
  color: #FECD14;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
}
.phone__btn {
  appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
  color: #299DAE;
  font-size: 14px;
  transition: 0.2s all linear;
}
.phone__btn:hover {
  color: #FECD14;
}
.phone__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toggle {
  appearance: none;
  padding: 0;
  margin: 0;
  background: none;
  border: 0;
  cursor: pointer;
}

.index-slide {
  height: 480px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 120px;
  position: relative;
}
@media screen and (max-width: 1279px) {
  .index-slide {
    height: auto;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
@media screen and (max-width: 767px) {
  .index-slide {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
.index-slide__title {
  font-family: "Kelson Sans", serif;
  font-size: 80px;
  color: #ffffff;
  line-height: 100%;
  margin-bottom: 10px;
}
@media screen and (max-width: 1279px) {
  .index-slide__title {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px) {
  .index-slide__title {
    font-size: 40px;
    margin-bottom: 5px;
  }
}
.index-slide__title span {
  color: #FAB909;
}
.index-slide__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 100%;
  padding-right: 20px;
}
@media screen and (max-width: 1279px) {
  .index-slide__text {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .index-slide__text {
    margin-bottom: 0;
    padding-right: 0;
    font-size: 14px;
    line-height: 115%;
  }
}
.index-slide__wrap {
  position: relative;
  padding: 15px 30px 30px 30px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .index-slide__wrap {
    padding: 25px 8px 20px 8px;
  }
}
.index-slide__wrap:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 20px;
  background: rgba(40, 98, 119, 0.5);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .index-slide__more {
    display: none;
  }
}
.index-slide__content {
  width: 52%;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .index-slide__content {
    width: 60%;
  }
}
@media screen and (max-width: 767px) {
  .index-slide__content {
    width: 65%;
  }
}
.index-slide__image {
  width: 48%;
}
@media screen and (max-width: 1279px) {
  .index-slide__image {
    width: 40%;
  }
}
@media screen and (max-width: 767px) {
  .index-slide__image {
    width: 60%;
  }
}
.index-slide__title, .index-slide__anons {
  position: relative;
}
.index-slide__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.index-slide__anons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media screen and (max-width: 1279px) {
  .index-slide__anons {
    flex-direction: column;
    align-items: flex-start;
  }
}

.index-image {
  height: 100%;
}
@media screen and (max-width: 767px) {
  .index-image {
    padding: 10px 0;
  }
}
.index-image__item {
  height: 100%;
  display: flex;
  align-items: flex-end;
  transition: 0.5s all ease-in-out;
}
@media screen and (max-width: 767px) {
  .index-image__item {
    justify-content: flex-end;
  }
}
.index-image__item img {
  max-height: 100%;
}
@media screen and (max-width: 767px) {
  .index-image__item img {
    max-width: 170px;
  }
}
.index-image__item_type_main {
  transform: translateX(20px);
}
@media screen and (max-width: 767px) {
  .index-image__item_type_bg {
    display: none;
  }
}
.index-image__item_type_bg img {
  position: absolute;
  z-index: -1;
  left: calc(50% - 80px);
  bottom: 60px;
  transition: 0.5s all ease-in-out;
}

.btn {
  border-radius: 10px;
  background: linear-gradient(142deg, #004B5E 21.17%, rgba(18, 60, 74, 0) 132.69%);
  height: 43px;
  font-size: 14px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 0 20px 0 40px;
  min-width: 170px;
  transition: 0.2s all linear;
}
.btn span {
  display: flex;
  align-items: center;
}
.btn span svg {
  margin-left: 15px;
  margin-top: 3px;
}
.btn span svg path {
  stroke: #ffffff;
  transition: 0.2s all linear;
}
.btn:hover {
  color: #FCEB0D;
}
.btn:hover span svg path {
  stroke: #FCEB0D;
}

.main-slider {
  position: relative;
  margin-bottom: 44px;
}
.main-slider .swiper-pagination {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .main-slider .swiper-pagination {
    justify-content: center;
  }
}
.main-slider .swiper-pagination-bullet {
  width: 42px;
  height: 20px;
  position: relative;
  border-radius: 0;
  opacity: 1;
  background: transparent;
}
.main-slider .swiper-pagination-bullet:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  left: 0;
  top: 8px;
  background: #26AAAB;
  transition-timing-function: linear;
  transition-property: width;
  transition-duration: 0.3s;
  z-index: 2;
}
.main-slider .swiper-pagination-bullet:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #CED6DC;
  left: 0;
  top: 8px;
  z-index: 1;
}
.main-slider .swiper-pagination-bullet-active:before {
  width: 100%;
}
.main-slider__item.swiper-slide {
  height: auto;
  display: flex;
  align-items: flex-end;
}
.main-slider__item.swiper-slide-active .index-image__item_type_main {
  transform: translateX(0);
}
.main-slider__item.swiper-slide-active .index-image__item_type_bg img {
  left: calc(50% - 50px);
}
@media screen and (max-width: 767px) {
  .main-slider__wrap {
    padding-bottom: 40px;
  }
}
.main-slider__section {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 50px;
  z-index: 1;
}
@media screen and (max-width: 1279px) {
  .main-slider__section {
    position: relative;
    bottom: 0;
    margin-top: 20px;
    padding: 0;
  }
}

.section-nav {
  font-size: 16px;
}
.section-nav__wrap {
  background: linear-gradient(90deg, rgba(0, 85, 92, 0.7) 0%, rgba(4, 145, 147, 0.7) 22.74%, rgba(0, 95, 96, 0.7) 47.23%, rgba(11, 141, 140, 0.7) 72.92%, rgba(0, 93, 99, 0.7) 100%);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .section-nav__wrap {
    padding-left: 30px;
  }
}
.section-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.section-nav__item {
  position: relative;
  padding-right: 28px;
  margin-right: 16px;
}
.section-nav__item:last-child {
  margin-right: 0;
  padding-right: 0;
}
.section-nav__item:last-child:before {
  content: none;
}
.section-nav__item:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 100%;
  background-image: url("../images/nav-separator.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
}
.section-nav__item_type_toggle {
  margin-left: auto;
}
.section-nav__link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px 20px 0;
  transition: 0.2s all linear;
}
.section-nav__link:hover {
  color: #FAB909;
}
.section-nav__link_type_toggle {
  padding-right: 25px;
}
.section-nav .nav__dropdown-toggle {
  border: none;
  appearance: none;
  margin-right: 26px;
  cursor: pointer;
  background-image: url("../images/nav-toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 35px;
  font-size: 0;
}
.section-nav .nav__dropdown-wrapper {
  margin-left: auto;
  align-self: stretch;
  display: flex;
  align-content: center;
}
.section-nav .priority-nav__dropdown {
  right: 0;
  top: 50px;
  background: linear-gradient(90deg, rgba(0, 85, 92, 0.7) 0%, rgba(4, 145, 147, 0.7) 22.74%, rgba(0, 95, 96, 0.7) 47.23%, rgba(11, 141, 140, 0.7) 72.92%, rgba(0, 93, 99, 0.7) 100%);
  backdrop-filter: blur(7.5px);
  border-radius: 10px;
  list-style: none;
  padding: 20px;
}
.section-nav .priority-nav__dropdown .section-nav__item {
  margin-right: 0;
  padding-right: 0;
}
.section-nav .priority-nav__dropdown .section-nav__item:before {
  content: none;
}
.section-nav .priority-nav__dropdown .section-nav__link {
  padding: 10px 0;
  transition: none;
}

.benefit {
  margin-bottom: 45px;
}
@media screen and (max-width: 767px) {
  .benefit {
    margin-bottom: 35px;
  }
}
.benefit__list {
  display: flex;
  gap: 27px;
}
@media screen and (max-width: 979px) {
  .benefit__list {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .benefit__list {
    gap: 10px;
  }
}
.benefit__item {
  width: 25%;
}
@media screen and (max-width: 979px) {
  .benefit__item {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 767px) {
  .benefit__item {
    width: calc(50% - 5px);
  }
}
.benefit .benefits-item {
  min-height: 130px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media screen and (max-width: 767px) {
  .benefit .benefits-item {
    min-height: 70px;
    justify-content: flex-start;
    padding: 20px 10px;
  }
}
.benefit .benefits-item__icon {
  margin-right: 32px;
}
@media screen and (max-width: 767px) {
  .benefit .benefits-item__icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
  }
  .benefit .benefits-item__icon img {
    max-height: 32px;
  }
}
@media screen and (max-width: 374px) {
  .benefit .benefits-item__icon {
    width: 30px;
  }
}
.benefit .benefits-item__name {
  font-size: 18px;
  line-height: 100%;
}
@media screen and (max-width: 767px) {
  .benefit .benefits-item__name {
    font-size: 14px;
  }
}
@media screen and (max-width: 374px) {
  .benefit .benefits-item__name {
    font-size: 12px;
  }
}

.index-about {
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .index-about {
    margin-bottom: 40px;
  }
}
.index-about__head {
  margin-bottom: 18px;
  position: relative;
  line-height: 122%;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .index-about__head {
    margin-bottom: 0;
  }
}
.index-about__head:after {
  content: "";
  clear: both;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .index-about__head:after {
    content: none;
  }
}
.index-about__head img {
  float: left;
  margin-right: 45px;
}
@media screen and (max-width: 1279px) {
  .index-about__head img {
    margin-right: 45px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .index-about__head img {
    float: none;
    margin-bottom: 14px;
    max-width: 227px;
    margin-right: 0;
  }
}
.index-about__head p {
  margin: 0;
}
.index-about__title {
  margin-bottom: 30px;
}
.index-about__wrap {
  border-radius: 10px;
  background-color: #0f2d2d;
  color: #ffffff;
  padding: 40px 50px;
  background-image: url("../images/about-index-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media screen and (max-width: 767px) {
  .index-about__wrap {
    background-color: #1A3E49;
    padding: 22px 11px;
    background-image: url("../images/about-index-bg-mobile.png");
    background-position: top;
  }
}
.index-about__content {
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 15px;
}
.index-about__content b {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .index-about__content b {
    font-size: 18px;
  }
}
.index-about__content p:last-child {
  margin-bottom: 0;
}
.index-about__more {
  text-align: right;
}
@media screen and (max-width: 767px) {
  .index-about__more {
    text-align: left;
  }
}

.link-more {
  font-size: 18px;
  color: #38827F;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  transition: 0.2s all linear;
  line-height: 120%;
}
.link-more:hover {
  color: #FCEB0D;
}
.link-more:hover svg path {
  stroke: #FCEB0D;
}
.link-more svg {
  margin-left: 6px;
  margin-top: 2px;
}
.link-more svg path {
  transition: 0.2s all linear;
}

.category-item {
  height: 100%;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .category-item:hover .category-item__content {
    opacity: 1;
    max-height: 300px;
    visibility: visible;
  }
  .category-item:hover .category-item__wrap {
    top: -20px;
    height: auto;
  }
  .category-item:hover .category-item__wrap:before {
    box-shadow: -5px -5px 20px rgba(7, 28, 37, 0.1);
    clip-path: polygon(210% -20px, -20px 165%, -20px -20px);
  }
  .category-item:hover .category-item__name {
    color: #18948F;
  }
}
.category-item__name {
  color: #004B5D;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
  line-height: 100%;
  position: relative;
  transition: 0.2s all linear;
}
@media screen and (max-width: 767px) {
  .category-item__name {
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
}
.category-item__name:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, rgba(221, 233, 239, 0) 0%, rgba(210, 224, 232, 0.49) 50%, rgba(221, 233, 239, 0) 100%);
}
.category-item__pics {
  height: 250px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .category-item__pics {
    height: auto;
    flex-grow: 1;
  }
}
.category-item__pics img {
  height: auto;
}
.category-item__desc {
  color: #254F4D;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.category-item__wrap {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.2s all ease-in;
}
@media screen and (max-width: 767px) {
  .category-item__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
  }
}
.category-item__wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: none;
  clip-path: polygon(275% -20px, -20px 165%, -20px -20px);
  transition: 0.2s all ease-in;
}
@media screen and (max-width: 767px) {
  .category-item__wrap:before {
    clip-path: none;
  }
}
.category-item__control {
  text-align: right;
}
.category-item__content {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .category-item__content {
    display: none;
  }
}
.category-item__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.category {
  margin-bottom: 55px;
  position: relative;
}
.category__list {
  display: flex;
  padding-top: 50px;
  padding-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .category__list {
    padding-top: 0;
    padding-bottom: 0;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
.category__head {
  margin-bottom: -20px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .category__head {
    margin-bottom: 25px;
  }
}
.category__item {
  height: 360px;
  width: 25%;
}
@media screen and (max-width: 767px) {
  .category__item {
    width: 100%;
    height: auto;
  }
}
.category__wrap {
  padding: 0 20px;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
@media screen and (max-width: 1524px) {
  .category__wrap {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .category__wrap {
    overflow: initial;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .category__more_type_header {
    display: none;
  }
}
.category__more_type_footer {
  display: none;
}
@media screen and (max-width: 767px) {
  .category__more_type_footer {
    display: block;
    text-align: center;
  }
}
.category__more .link-more {
  color: #798C97;
}
.category__more .link-more svg path {
  stroke: #798C97;
}
.category__more .link-more:hover {
  color: #798C97;
}
.category__more .link-more:hover svg path {
  stroke: #798C97;
}
.category .swiper-button-prev, .category .swiper-button-next {
  width: 40px;
  height: 36px;
  top: 45%;
}
@media screen and (max-width: 1524px) {
  .category .swiper-button-prev, .category .swiper-button-next {
    display: none;
  }
}
.category .swiper-button-prev:before, .category .swiper-button-next:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/arrow-category-bg.svg");
  background-repeat: no-repeat;
}
.category .swiper-button-prev:after, .category .swiper-button-next:after {
  content: none;
}
.category .swiper-button-prev svg, .category .swiper-button-next svg {
  max-width: 7px;
  height: auto;
}
.category .swiper-button-prev svg path, .category .swiper-button-next svg path {
  transition: 0.2s all linear;
}
.category .swiper-button-prev.swiper-button-disabled, .category .swiper-button-next.swiper-button-disabled {
  opacity: 1;
}
.category .swiper-button-prev:hover svg path, .category .swiper-button-next:hover svg path {
  stroke: #26AAAB;
}
.category .swiper-button-prev {
  left: -50px;
}
.category .swiper-button-prev:before {
  transform: rotate(180deg);
}
.category .swiper-button-next {
  right: -50px;
}

.oil-selection {
  position: relative;
}
.oil-selection:before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(60% - 20px);
  background-color: #0C2D35;
  left: 0;
  top: calc(50% + 30px);
  transform: translateY(-50%);
  background-position: center;
  background-size: cover;
  background-image: url("../images/oil-selection-bg.png");
}
.oil-selection__wrap {
  position: relative;
}
.oil-selection__row {
  display: flex;
  align-items: center;
}
.oil-selection__title {
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  line-height: 115%;
  margin-bottom: 30px;
}
.oil-selection__title b {
  font-weight: inherit;
  font-size: 90px;
  color: #17E3DB;
  display: block;
  margin-left: -5px;
}
.oil-selection .btn {
  height: 64px;
  font-size: 25px;
  padding: 0 35px 0 55px;
  border-radius: 10px;
  background: linear-gradient(142deg, #004B5E 21.17%, rgba(18, 60, 74, 0) 132.69%);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
}

/*# sourceMappingURL=style.css.map */
