html,
body {
  background-color: #f3f6f9;
  height: 100vh;
}

body {
  font-family: $font-family-base;
  color: $c-dark-blue;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  position: relative;

  &.compensate-for-scrollbar {

    .main-menu_fixed {
      padding-right: 17px;
    }
  }
}

* {
  box-sizing: border-box;
}


.container {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @media #{$phone} {
    padding: 0 10px;
  }
}

.h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;

  @media #{$phone} {
    font-size: 25px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url("../images/footer-bg.jpg");
  background-position: 100% calc(100% - 56px);
  background-repeat: no-repeat;

  @media #{$phone} {
    background-position: 0 calc(100% - 56px);
    background-size: auto 700px;
  }
}

.main {
  flex-grow: 1;

  &__page {
    font-size: 18px;
    line-height: 120%;
    padding-bottom: 50px;

    @media #{$phone} {
      font-size: 16px;
    }

    h2 {
      font-size: 32px;
      font-weight: 500;
      line-height: 120%;
      text-transform: uppercase;
      margin: 0 0 20px 0;

      @media #{$phone} {
        font-size: 20px;
      }
    }
  }
}

a:not([class]) {
  color: $c-dark-blue;

  &:hover {
    text-decoration: none;
  }
}

.fancybox {

  &__backdrop {
    background: rgba(36, 52, 65, 0.10)!important;
    backdrop-filter: blur(10px);
  }
}

.close-fancy {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__circle {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.popup-form {

  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .carousel__button {
    display: none;
  }

  &.fancybox__content {
    padding: 0;
    background: transparent;
  }

  .order {
    padding-bottom: 0;

    &__wrap {
      box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.30);
    }

    &:after {
      content: none;
    }
  }
}