// Fonts
$font-family-base:    'Gilroy', 'Arial Narrow', sans-serif;
//$font-family-add:     'Alumni Sans', 'Arial Narrow', sans-serif;
$font-size-base:       16px;
$font-weight-base:     400;


// Color
$c-white:             #FFFFFF;
$c-red:               #E21C2A;
$c-blue:              #5398FF;
$c-dark-blue:         #2476FD;
$c-light-grey:        #E4ECF0;
$c-dark-grey:         #99A3A9;
$c-grey:              #D8E3E9;


// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$laptop_s: 'screen and (max-width: 1024px)';
$tablet: 'screen and (max-width: 999px)';
$phone: 'screen and (max-width: 767px)';



