* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #050913;
  font-family: "Gilroy", "Arial Narrow", sans-serif;
}

.box {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 105px);
}
@media screen and (max-width: 979px) {
  .wrapper {
    min-height: calc(100vh - 65px);
  }
}

.main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #26AAAB;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: "Days One", serif;
  line-height: 100%;
  background: linear-gradient(269deg, #00DFFF 1.58%, #C130D5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

.link-more {
  position: relative;
  font-family: "Days One", serif;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6392D7;
  transition: 0.2s color ease-out;
}
.link-more:hover {
  color: #ffffff;
}
.link-more span {
  margin-right: 3px;
}

.btn {
  height: 46px;
  line-height: 46px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-transform: uppercase;
  font-family: "Days One", serif;
  border-radius: 10px;
  background: linear-gradient(287deg, #353F56 21.6%, #384356 59.96%, #475467 99.13%);
  box-shadow: 0 0 15px 3px #353f56;
  padding: 0 60px;
  position: relative;
  transition: 0.2s all ease-out;
}
.btn:hover {
  background: linear-gradient(287deg, #353F56 21.6%, #273347 59.96%, #475467 99.13%);
  color: #C130D5;
}
.btn_type_buy:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-add-cart.svg");
  right: 20px;
  bottom: calc(50% - 5px);
  transform: translateY(50%);
  opacity: 0;
  transition: 0.2s all linear;
}
.btn_type_buy:hover:before {
  bottom: 50%;
  opacity: 1;
}
.btn.in-cart {
  color: #C130D5;
  background: linear-gradient(287deg, #353F56 21.6%, #273347 59.96%, #475467 99.13%);
}
.btn.in-cart:before {
  background-image: url("../images/icon-in-cart.svg");
  opacity: 1;
  bottom: 50%;
}

.header {
  background: rgba(5, 9, 19, 0.8);
  backdrop-filter: blur(2px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 25px 0;
}
.header .logo {
  position: relative;
}
.header .logo:before {
  content: "";
  position: absolute;
  background-image: url(../images/bg-logo-header.svg);
  width: 412px;
  height: 167px;
  left: 50%;
  top: -25px;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0.6;
  pointer-events: none;
  transition: 0.2s opacity ease-out;
}
.header .logo:hover:before {
  opacity: 1;
}

.footer {
  padding: 25px 0 80px 0;
  position: relative;
}
.footer:before {
  content: "";
  position: absolute;
  background: rgba(5, 9, 19, 0.8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.8;
}
.footer__wrap {
  position: relative;
}
.footer__nav {
  margin-bottom: 25px;
}
.footer .socials {
  margin-bottom: 22px;
}
.footer .copyright {
  color: #2F3B50;
  font-size: 11px;
  line-height: 125%;
  margin: 0;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .logo {
  position: relative;
}
.footer .logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 448px;
  height: 230px;
  left: 50%;
  top: -85px;
  background-image: url(../images/bg-logo-footer.svg);
  transform: translateX(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: 0.2s opacity ease-out;
}
.footer .logo:hover:before {
  opacity: 1;
}
.footer .phone__icons:before {
  content: none;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Days One";
  src: url("../fonts/daysone/DaysOne-Regular.woff2") format("woff2"), url("../fonts/daysone/DaysOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.index-video {
  width: 100%;
  margin-bottom: 60px;
}
.index-video__wrap {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
}
.index-video__wrap video {
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.nav {
  font-size: 18px;
  font-family: "Days One", serif;
}
.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.nav__link {
  padding: 0 40px;
  color: #8089BF;
  transition: 0.2s color ease-out;
}
.nav__link:hover {
  color: #ffffff;
}

.logo {
  font-size: 0;
}

.main-nav__row {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.main-nav__col {
  display: flex;
  align-items: center;
}
.main-nav__col_type_toggle .toggle svg path {
  fill: #8089BF;
  transition: 0.2s all linear;
}
.main-nav__col_type_toggle .toggle:hover svg path {
  fill: #ffffff;
}
.main-nav__col_type_menu {
  flex-grow: 1;
}

.phone {
  display: flex;
  align-items: flex-end;
  column-gap: 9px;
}
.phone__icons {
  display: flex;
  column-gap: 9px;
  position: relative;
}
.phone__icons:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  background-image: url(../images/bg-icons.svg);
  background-repeat: no-repeat;
  width: 344px;
  height: 175px;
}
.phone__icon {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: radial-gradient(76.56% 76.64% at 50% 50.32%, #192845 0%, #071121 100%);
  filter: drop-shadow(0px 4px 70px #000);
}
.phone__icon svg path {
  transition: 0.2s ease-out;
  fill: #8089BF;
}
.phone__icon:hover svg path {
  fill: #ffffff;
}
.phone__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.phone__link {
  font-size: 20px;
  background: linear-gradient(269deg, #00DFFF 1.58%, #C130D5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 90%;
  margin-bottom: 3px;
  font-family: "Days One", serif;
}
.phone__btn {
  color: #C130D5;
  font-size: 14px;
  line-height: 72%;
  margin-bottom: 3px;
  transition: 0.2s ease-out;
  text-transform: lowercase;
  font-weight: 500;
}
.phone__btn:hover {
  color: #ffffff;
}

.models__title {
  text-align: center;
  margin-bottom: 20px;
}
.models__title .h2 {
  margin-bottom: 0;
}
.models__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.models__col {
  padding: 0 30px;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
}
.models__col:before {
  position: absolute;
  content: "";
  right: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(0deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
}
.models__col:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-image: url("../images/col-after.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: -5px;
  top: 50%;
  transform: translateY(calc(50% + 50px));
}
.models__col:last-child:before, .models__col:last-child:after {
  content: none;
}
.models .model-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.models .model-item__pics {
  height: 130px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0;
  transform: translateY(0);
  transition: 0.5s transform ease-out;
}
.models .model-item__pics img {
  max-width: 100%;
}
.models .model-item__logo {
  width: 120px;
  height: 36px;
  display: flex;
  align-items: center;
  margin-top: -15px;
}
.models .model-item__logo img {
  max-height: 100%;
}
.models .model-item:hover .model-item__pics {
  transform: translateY(-10px);
}
.models_type_dropdown {
  max-width: 700px;
  margin: 0 auto;
}
.models_type_dropdown .models__row {
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.models_type_dropdown .models__row:before {
  content: "";
  position: absolute;
  top: 50%;
  background: linear-gradient(90deg, #E2E5E7 -0.21%, rgba(0, 0, 0, 0) -0.2%, #566582 48.33%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 1px;
  left: 0;
}
.models_type_dropdown .models__col {
  justify-content: center;
  height: auto;
  padding: 30px;
}
.models_type_dropdown .models__col:after {
  bottom: -6px;
  top: inherit;
  transform: none;
  z-index: 1;
}
.models_type_dropdown .models__col:before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) -0.08%, #566582 48.4%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.6;
}
.models_type_dropdown .models__col:nth-child(1):before, .models_type_dropdown .models__col:nth-child(2):before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -0.08%, #566582 48.4%);
}
.models_type_dropdown .models__col:nth-child(4):before, .models_type_dropdown .models__col:nth-child(5):before {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) -0.08%, #566582 48.4%);
}
.models_type_dropdown .models__col:nth-child(n+3):after {
  content: none;
}
.models_type_dropdown .models__col:nth-child(3n):before {
  content: none;
}

.categories {
  margin-bottom: 60px;
}
.categories__title {
  text-align: center;
  margin-bottom: 60px;
}
.categories__title .h2 {
  margin-bottom: 0;
}
.categories__row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.categories .category-item {
  position: relative;
  height: 100%;
  min-height: 226px;
  padding: 1px;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: none;
  transition: 0.2s box-shadow ease-out;
}
.categories .category-item__wrap {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 14px;
  background-color: #212A3B;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s background-color ease-out;
  position: relative;
}
.categories .category-item__wrap:before {
  content: "";
  position: absolute;
  width: 55%;
  height: 55%;
  left: 50%;
  top: 50%;
  background-color: #275EAE;
  border-radius: 50%;
  filter: blur(32.5px);
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.categories .category-item__wrap:after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: 1px;
  top: 1px;
  background: #283243;
  margin: -2px;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
  transition: 0.2s all ease-out;
}
.categories .category-item:hover {
  box-shadow: 0 0 15px 0 rgba(193, 48, 213, 0.35);
}
.categories .category-item:hover .category-item__wrap {
  background-color: #050913;
}
.categories .category-item:hover .category-item__wrap:after {
  background: linear-gradient(rgb(193, 48, 213), rgb(0, 0, 0), rgb(193, 48, 213));
  opacity: 0.8;
}
.categories .category-item:hover .category-item__more {
  color: #ffffff;
}
.categories .category-item__name, .categories .category-item__pics {
  position: relative;
}
.categories .category-item__pics {
  width: 100%;
  height: 156px;
  margin-bottom: 8px;
  text-align: center;
}
.categories .category-item__pics img {
  max-height: 100%;
  width: auto;
}
.categories .category-item__name {
  color: #8089BF;
  font-size: 15px;
  line-height: 100%;
  font-family: "Days One", serif;
  margin-top: auto;
  min-height: 30px;
  text-align: center;
}
.categories .category-item__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.categories .category-item_type_more .category-item__wrap {
  background-color: #050913;
  justify-content: center;
}
.categories .category-item_type_more .category-item__wrap:after {
  background: linear-gradient(rgb(7, 17, 35), rgb(0, 0, 0), rgb(10, 24, 47));
}

.brands {
  margin-bottom: 30px;
}
.brands__title {
  text-align: center;
  margin-bottom: 60px;
}
.brands__title .h2 {
  margin-bottom: 0;
}
.brands__row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  margin-bottom: 60px;
}
.brands .brands-item {
  padding: 1px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.brands .brands-item__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #131a27;
  padding: 13px;
  border-radius: 10px;
  transition: 0.2s background-color ease-out;
  position: relative;
}
.brands .brands-item__wrap:after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: 1px;
  top: 1px;
  background: #283243;
  margin: -2px;
  z-index: -1;
  opacity: 1;
  pointer-events: none;
  transition: 0.2s all ease-out;
}
.brands .brands-item__name {
  font-size: 18px;
  line-height: 100%;
  color: #CED8E0;
  text-align: center;
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  transition: 0.2s all ease-out;
}
.brands .brands-item__logo {
  height: 77px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.brands .brands-item__logo img {
  max-height: 100%;
}
.brands .brands-item:hover .brands-item__wrap {
  background-color: #050913;
}
.brands .brands-item:hover .brands-item__wrap:after {
  background: linear-gradient(rgb(193, 48, 213), rgb(0, 0, 0), rgb(193, 48, 213));
  opacity: 0.8;
}
.brands .brands-item:hover .brands-item__name {
  color: #C130D5;
}
.brands__more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brands__more:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
  z-index: -1;
}
.brands__more .link-more {
  background-color: #050913;
  padding: 0 4px;
}

.products {
  margin-bottom: 30px;
}
.products__title {
  margin-bottom: 60px;
}
.products__title .h2 {
  margin-bottom: 0;
}
.products__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 50px;
  margin: -14px;
  padding-bottom: 60px;
}
.products__col {
  position: relative;
  padding: 14px;
}
.products__col:before {
  content: "";
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: calc(100% + 40px);
  background: linear-gradient(0deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
  z-index: -1;
  pointer-events: none;
}
.products__col .decor-line {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
}
.products__col .decor-line:before, .products__col .decor-line:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 9px;
  background-image: url("../images/decor-line.svg");
  background-position: center;
  background-repeat: no-repeat;
  right: calc(-50% - 2px);
}
.products__col .decor-line:before {
  top: -5px;
}
.products__col .decor-line:after {
  bottom: -5px;
}
.products__col:last-child:before {
  content: none;
}
.products__col:last-child .decor-line {
  display: none;
}
.products__item {
  height: 100%;
}
.products__more {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__more:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #050913 -0.23%, #121B34 48.31%, #050913 100%);
  z-index: -1;
}
.products__more .link-more {
  background-color: #050913;
  padding: 0 4px;
}

.product-card__wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.product-card__content {
  margin-bottom: 6px;
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.product-card__info {
  background-color: #ffffff;
  border-radius: 0 0 10px 10px;
  padding: 10px 10px 16px 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.product-card__props {
  margin: 0 0 6px 0;
  padding: 0;
  list-style: none;
}
.product-card__props li {
  color: #ABB5C7;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 5px;
}
.product-card__props li span {
  color: #566582;
}
.product-card__props li:last-child {
  margin-bottom: 0;
}
.product-card__name {
  font-size: 16px;
  color: #03060E;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 15px;
  display: inline-block;
}
.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.product-card__price .card-price {
  color: #0B0E15;
  font-family: "Days One", serif;
  font-size: 18px;
  line-height: 100%;
  padding-right: 10px;
}
.product-card__price .card-price span {
  font-family: "Gilroy", "Arial Narrow", sans-serif;
}
.product-card__gallery {
  height: 252px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.product-card__control .btn {
  width: 100%;
}
.product-card .card-gallery__list, .product-card .card-gallery__item {
  height: 100%;
}
.product-card .card-gallery__item {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card .card-gallery__item img {
  max-height: 100%;
  width: auto;
}

.about {
  margin-bottom: 60px;
}
.about__anons {
  color: #77859D;
  font-size: 18px;
  line-height: 122%;
  margin-bottom: 15px;
}
.about__header {
  margin-bottom: 60px;
}
.about__footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 130%;
}
.about__footer .h3 + p {
  margin-top: 0;
}
.about__offer {
  margin-bottom: 100px;
}
.about__row {
  display: flex;
  align-items: center;
}
.about__col_type_pics {
  flex-shrink: 0;
}
.about__col_type_desc {
  padding-right: 20px;
}
.about__description {
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
}
.about__description .h3 + p {
  margin-top: 0;
}
.about__pics {
  position: relative;
  padding-bottom: 20px;
}
.about__pics img {
  box-shadow: 0 0 90px 0 #0B0E15;
  border-radius: 22px;
  overflow: hidden;
}
.about__pics:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: calc(100% + 150px);
  transform: translateX(-50%);
  height: 70px;
  background-image: url(../images/bg-about-pics.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.installment {
  position: relative;
}
.installment:before {
  content: "";
  background-image: url("../images/bg-installment.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 150%;
  position: absolute;
  bottom: -30%;
  background-size: contain;
  background-position: center;
  z-index: -1;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.installment__row {
  display: flex;
}
.installment__col_type_pics {
  flex-shrink: 0;
}
.installment__content {
  position: relative;
  padding: 20px 55px 50px 20px;
  color: #ffffff;
  font-size: 16px;
}
.installment__content:before {
  content: "";
  border-radius: 20px;
  background: rgba(13, 17, 54, 0.6);
  backdrop-filter: blur(30px);
  position: absolute;
  width: 1420px;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
.installment__content .h2 + p {
  margin-top: 0;
}
.installment__pics {
  margin-top: -30px;
}
.installment__btn {
  border-radius: 50px;
  border: 2px solid #C130D5;
  background: rgba(3, 6, 14, 0.6);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
  color: #FFF;
  height: 64px;
  line-height: 64px;
  padding: 0 36px;
  font-family: "Days One", serif;
  text-transform: uppercase;
  display: inline-flex;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s color ease-out;
}
.installment__btn:hover {
  color: #C130D5;
}

.socials {
  display: flex;
  gap: 6px;
  padding: 0;
  list-style: none;
  margin: 0;
}
.socials__link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid rgba(86, 101, 130, 0.4);
  transition: 0.2s border ease-out;
}
.socials__link svg path {
  fill: #566582;
  transition: 0.2s fill ease-out;
}
.socials__link:hover {
  border: 1px solid rgb(86, 101, 130);
}
.socials__link:hover svg path {
  fill: #ffffff;
}

.side-panel {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.side-panel:before {
  content: "";
  position: absolute;
  pointer-events: none;
  background-image: url("../images/bg-side-panel.svg");
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 155px;
  height: 333px;
  opacity: 0.6;
  transition: 0.2s opacity ease-out;
}
.side-panel__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
  background: rgba(13, 17, 54, 0.6);
  backdrop-filter: blur(30px);
  padding: 25px 15px;
  align-items: center;
}
.side-panel__item {
  margin-bottom: 20px;
  position: relative;
  font-size: 0;
}
.side-panel__item:last-child {
  margin-bottom: 0;
}
.side-panel__item_type_cart #status_buy {
  display: none;
}
.side-panel__item_type_cart.added #status_buy {
  display: block;
}
.side-panel__item_type_cart.added #status_empty {
  display: none;
}
.side-panel__item_type_favorite:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: #DB18F5;
  border-radius: 50%;
  right: -2px;
  top: -3px;
  opacity: 0;
  pointer-events: none;
}
.side-panel__item_type_favorite.added:before {
  opacity: 1;
}
.side-panel:hover:before {
  opacity: 1;
}

.dropdown {
  position: fixed;
  width: 100%;
  top: -100%;
  z-index: 2000;
  transition: 0.5s top ease-out;
}
.dropdown.active {
  top: 92px;
}
.dropdown:before {
  content: "";
  position: absolute;
  width: 790px;
  height: 52px;
  left: 50%;
  bottom: -52px;
  backdrop-filter: blur(10px);
  clip-path: path("M0.015625 0C19.8639 0 38.52 9.474 50.2299 25.5C61.9398 41.5259 80.5958 50.9999 100.444 50.9999H703.008C720.244 50.9999 735.939 41.0732 743.325 25.5C750.712 9.9267 766.407 0 783.643 0H0.015625Z");
  transform: translateX(-50%);
  background-image: linear-gradient(to bottom, rgb(5, 9, 19), rgb(5, 9, 19), rgb(5, 9, 19));
}
.dropdown__box {
  backdrop-filter: blur(10px);
  background-image: linear-gradient(to bottom, rgba(5, 9, 19, 0.2), rgb(5, 9, 19));
}
.dropdown__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown__wrap {
  position: relative;
  padding: 60px 17px 40px 17px;
}
.dropdown__row {
  display: flex;
}
.dropdown__col_type_dropdown {
  flex-grow: 1;
}
.dropdown__col_type_menu {
  position: absolute;
}
.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
  margin: 0;
  font-family: "Days One", serif;
}
.dropdown .dropdown-menu li {
  margin-bottom: 25px;
}
.dropdown .dropdown-menu li:last-child {
  margin-bottom: 0;
}
.dropdown .dropdown-menu li a {
  color: #98A9C8;
  font-size: 16px;
  line-height: 130%;
  transition: 0.2s color linear;
}
.dropdown .dropdown-menu li a:hover {
  color: #C130D5;
}

/*# sourceMappingURL=style.css.map */
