// Fonts
$font-family-base:    'Jura', sans-serif;

// Color
$c_main:              #171c23;
$c_border:            rgba(128, 140, 149, .21);


// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$tablet: 'screen and (max-width: 999px)';
$phone: 'screen and (max-width: 500px)';



