// Fonts
$font-family-base:    'Jura', 'Arial Narrow', sans-serif;
$font-family-add:     'Kelson Sans', serif;
$font-size-base:       16px;
$font-weight-base:     400;

// Color

// Responsive width
$notebook: 'screen and (max-width: 1440px)';
$laptop: 'screen and (max-width: 1279px)';
$tablet: 'screen and (max-width: 979px)';
$phone: 'screen and (max-width: 767px)';
$small-phone: 'screen and (max-width: 374px)';




