.download-price {
  @include vp-display(flex);
  @include vp-align-items(center);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #34C3FF;
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  font-size: 24px;
  @include vp-transition(.1s all linear);

  &:hover {
    color: #FFFFFF;
  }

  svg {
    margin-right: 12px;
    margin-top: -2px;
  }
}