.nav-panel {

  &__row {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    justify-content: space-between;
    margin: 0 -10px;

    @media #{$tablet} {
      width: 100%;
      margin: 0;
    }
  }

  &__col {
    display: flex;
    align-items: center;
    padding: 10px;

    @media #{$laptop_s} {
      padding: 5px 10px;
    }

    @media #{$tablet} {
      padding: 0;
    }

    &--logo {

      @media #{$laptop_s} {
        max-width: 155px;
      }

      @media #{$tablet} {
        order: 2;
      }
    }

    &--nav {

      @media #{$tablet} {
        order: 1;
      }
    }

    &--phone {

      @media #{$tablet} {
        order: 3;
        padding: 0;

        .phone {
          margin-top: -5px;

          &__list,
          &__arrow {
            display: none;
          }

          &__icon {
            margin-right: 0;
          }

          svg {
            width: 22px;
            height: 22px;
          }
        }
      }

    }

    &--price {

      @media #{$tablet} {
        display: none;
      }
    }
  }
}