.nav {
  font-family: "Montserrat", "Arial Narrow", sans-serif;

  ul {
    list-style: none;
    padding: 0;
    margin: 0 -30px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;

    @media #{$laptop_l} {
      margin: 0 -20px;
    }

    @media #{$tablet} {
      margin: 0 -10px;
    }

    li {
      padding: 10px 30px;

      @media #{$laptop_l} {
        padding: 10px 20px;
      }

      @media #{$laptop_s} {
        font-size: 14px;
        padding: 10px;
      }

      &:not(.toggle) {

        @media #{$tablet} {
          display: none;
        }
      }

      &.toggle {
        padding-right: 0;
        margin-right: -10px;

        @media #{$laptop_l} {
          margin-right: 0;
        }

        a {
          width: 22px;
          height: 17px;
          display: block;
        }

        &.active {

          .toggle-close {
            display: block;
          }

          .toggle-open {
            display: none;
          }
        }

        svg {

          &.toggle-close {
            display: none;
          }

          @media #{$tablet} {
            width: 22px;
            height: 15px;
          }
        }
      }

      a {
        text-decoration: none;
        color: #FFFFFF;
        text-transform: uppercase;
        transition: .1s all linear;

        &:hover {
          color: #34C3FF;
        }
      }
    }
  }

  &--mobile {

    ul {
      flex-direction: column;

      li {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }

        &.toggle {
          display: none;
        }

        &:not(.toggle) {
          display: block;
        }
      }
    }
  }
}