.open-order {
  background-color: #0d151f;
  background-image: url("../images/open-order-bg.jpg");
  padding-top: 36px;
  margin-bottom: 70px;
  background-position: center;
  @include vp-background-size(cover);

  @media #{$phone} {
    padding-top: 10px;
    margin-bottom: 50px;
  }

  &__title {
    margin: 0 0 10px 0;
    font-size: 120px;
    line-height: 1em;
    color: rgba(198, 231, 255, 0.4);
    font-family: "Bebas Neue", "Arial Narrow", sans-serif;

    @media #{$notebook} {
      font-size: 80px;
    }

    @media #{$phone} {
      line-height: .8em;
    }
  }

  &__content {
    width: 50%;
    max-width: 680px;
    padding-bottom: 36px;

    @media #{$laptop_l} {
      width: 60%;
    }

    @media #{$laptop_s} {
      width: 100%;
    }
  }

  &__img {
    width: 50%;
    position: relative;
    padding-bottom: 36px;
    pointer-events: none;

    @media #{$laptop_l} {
      width: 40%;
    }

    @media #{$laptop_s} {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    @media #{$tablet} {
      width: 50%;
      right: -100px;
    }

    @media #{$phone} {
      width: 90%;
      right: -140px;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 0;
      @include vp-transform(translateX(-50%));
    }
  }

  &__wrap {
    @include vp-display(flex);
  }

  &__form {

    .form {

      &__row {
        @include vp-display(flex);
        margin-bottom: 16px;

        @media #{$laptop_s} {
          @include vp-flex-wrap(wrap);
        }

        @media #{$phone} {
          margin-bottom: 10px;
        }

        &--phone {

          label {
            margin-right: 17px;

            @media #{$laptop_s} {
              margin-right: 0;
              margin-bottom: 16px;
            }
          }
        }

        label {
          flex-grow: 1;
          position: relative;

          @media #{$laptop_s} {
            width: 100%;
          }

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/border-input.svg);
            background-repeat: no-repeat;
            background-size: auto 100%;
          }

          &.check {

            input {
              display: none;

              &:checked {

                & + span {

                  &:before {
                    background-image: url("../images/check.svg");
                    background-position: center;
                    background-repeat: no-repeat;
                  }
                }
              }
            }

            &:before {
              content: none;
            }

            span {
              color: #506270;
              font-size: 16px;
              position: relative;
              padding-left: 36px;
              @include vp-display(flex);

              @media #{$phone} {
                font-size: 14px;
                line-height: .8em;
                font-weight: 500;
                z-index: 10;
                max-width: 80%;
                color: #A2B8CB;
                opacity: .9;
              }

              &:before {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                background-color: rgba(21, 36, 50, 0.5);
                border: 1px solid #384854;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                left: 0;
                top: 50%;
                @include vp-transform(translateY(-50%));
              }
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        input[type=text],
        input[type=tel],
        input[type=email] {
          width: 100%;
          background: rgba(21, 36, 50, 0.5);
          border-radius: 11px;
          @include vp-appearance(none);
          height: 60px;
          padding: 0 27px;
          border: none;
          outline: none;
          font-size: 18px;
          font-family: "Gilroy", "Arial Narrow", sans-serif;
          color: #ffffff;

          @media #{$phone} {
            height: 55px;
            font-size: 16px;
            padding: 0 15px;
          }

          &::placeholder {
            font-family: "Gilroy", "Arial Narrow", sans-serif;
            color: #A2B8CB;
          }
        }

        a.btn {
          @include vp-display(flex);
          @include vp-align-items(center);
          height: auto;

          @media #{$phone} {
            z-index: 10;
          }
        }
      }
    }

  }
}
