.products {
  height: 476px;
  margin-top: 150px;
  margin-bottom: 250px;

  @media #{$laptop_s} {
    max-height: 290px;
    margin-top: 50px;
    margin-bottom: 140px;
  }

  &__wrap,
  &__content {
    position: relative;
    height: 100%;
  }

  &__content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;

    @media #{$tablet} {
      padding-top: 10px;
      padding-right: 10px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/products-img__bg.jpg");
  }

  &__title {
    font-family: "Bebas Neue", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 190px;
    line-height: 1em;
    background: linear-gradient(98.82deg, #1E303E 43.28%, #1E303E 82.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    text-align: right;
    padding-right: 130px;

    @media #{$notebook} {
      padding-right: 0;
      font-size: 150px;
    }

    @media #{$laptop_s} {
      font-size: 100px;
    }

    @media #{$tablet} {
      font-size: 70px;
      color: rgba(128, 146, 159, 0.5);
      background: none;
      -webkit-text-fill-color: inherit;
    }

  }

  &__img {
    height: 100%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      bottom: 0;

      @media #{$laptop_s} {
        left: -90px;
        max-height: calc(100% + 40px);
      }
    }
  }

  .product-list {
    margin-top: auto;
    width: 100%;
    overflow: inherit;

    &__wrap {
      display: flex;
      flex-wrap: wrap;

      @media #{$tablet} {
        flex-wrap: nowrap;
      }
    }

    @media #{$notebook} {
      margin-bottom: -50px;
    }

    .product-item {
      width: calc(100% / 4);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;

      @media #{$tablet} {
        width: calc(100% / 2);
        align-items: flex-end;
      }

      &:hover {

        .product-item__title {

          &:before {
            opacity: 1;

            @media #{$tablet} {
              opacity: 0;
            }
          }
        }

        .product-item__img {

          &:before {
            opacity: 1;
          }
        }
      }

      &__title {
        height: 50px;
        line-height: 53px;
        padding: 0 20px;
        font-size: 24px;
        font-family: "Bebas Neue", "Arial Narrow", sans-serif;
        text-transform: uppercase;
        color: #ffffff;
        background: transparent;
        margin-bottom: -25px;
        position: relative;

        i {
          font-style: normal;
          position: relative;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(274.09deg, #285681 17.27%, #0F3354 72.8%);
          border-radius: 9px;
          transition: .1s all ease-in;
          opacity: 0;
        }
      }

      &__img {
        height: 200px;
        width: 100%;
        position: relative;
        
        @media #{$tablet} {
          height: 360px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 458px;
          height: 100%;
          top: 0;
          left: calc(50% - 30px);
          transform: translateX(-50%);
          background-image: url("../images/hover-item.png");
          opacity: 0;
          transition: .2s opacity ease-in;

          @media #{$notebook} {
           background-size: cover;
            width: 100%;
          }

          @media #{$tablet} {
            content: none;
          }
        }

        img {
          position: absolute;
          left: calc(50% - 30px);
          transform: translateX(-50%);
          width: auto;
          max-width: initial;

          @media #{$notebook} {
            max-width: 100%;
          }

          @media #{$tablet} {
            max-height: 100%;
            left: calc(50% + 30px);
          }
        }
      }
    }
  }
}