.products {
  height: 476px;
  margin-top: 150px;
  margin-bottom: 250px;

  @media #{$laptop_s} {
    max-height: 290px;
    margin-top: 50px;
    margin-bottom: 140px;
  }

  &__wrap,
  &__content {
    position: relative;
    height: 100%;
  }

  &__content {
    padding-top: 20px;
    @include vp-display(flex);
    @include vp-flex-direction(column);

    @media #{$tablet} {
      padding-top: 10px;
      padding-right: 10px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/products-img__bg.jpg");
  }

  &__title {
    font-family: "Bebas Neue", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    font-size: 190px;
    line-height: 1em;
    @include vp-linear-gradient(98.82deg, #1E303E 43.28%, #1E303E 82.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    text-align: right;
    padding-right: 130px;

    @media #{$notebook} {
      padding-right: 0;
      font-size: 150px;
    }

    @media #{$laptop_s} {
      font-size: 100px;
    }

    @media #{$tablet} {
      font-size: 70px;
      color: rgba(128, 146, 159, 0.5);
      background: none;
      -webkit-text-fill-color: inherit;
    }

  }

  &__img {
    height: 100%;
    position: relative;

    img {
      position: absolute;
      left: 0;
      bottom: 0;

      @media #{$laptop_s} {
        left: -90px;
        max-height: calc(100% + 40px);
      }
    }
  }

}