.slider {
  height: 800px;
  background-color: #142730;
  margin-bottom: 90px;

  @media #{$notebook} {
    height: 584px;
  }

  @media #{$tablet} {
    margin-bottom: 42px;
  }

  &__wrap,
  &__list {
    height: 100%;
  }

  &__item {
    width: 100%;
  }

  &__pagination {
    position: absolute;
    width: 100%;
    bottom: 10px;

    .fraction {
      font-size: 32px;
      color: #8B96A1;
      font-weight: 300;
      position: relative;
      z-index: 10;

      @media #{$phone} {
        display: none;
      }

      span {
        font-size: 48px;
        line-height: 55px;
        color: #34C3FF;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .swiper-pagination {
      position: relative;
      width: 100%;
      bottom: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;

      .swiper-pagination-bullet {
        width: 140px;
        height: 12px;
        opacity: 1;
        background: none;
        border-radius: 0;
        position: relative;
        
        @media #{$tablet} {
          width: 110px;
        }

        @media #{$phone} {
          width: 100%;
          max-width: 100px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 4px;
          background: #8B96A2;
          border-radius: 2px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          @media #{$phone} {
            height: 3px;
          }
        }

        &-active {

          &:before {
            background: #34C3FF;
          }
        }
      }
    }
  }

  .slider-item {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 60px;

    &:before,
    &:after {
      content: '';
      width: 100%;
      height: 280px;
      position: absolute;
      background: linear-gradient(180deg, #21252F 0%, rgba(0, 0, 0, 0) 100%);
      z-index: 2;
    }

    &:before {
      top: 0;
      left: 0;
    }

    &:after {
      bottom: 0;
      left: 0;
      background: linear-gradient(0, #21252F 0%, rgba(0, 0, 0, 0) 100%);
    }

    &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin: 0 0 30px 0;
      font-family: "Bebas Neue", "Arial Narrow", sans-serif;
      font-size: 85px;
      line-height: 80px;
      color: #FFFFFF;

      @media #{$notebook} {
        font-size: 60px;
        line-height: 1em;
      }

      @media #{$phone} {
        font-size: 33px;
        line-height: 1em;
      }
    }

    &__content {
      max-width: 50%;

      @media #{$notebook} {
        max-width: 70%;
      }

      @media #{$laptop_s} {
        max-width: 100%;
      }

      @media #{$phone} {
        height: 100%;
        padding-top: 60px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
      }
    }

    &__wrap {
      z-index: 3;
      position: relative;
      width: 100%;

      @media #{$phone} {
        height: 100%;
      }
    }

    &__text {
      color: #C9D4DE;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      font-family: "Gilroy", "Arial Narrow", sans-serif;
      margin-bottom: 30px;

      @media #{$phone} {
        font-size: 14px;
        line-height: 1em;
        margin-top: auto;
      }
    }
  }
}