.step-buy {
  margin-bottom: 150px;

  @media #{$laptop_s} {
    margin-bottom: 50px;
  }

  &__title {
    text-align: center;
    margin: 0;
    
    @media #{$tablet} {
      font-size: 48px;
    }
  }

  &__wrap {
    padding-top: 45px;

    @media #{$phone} {
      padding-top: 0;
    }
  }

  &__list {
    @include vp-display(flex);
    @include vp-flex-wrap(wrap);
    width: calc(100% + 50px);
    margin: 0 -25px;

    @media #{$phone} {
      margin-left: -65px;
    }
  }

  &__item {
    width: calc(100% / 3);
    padding: 25px;

    @media #{$laptop_l} {
      width: calc(100% / 2);
    }

    @media #{$tablet} {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  .step-item {
    @include vp-display(flex);
    @include vp-align-items(flex-start);

    &:hover {

      .step-item__num {
        color: #b1b7c0;

        &:before {
          bottom: -20px;
        }
      }
    }

    &__title {
      font-family: "Bebas Neue", "Arial Narrow", sans-serif;
      font-size: 32px;
      line-height: 1em;
      color: #30414E;

      @media #{$phone} {
        font-size: 24px;
      }
    }

    &__text {
      color: #7E8D98;
      font-family: "Gilroy", "Arial Narrow", sans-serif;
      font-weight: 500;
      line-height: 1.2em;

      @media #{$notebook} {

        br {
          display: none;
        }
      }
    }

    &__num {
      font-family: "Bebas Neue", "Arial Narrow", sans-serif;
      font-size: 150px;
      line-height: .8em;
      color: #D8E1EA;
      position: relative;
      margin-right: 20px;
      @include vp-transition(.2s color linear);

      @media #{$phone} {
        font-size: 110px;
      }

      &:before {
        content: '';
        position: absolute;
        width: 120px;
        height: 84px;
        background-image: url("../images/angle.svg");
        bottom: 0;
        @include vp-transition(.2s bottom linear);

        @media #{$phone} {
          bottom: -20px;
        }
      }
    }
  }
}