.about-company {
  margin-bottom: 100px;

  @media #{$tablet} {
    margin-bottom: 50px;
  }

  @media #{$phone} {
    margin-bottom: 20px;
  }

  &__wrapper {
    display: flex;

    @media #{$tablet} {
      flex-wrap: wrap;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pics {
    display: block;
    position: absolute;

    img {

      @media #{$tablet} {
        max-width: 100%;
      }

      @media #{$phone} {
        width: 100%;
        height: auto;
      }
    }

    @media #{$tablet} {
      position: relative;
      width: 100%;
    }

  }

  &__col {
    width: 100%;
    padding: 0 22px;
    position: relative;

    @media #{$phone} {
      padding: 0;
    }

    &--text {
      display: flex;
      align-items: center;

      @media #{$tablet} {
        margin-bottom: 30px;
      }
    }

    &--pics {
      min-height: 620px;

      @media #{$tablet} {
        min-height: auto;
        order: 2;
      }

      @media #{$phone} {
        margin: 0 -20px;
        width: calc(100% + 40px);
      }
    }
  }

  &__anons {
    text-align: center;
    font-weight: 300;
    color: $c-teal-blue;
    line-height: 1.5em;
    margin-bottom: 60px;

    @media #{$tablet} {
      margin-bottom: 30px;
    }

    @media #{$phone} {
      margin-bottom: 20px;
      text-align: left;
    }
  }

  &__title {
    margin-bottom: 50px;

    @media #{$phone} {
      margin-bottom: 30px;
    }

    .label-section {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 90px;
      text-transform: uppercase;
      line-height: .6em;

      @media #{$phone} {
        font-size: 64px;
        font-weight: 300;
      }

      span {
        font-size: 70px;
        text-transform: none;

        @media #{$phone} {
          font-size: 50px;
        }
      }
    }
  }

  &--page {

    .about-company__pics {
      right: 0;
    }

    .about-company__anons {
      text-align: left;
    }

    .about-company__col--text {
      padding: 0 50px;

      @media #{$tablet} {
        order: 1;
      }

      @media #{$phone} {
        padding: 0;
      }

    }

    .about-company__title {
      margin-bottom: 0;
      text-align: left;
    }

    .about-company__text {
      display: block;
    }
  }
}