.about-company {
  margin-bottom: 100px;

  @media #{$tablet} {
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;

    @media #{$tablet} {
      flex-wrap: wrap;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__pics {
    display: block;
    position: absolute;

    img {

      @media #{$tablet} {
        max-width: 100%;
      }
    }

    @media #{$tablet} {
      position: relative;
      width: 100%;
    }

  }

  &__col {
    width: 100%;
    padding: 0 22px;
    position: relative;

    &--text {
      display: flex;
      align-items: center;

      @media #{$tablet} {
        margin-bottom: 30px;
      }
    }

    &--pics {
      min-height: 620px;

      @media #{$tablet} {
        min-height: auto;
      }
    }
  }

  &__anons {
    text-align: center;
    font-weight: 300;
    color: $c-teal-blue;
    line-height: 1.5em;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 50px;

    .label-section {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 90px;
      text-transform: uppercase;
      line-height: .6em;

      span {
        font-size: 70px;
        text-transform: none;
      }
    }
  }

  &--page {

    .about-company__pics {
      right: 0;
    }

    .about-company__anons {
      text-align: left;
    }

    .about-company__col--text {
      padding: 0 50px;
    }

    .about-company__title {
      margin-bottom: 0;
      text-align: left;
    }

    .about-company__text {
      display: block;
    }
  }
}