.card {
  background: $c-white;
  box-shadow: none;
  transition: .2s box-shadow linear;
  min-height: 450px;
  z-index: 10;

  &__col {

    &--pics {
      height: 55%;
    }

    &--content {
      height: 45%;
      background-color: white;
      position: relative;
    }
  }

  &__wrapper {
    height: 100%;
  }

  &:hover {
    box-shadow: 0 4px 15px rgba(92, 117, 128, 0.5);

    .card__row--prop {
      max-height: 200px;
    }

  }

  &__content {
    padding: 10px 15px 15px 15px;
    min-height: 100%;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
  }

  &__art {
    font-size: 14px;
    line-height: 1.5em;
    color: #88A1AC;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;

    span {
      color: #5c757f;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    font-family: $font-family-base;
    line-height: 20px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__pics {
    font-size: 0;
    display: block;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__row {
    position: relative;

    &--title {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #EEF6FA;
    }

    &--prop {
      margin-bottom: 10px;
      max-height: 20px;
      overflow: hidden;
      transition: max-height 1s linear;
    }

    &--buy {
      min-height: 0;
      visibility: hidden;

      .btn {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 38px;
        white-space: nowrap;
        background-color: white;
      }
    }
  }
}

.card-prop {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  .prop-normal {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5em;
    color: #88A1AC;
    font-style: italic;

    a {
      color: #88A1AC;
    }

    span {
      color: #2a4652;
    }
  }

  &__item {
    margin-bottom: 3px;
    margin-right: 20px;
  }

}

.card-control {
  display: flex;
  position: relative;

  &--line {

    &:before {
      content: '';
      position: absolute;
      height: 25px;
      width: 1px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(177, 202, 212, 0.5);
    }
  }

  &__col {
    width: 50%;
    display: flex;
    align-items: center;

    &--favorite {
      justify-content: flex-end;
    }
  }

  .link-control {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }

    svg {

      path {
        fill: #8FA7B1;
      }
    }
  }
}

.price {

  &__basic {
    font-size: 20px;
    color: $c-teal-blue;
    font-weight: 500;
    line-height: 1.2em;
  }

  &__discount {
    font-size: 14px;
    color: #88A1AC;
    position: relative;
    display: inline-block;
    font-style: italic;
  }
}