.card-slider {

  @media #{$phone} {
    padding: 0;
  }

  &__wrapper {
    padding: 10px 6px 40px 6px;
    overflow: hidden;
  }

  &__item {
    padding: 0 6px 35px 6px;
    box-sizing: border-box;

    .card {
      height: 420px;
    }
  }

  &__inner {
    overflow: initial!important;
  }

  .slider-arrow {
    position: absolute;
    top: 25%;

    &--prev {
      left: -70px;
    }

    &--next {
      right: -70px;
    }
  }
}