.card-slider {

  @media #{$phone} {
    padding: 0;
  }

  &__wrapper {
    padding: 10px 6px 40px 6px;
    overflow: hidden;
  }

  &__item {
    padding: 0 6px 35px 6px;
    box-sizing: border-box;

    &.swiper-slide-active {

      .card {
        transform: translateY(-10px);
        z-index: 11;

        .card__content {
          padding-bottom: 75px;
        }

        .card__buy {
          opacity: 1;
        }

        .card__col--pics {
          height: 45%;
          box-shadow: 0 4px 15px rgba(92, 117, 128, 0.5);
        }

        .card__content {
          box-shadow: 0 4px 15px rgba(92, 117, 128, 0.5);
        }

        .card__col--content {
          height: 55%;
        }

        .card__row--control {
          bottom: 30px;
        }

        .card-prop__list.hide {
          height: auto;
          opacity: 1;
          overflow: visible;
        }
      }
    }

    .card {
      height: 420px;
    }
  }

  &__inner {
    overflow: initial!important;
  }

  .slider-arrow {
    position: absolute;
    top: 25%;

    &--prev {
      left: -70px;
    }

    &--next {
      right: -70px;
    }
  }
}