.card {
  background: $c-white;
  transform: translateY(0);
  transition: .2s all linear;
  min-height: 420px;
  z-index: 10;
  position: relative;

  &__col {
    transition: .3s all linear;

    &--pics {
      height: 50%;
      box-shadow: none;

      .prop-normal {
        display: none;
        padding: 10px;
        font-style: italic;

        a {
          color: rgba(28, 51, 62, 1);
        }
      }
    }

    &--content {
      height: 50%;
      background-color: white;
      position: relative;
    }
  }

  &__buy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: .2s opacity linear,
    .2s color linear;
    padding: 0 35px;
  }

  &__wrapper {
    height: 100%;
  }

  &:hover,
  &.active {
    transform: translateY(-10px);
    z-index: 11;

    .card__content {
      padding-bottom: 75px;
    }

    .card__buy {
      opacity: 1;
    }

    .card__col--pics {
      height: 45%;
      box-shadow: 0 4px 15px rgba(92, 117, 128, 0.5);
    }

    .card__content {
      box-shadow: 0 4px 15px rgba(92, 117, 128, 0.5);
    }

    .card__col--content {
      height: 55%;
    }

    .card__row--control {
      bottom: 30px;
    }

    .card-prop__list.hide {
      height: auto;
      opacity: 1;
      overflow: visible;
    }
  }

  &__content {
    padding: 10px 15px 60px 15px;
    min-height: 100%;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    box-shadow: none;
    transition: .2s all linear;
  }

  &__art {
    font-size: 14px;
    line-height: 1.5em;
    color: #88A1AC;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;

    span {
      color: #5c757f;
    }
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    font-family: $font-family-base;
    line-height: 20px;
  }

  &__link {
    color: black;
    text-decoration: none;
  }

  &__pics {
    font-size: 0;
    display: block;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__row {
    position: relative;

    &--control {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 0 15px;
      box-sizing: border-box;
      bottom: 20px;
      background-color: white;
      transition: .2s bottom linear;
    }

    &--title {
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid #EEF6FA;

      .card-control {
        display: none;
      }
    }

    &--prop {
      margin-bottom: 10px;
    }

    &--buy {
      min-height: 0;
      visibility: hidden;

      .btn {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 38px;
        white-space: nowrap;
        background-color: white;
      }
    }
  }
}

.card-prop {

  &__list {
    display: flex;
    flex-wrap: wrap;

    &--change {
      padding-bottom: 10px;
      padding-top: 5px;
      border-bottom: 1px solid #EEF6FA;
    }

    &.hide {
      overflow: hidden;
      opacity: 0;
      transition: all 0.2s linear;
      height: 0;
    }
  }

  &__item {
    margin-bottom: 3px;
    margin-right: 20px;
  }

}

.card-control {
  display: flex;
  position: relative;

  &--line {

    &:before {
      content: '';
      position: absolute;
      height: 25px;
      width: 1px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(177, 202, 212, 0.5);
    }
  }

  &__col {
    width: 50%;
    display: flex;
    align-items: center;

    &--favorite {
      justify-content: flex-end;
    }
  }

  .link-control {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }

    svg {

      path {
        fill: #8FA7B1;
      }
    }
  }
}

.price {

  span {
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    color: #7C959F;
  }

  &__basic {
    font-size: 20px;
    color: $c-teal-blue;
    font-weight: 500;
    line-height: 1em;
  }

  &__discount {
    font-size: 14px;
    color: #88A1AC;
    position: relative;
    display: inline-block;
    font-style: italic;
  }
}

.prop-normal {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5em;
  color: #88A1AC;
  font-style: italic;

  a {
    color: #88A1AC;
  }

  span {
    color: #2a4652;
  }

  &--icon {
    display: flex;
    align-items: flex-end;

    img {
      margin-left: 12px;
    }
  }
}

.prop-change {
  margin: 5px 0;

  &__title {
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__col {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--price {
      min-width: 80px;
      text-align: center;
    }
  }

  .prop-price {
    font-weight: 400;
    font-size: 16px;
    color: #2A4652;
  }

  .prop-select,
  .prop-qt {
    position: relative;
  }

  .prop-qt {
    height: 30px;
    line-height: 30px;
    border: 1px solid #E7EEF3;
    border-radius: 10px;
    max-width: 50px;
    box-sizing: border-box;
    position: relative;
    font-size: 14px;

    input {
      padding-left: 6px;
      font-weight: 500;
      max-width: 100%;
      box-sizing: border-box;
      outline: none;
      border: 0;
      background: transparent;
    }

    span {
      color: #88A1AC;
      position: absolute;
      right: 5px;
      font-style: italic;
    }
  }

}

.new-select {
  min-width: 90px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #E7EEF3;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 25px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  color: #88A1AC;

  &:after {
    content: '';
    display: block;
    width: 7px;
    height: 5px;
    position: absolute;
    right: 12px;
    top: 50%;
    background-image: url('../images/icon/arrow-select.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
  }

  &.on {
    display: block;

    &:after {
      transform: translateY(-50%) scale(1, -1);
    }
  }

  &__list {
    position: absolute;
    top: 33px;
    left: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #fff;
    user-select: none;
    box-shadow: 0 4px 10px rgba(92, 117, 128, .2);
  }

  &__item {

    span {
      display: block;
      padding: 5px 15px;
      font-size: 14px;

      &:hover {
        color: #D4AE4A;
      }
    }
  }
}