.card-product {
  margin: -20px -20px 0 -20px;
  width: calc(100% + 40px);

  &__wrapper {
    display: flex;
  }

  &__col {
    width: 100%;
    position: relative;

    &--content {
      padding: 20px 40px 40px 40px;
    }
  }

  &__content {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
  }

  &__header {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DAE7EE;

    .h1 {
      font-size: 42px;
      font-weight: 400;
      line-height: 1em;
      margin-bottom: 2px;
    }
  }

  &__title-params {
    display: flex;
    align-items: center;

    .prop-normal {
      margin-right: 40px;
    }
  }

  &__cost {
    margin-bottom: 15px;

    .card-control {

      &__col {
        width: auto;

        &--price {
          margin-right: 50px;
        }
      }
    }

    .price {

      &__basic {
        font-size: 32px;
        font-weight: 400;
      }

      &__discount {
        font-size: 18px;
      }

      span {
        color: #D4AE4A;
        display: inline-block;
        margin-bottom: 5px;
      }
    }
  }

  .prop-normal {
    font-size: 16px;
    color: #88A1AC;

    span {
      font-style: normal;
      font-weight: 500;
    }
  }

  .in-stock {
    font-style: italic;
    color: #88A1AC;
    position: relative;
    padding-left: 20px;

    &:before {
      content: '';
      width: 12px;
      height: 9px;
      background-image: url("../images/icon/check.svg");
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .param-list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;

    li {
      margin-bottom: 5px;
      line-height: 28px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card-desc {
    padding-bottom: 16px;
    border-bottom: 1px solid #DAE7EE;

    &__title {
      font-size: 28px;
      line-height: 1em;
      font-weight: 500;
      color: #385764;
      font-family: $font-family-add;
      margin-bottom: 15px;
    }

    &__more {
      color: #D4AE4A;
      font-style: italic;
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      text-decoration: none;
    }

  }

  .product-param {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #DAE7EE;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: calc(100% / 3);
      padding-right: 30px;
      box-sizing: border-box;
      position: relative;

      &:nth-child(3n) {
        padding-right: 0;

        &:after {
          content: none;
        }
      }

      &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% + 15px);
        background-color: #DAE7EE;
        top: -15px;
        right: 15px;
      }

    }

    .prop-change {

      &__row {
        align-items: flex-start;
      }

      &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        font-family: $font-family-add;
        font-style: normal;
        color: #385764;
        margin-bottom: 5px;
        margin-left: 5px;
      }

      &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        font-style: italic;
        color: #88A1AC;
        margin-left: 5px;
        margin-bottom: 3px;
      }

      &__col {
        margin-right: 10px;

        &--qt {

          .prop-qt {
            max-width: 33px;

            input {
              text-align: center;
              padding-left: 0;
              font-size: 14px;
            }
          }

          span {
            display: none;
          }
        }

        &--price {

          .prop-change__name {
            margin-left: 0;
            margin-bottom: 10px;
          }

          .prop-price {
            font-size: 15px;
          }
        }
      }

      .new-select {
        min-width: 80px;
      }
    }
  }

  &__delivery {
    margin-bottom: 17px;
  }

  &__control {

    .btn {
      font-weight: 500;
      font-size: 16px;
      width: 230px;
      text-align: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

    }
  }

  .product-gallery {

    &__item {
      font-size: 0;
      height: calc(100vh - 190px);
      width: 100%;
      background-color: #ffffff;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .gallery-small {
    position: absolute;
    left: 25px;
    top: 40px;

    &__item {
      display: block;
      font-size: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.delivery {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #88A1AC;
  text-decoration: none;
  padding-right: 43px;
  position: relative;

  &:hover {

    span {
      border-bottom: 1px dotted transparent;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 34px;
    height: 20px;
    background-image: url("../images/icon/delivery.svg");
    background-repeat: no-repeat;
  }

  span {
    border-bottom: 1px dotted #88A1AC;
    transition: .2s all linear;
  }

}