.catalog {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 15px;
  }

  &__anons {
    text-align: center;
    font-size: 16px;
    line-height: 1.25em;
    color: #6D8793;
    margin-bottom: 30px;
  }

  &__desc {
    color: #2A4652;
    line-height: 1.3em;
  }

  &__subsection {
    position: relative;
    padding-bottom: 25px;

    &:before {
      content: '';
      width: 100vw;
      position: absolute;
      height: 455px;
      bottom: 0;
      background-color: #edf2f5;
      background-image: url("../images/subsection-bg.jpg");
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }

  &__body {
    display: flex;
    padding-top: 22px;
    margin-bottom: 70px;
  }

  &__filter {
    min-width: 300px;
    padding-right: 22px;
    box-sizing: border-box;
  }

  &__elements {
    flex-grow: 1;

    .catalog-list {
      margin-bottom: 30px;
    }
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 13px;

  .teaser {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.sub-slider {
  display: flex;
  align-items: center;
  position: relative;

  &__arrow {
    position: absolute;
    z-index: 1;
    right: -20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {

    &:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 100%;
      z-index: 10;
      right: 0;
      background: linear-gradient(300grad, #edf2f5 20%, transparent);
    }
  }

  &__el {

    &.swiper-slide {
      width: auto;
    }
  }

  &__item {
    background: #EDF4F6;
    border: 1px solid #88A1AC;
    border-radius: 10px;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 0 50px;
    box-sizing: border-box;
    color: #6c8596;
    white-space: nowrap;
    transition: .2s all linear;

    &--all {
      margin-right: 8px;
    }

    &--all,
    &:hover {
      border-color: #D4AE4A;
      background: white;
      color: #D4AE4A;
    }

    span {
      color: #5e7787;
    }
  }
}

.category {
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #D0DCE1;
  list-style: none;
  font-family: $font-family-add;
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 500;

  li {
    position: relative;
    padding-left: 20px;

    &:hover,
    &.selected {

      &:before {
        background-color: rgba(212, 174, 74, 1);
      }

      a:not([class]) {
        color: rgba(212, 174, 74, 1);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 6px;
      height: 6px;
      background: #88A1AC;
      border-radius: 50%;
      transition: .2s background linear;
    }

    a {
      text-decoration: none;
      transition: .2s color linear;

      &:not([class]) {
        color: #2A4652;
      }

    }
  }
}