.catalog {
  margin-bottom: 50px;

  &__title {
    margin-bottom: 15px;

    .h1 {

      @media #{$phone} {
        font-size: 40px;
        font-weight: 400;
      }
    }
  }

  &__anons {
    text-align: center;
    font-size: 16px;
    line-height: 1.25em;
    color: #6D8793;
    margin-bottom: 30px;

    @media #{$phone} {
      text-align: left;
    }

    &2 {
      padding: 0 0 20px 0;
      color: #2A4652;
      font-size: 26px;
      text-align: center;
      margin: -10px 0 0 0;

      @media #{$phone} {
        padding: 20px 0;
      }

      a {
        color: #AE9978!important;
      }
    }
  }

  &__desc {

    .section-desc {

      @media #{$tablet} {
        display: flex;
        flex-direction: column;
      }

      &__img {
        float: right;

        @media #{$tablet} {
          order: 2;
        }

        @media #{$phone} {

          img {
            max-width: 100%;
          }
        }
      }

      &__text {
        color: #2A4652;
        line-height: 1.3em;

        @media #{$tablet} {
          order: 1;
        }
      }
    }
  }

  &__subsection {
    position: relative;
    padding-bottom: 25px;

    &:before {
      content: '';
      width: 100vw;
      position: absolute;
      height: calc(100% - 80px);
      top: 80px;
      background-color: #edf2f5;
      background-image: url("../images/subsection-bg.jpg");
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  }

  &__body {
    display: flex;
    padding-top: 22px;
    margin-bottom: 70px;

    @media #{$phone} {
      margin-bottom: 40px;
    }
  }

  &__filter {
    max-width: 300px;
    padding-right: 22px;
    box-sizing: border-box;

    @media #{$laptop_s} {
      display: none;
    }

    .teaser {
      min-height: auto;

      &__title {
        font-size: 30px;
      }

      &__desc {
        max-width: 100%;
      }

      &__pics {

        &:before {
          background: linear-gradient(105.68deg, rgba(35, 52, 60, 0.88) 48.51%, rgba(42, 70, 82, 0) 102.23%);
        }
      }
    }
  }

  &__elements {
    flex-grow: 1;

    .catalog-list {
      margin-bottom: 30px;
    }
  }
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 13px;

  @media #{$tablet} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$phone} {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  &:not(.basket-line) {
    .catalog-list__item {
      &.card {

        @media #{$phone} {
          height: auto;
          min-height: auto;

          .price__basic {
            font-size: 16px;
          }

          .card__art {
            display: none;
          }

          .card__row--control {
            position: relative;
            bottom: 0;
            padding: 0;
          }

          .card__buy {
            display: none;
          }

          .card__pics {
            height: 122px;
          }

          .card__name {
            font-size: 14px;
            line-height: 1.2em;
          }

          .card__col--pics {
            height: auto;
          }

          .card__row--prop {
            display: none;
          }

          .card__content {
            position: relative;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;
          }

          .card-control {
            flex-wrap: wrap;
          }

          .card-control--line:before {
            content: none;
          }

          .card-control .link-control {
            margin-right: 5px;
            width: 26px;
            height: 27px;
          }

          .card-control .link-control svg {
            width: 100%;
            height: auto;
          }
        }

        &:hover {

          @media #{$phone} {
            transform: none;

            .card-prop__list.hide {
              opacity: 0;
              height: 0;
            }

            .card__col--pics {
              height: auto;
            }

            .card__content {
              box-shadow: none;
              padding-bottom: 20px;
            }

            .card__col--content {
              height: auto;
            }
          }

        }
      }
    }
  }

  .teaser {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    @media #{$tablet} {
      grid-column-end: 3;
    }

    @media #{$phone} {
      grid-column-end: 2;
      min-height: auto;
    }

    &__title {

      @media #{$phone} {
        font-size: 30px;
      }
    }

    &__desc {

      @media #{$phone} {
        min-width: 80%;
      }
    }
  }

  &.basket-line {

    .card {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.view-line,
  &.basket-line {
    display: block;

    .card {
      min-height: 150px;
      margin-bottom: 22px;

      &__buy {
        left: inherit;
        right: 15px;
        transform: none;
        line-height: 40px;
        height: 42px;
        bottom: -15px;
      }

      &:hover {
        transform: translateY(0);
        box-shadow: 0 2px 25px rgba(132, 152, 162, 0.19);

        .card__col--pics,
        .card__content {
          box-shadow: none;
        }
      }

      &__pics {
        width: 113px;
        height: 113px;
      }

      &__art {
        margin-bottom: 0;
        margin-right: 25px;
      }

      &__col {

        &--pics,
        &--content {
          height: auto;
        }

        &--content {
          flex-grow: 1;
        }
      }

      &__row {

        &--title {
          display: flex;
          background-color: #EEF4F6;
          align-items: center;
          min-height: 45px;
          padding: 5px 10px 5px 20px;
          box-sizing: border-box;
          width: 100%;
          grid-column: 1/3;

          .card-control {
            margin-left: auto;
            display: block;
          }
        }

        &--prop {
          padding: 0 20px;
          box-sizing: border-box;
          width: 100%;
        }

        &--control {
          position: relative;
          bottom: 0;
          padding: 0;
          width: 140px;
          margin-left: auto;
        }
      }

      &__wrapper {
        display: flex;
        min-height: inherit;
      }

      &__content {
        min-height: auto;
        position: initial;
        padding: 0;
        display: grid;
        grid-template-columns: calc(100% - 140px) 1fr;
      }

      .card-control {

        &:before {
          content: none;
        }

        &__col {
          width: 100%;

          &--favorite {
            display: none;
          }
        }
      }

      .card-prop {

        &__list {

          &.hide {
            opacity: 1;
            height: auto;
            padding-bottom: 0;
            border: 0;
          }

          &:not(.hide) {
            display: none;
          }
        }
      }

      .prop-change {
        position: relative;
        border-right: 1px solid #ECF3F5;
        margin-right: 10px;

        @media #{$laptop_s} {
          border-right: none;
        }

        &:last-child {
          border: none;
        }

        &__col {
          margin-right: 10px;

          .prop-price {
            font-size: 15px;
          }

          &--price {
            min-width: auto;
          }
        }
      }

      .prop-normal {
        font-size: 14px;
        display: block;
      }

      .price {

        &__basic {
          font-size: 23px;
        }
      }

      .new-select {
        min-width: auto;
      }
    }

    .teaser {
      min-height: auto;
      margin-bottom: 30px;
    }
  }
}

.sub-slider {
  display: flex;
  align-items: center;
  position: relative;

  &__arrow {
    position: absolute;
    z-index: 1;
    right: -20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.left {
      right: auto;
      left: 134px;
      transform: rotate(180deg);

      @media #{$phone} {
        left: 75px;
      }
    }

    &.swiper-button-disabled {
      opacity: .5;
    }
  }

  &__wrapper {

    &:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 100%;
      z-index: 10;
      right: 0;
      background: linear-gradient(300grad, #edf2f5 20%, transparent);

      @media #{$phone} {
        background: linear-gradient(300grad, #dee5eb 20%, transparent);
      }
    }
  }

  &__el {

    &.swiper-slide {
      width: auto;
    }
  }

  &__item {
    background: #EDF4F6;
    border: 1px solid #88A1AC;
    border-radius: 10px;
    line-height: 50px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    padding: 0 50px;
    box-sizing: border-box;
    color: #6c8596;
    white-space: nowrap;
    transition: .2s all linear;

    @media #{$phone} {
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
    }

    &--all {
      margin-right: 28px;
    }

    &--all,
    &:hover {
      border-color: #D4AE4A;
      background: white;
      color: #D4AE4A;
    }

    span {
      color: #5e7787;
    }
  }
}

.category {
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #D0DCE1;
  list-style: none;
  font-family: $font-family-add;
  font-size: 24px;
  line-height: 1.25em;
  font-weight: 500;

  li {
    position: relative;
    padding-left: 20px;

    &:hover,
    &.selected {

      &:before {
        background-color: rgba(212, 174, 74, 1);
      }

      a:not([class]) {
        color: rgba(212, 174, 74, 1);
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 6px;
      height: 6px;
      background: #88A1AC;
      border-radius: 50%;
      transition: .2s background linear;
    }

    a {
      text-decoration: none;
      transition: .2s color linear;

      &:not([class]) {
        color: #2A4652;
      }

    }
  }
}