.new {
  margin-bottom: 95px;

  @media #{$phone} {
    margin-bottom: 15px;
  }

  &__wrapper {
    position: relative;
    padding-top: 45px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 390px;
      background-image: url("../images/new-bg.jpg");
      background-color: #2A4652;
    }

  }

  &__title {
    margin-bottom: 10px;
  }
}