.our-clients {
  margin-bottom: 80px;

  &__title {
    margin-bottom: 70px;
  }

  .clients-slider {

    &__col {

      &.swiper-slide-prev {

          .clients-slider__item {

            &:before {
              right: 2px;
            }
          }
      }
    }

    &__wrapper {
      padding-bottom: 60px;
      align-items: center;
    }

    .swiper-pagination--custom {
      bottom: 0!important;
      justify-content: center;
    }

    &__item {
      display: flex;
      justify-content: center;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        right: -1px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 56px;
        background-color: #C0CFD9;
      }

      img {
        max-width: 100%;
      }
    }

  }

  .slider-arrow {
    position: absolute;
    top: calc(50% - 30px);
    transform: translateY(-50%);

    &--prev {
      left: -100px;
    }

    &--next {
      right: -100px;
    }
  }
}