.sort {
  height: 70px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #EEF4F7;
  }

  &__row {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }

  &__col {

    &--num {
      min-width: 300px;

      @media #{$phone} {
        min-width: auto;
        margin-right: 10px;
      }
    }

    &--view {
      margin-left: auto;

      @media #{$phone} {
        margin-left: auto;
      }
    }

    &--choice {

      @media #{$phone} {
        margin-left: auto;
      }
    }
  }

  .view-change {
    display: flex;
    align-items: center;

    span {
      font-size: 15px;
      color: $c-teal-blue;
      margin-right: 24px;

      @media #{$phone} {
        display: none;
      }
    }

    &__item {
      margin-right: 36px;

      @media #{$phone} {
        margin-right: 10px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.active {

        svg {

          path {
            fill: #2A4652;
          }
        }
      }

      svg {

        path {
          fill: #C4D8E1;
          transition: .2s all linear;
        }
      }
    }
  }

  .num-goods {
    font-weight: 400;
    font-size: 36px;
    line-height: 1em;
    font-family: $font-family-add;
    color: #2A4652;

    @media #{$phone} {
      font-size: 25px;
    }
  }

  .sort-list {

    &__item {
      color: #2A4652;
      text-decoration: none;
      margin-right: 30px;

      span {
        position: relative;

        @media #{$laptop_s} {
          padding-right: 12px;

          &:after {
            content: '';
            width: 7px;
            height: 5px;
            position: absolute;
            right: 0;
            top: 8px;
            background-image: url('../images/icon/arrow-select.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      @media #{$laptop_s} {
        display: none;
      }

      &--price {

        @media #{$laptop_s} {
          display: block;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}