.swiper {

  &-pagination {

    &--custom {
      position: relative!important;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .swiper-pagination-bullet {
        width: 150px;
        height: 3px;
        border-radius: 0;
        background: $c-teal-blue;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: $c-rob-roy;
        }
      }
    }
  }
}

.slider-arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #C0CFD9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {

    svg {

      path {
        fill: #73828d;
      }
    }
  }

  svg {

    path {
      fill: #C0CFD9;
      transition: .2s all linear;
    }
  }
}