@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Thin"), local("BebasNeue-Thin"), url("../fonts/bebasneuethin.woff2") format("woff2"), url("../fonts/bebasneuethin.woff") format("woff"), url("../fonts/bebasneuethin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Light"), local("BebasNeue-Light"), url("../fonts/bebasneuelight.woff2") format("woff2"), url("../fonts/bebasneuelight.woff") format("woff"), url("../fonts/bebasneuelight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("../fonts/bebasneuebook.woff2") format("woff2"), url("../fonts/bebasneuebook.woff") format("woff"), url("../fonts/bebasneuebook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Regular"), local("BebasNeueRegular"), url("../fonts/bebasneueregular.woff2") format("woff2"), url("../fonts/bebasneueregular.woff") format("woff"), url("../fonts/bebasneueregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"), url("../fonts/bebasneuebold.woff2") format("woff2"), url("../fonts/bebasneuebold.woff") format("woff"), url("../fonts/bebasneuebold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.main {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.burger {
  appearance: none;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: 0;
}

.phone-link {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 45px;
}
@media screen and (max-width: 1024px) {
  .header {
    padding: 20px 45px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
.header__row {
  display: flex;
  margin: 0 -20px;
}
.header__col {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.header__col_type_phone {
  margin-left: auto;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 50px;
}
@media screen and (max-width: 1399px) {
  .footer__logo {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo img {
  max-height: 270px;
}
@media screen and (max-width: 1399px) {
  .footer__logo img {
    max-height: 170px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__logo img {
    max-height: 112px;
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: fit-content(100%);
  grid-template-rows: auto;
  gap: 25px;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .footer__grid {
    gap: 15px;
    grid-template-rows: 1fr auto auto;
  }
}
.footer__col_type_menu {
  grid-column: 1/3;
}
@media screen and (max-width: 1024px) {
  .footer__col_type_menu {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer__col_type_app {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .footer__col_type_app {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__col_type_app {
    padding-bottom: 20px;
  }
}
.footer__col_type_copyright {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-top: auto;
  padding-bottom: 20px;
}
@media screen and (max-width: 1024px) {
  .footer__col_type_copyright {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

.screen {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #c4c9c9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 35px 35px 60px 130px;
}
@media screen and (max-width: 767px) {
  .screen {
    padding: 50px 20px 35px 20px;
  }
}
@media screen and (max-width: 767px) {
  .screen-main {
    align-items: flex-start;
  }
}
.screen-play {
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .screen-play {
    justify-content: center;
  }
}
.screen-gym {
  padding-top: 140px;
}
@media screen and (max-width: 1024px) {
  .screen-gym {
    padding-top: 100px;
  }
}
@media screen and (max-width: 767px) {
  .screen-gym {
    padding-top: 70px;
  }
}
.screen-team {
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .screen-team {
    padding-top: 80px;
  }
}
@media screen and (max-width: 767px) {
  .screen-team {
    padding-top: 60px;
  }
}
.screen-footer {
  width: 100%;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .screen-footer {
    padding-top: 80px;
  }
}
.screen-footer .screen__content {
  width: 100%;
  height: 100%;
}
.screen__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.screen__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.screen__content {
  position: relative;
}
@media screen and (max-width: 767px) {
  .screen__content {
    width: 100%;
  }
}

.main-screen {
  background: linear-gradient(180deg, #c4c9c9 17.86%, #c3cbcd 69.95%, #eff3f4 100%);
  position: relative;
}
.main-screen__img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}
.main-screen__content {
  position: relative;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .main-screen__content {
    padding: 20px 0 0 0;
  }
}
.main-screen__header {
  text-align: right;
}
.main-screen__circle {
  position: absolute;
  right: -10%;
  font-size: 0;
  bottom: -50%;
  width: 914px;
  height: 914px;
  border-radius: 50%;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .main-screen__circle {
    width: 400px;
    height: 400px;
    bottom: 50%;
    transform: translateY(50%);
  }
}
.main-screen__circle img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.main-screen__circle_type_2 {
  z-index: 1;
  right: 20%;
  background-color: rgba(217, 217, 217, 0.6);
}
@media screen and (max-width: 767px) {
  .main-screen__circle_type_2 {
    bottom: 40%;
  }
}
.main-screen__circle_type_1 {
  z-index: 2;
  border: 47px solid rgba(178, 190, 191, 0.5);
}
@media screen and (max-width: 767px) {
  .main-screen__circle_type_1 {
    border: 30px solid rgba(178, 190, 191, 0.5);
  }
}
.main-screen__circle img {
  max-width: 914px;
  height: auto;
}
.main-screen__title {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 200px;
  text-transform: uppercase;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  border-radius: 31px 0;
  text-decoration: none;
  height: 50px;
  padding: 0 65px;
  line-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #ffffff;
}
.btn_type_color {
  backdrop-filter: blur(4px);
  background: linear-gradient(93deg, rgba(250, 188, 42, 0.9) 0%, rgba(247, 91, 45, 0.9) 100%);
  font-size: 20px;
}
.btn_type_submit {
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px 0;
  height: 90px;
  line-height: 90px;
}

.side-panel {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  position: fixed;
  z-index: 90;
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
  border-radius: 0 0 50px 0;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .side-panel {
    display: none;
  }
}
.side-panel__logo {
  font-size: 0;
  position: relative;
  height: 50%;
  flex-grow: 1;
  padding-bottom: 30px;
  padding-top: 50px;
}
.side-panel__logo img {
  position: relative;
  max-height: 100%;
  width: auto;
}
.side-panel__logo:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 75%;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(28px);
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.6;
}
.side-panel .side-pagination__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-panel .side-pagination__item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-bottom: 24px;
  position: relative;
}
.side-panel .side-pagination__item span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
  font-weight: 300;
  white-space: nowrap;
  padding-left: 30px;
  text-shadow: 0 0 30px #152128;
  opacity: 0;
  left: -10px;
  visibility: hidden;
  transition: 0.1s all ease-in-out;
}
.side-panel .side-pagination__item:before {
  content: "";
  width: 9px;
  height: 9px;
  background: rgba(252, 254, 255, 0.6);
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s all linear;
}
.side-panel .side-pagination__item:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.1s all linear;
}
.side-panel .side-pagination__item:hover:before, .side-panel .side-pagination__item.active:before {
  width: 100%;
  height: 100%;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
}
.side-panel .side-pagination__item:hover:after, .side-panel .side-pagination__item.active:after {
  opacity: 1;
}
.side-panel .side-pagination__item:hover span, .side-panel .side-pagination__item.active span {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.side-panel .side-pagination__item:last-child {
  margin-bottom: 0;
}

.play-section {
  display: flex;
  flex-direction: column;
}
.play-section__title {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 200px;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
  margin-bottom: -100px;
}
@media screen and (max-width: 1279px) {
  .play-section__title {
    font-size: 150px;
  }
}
@media screen and (max-width: 767px) {
  .play-section__title {
    font-size: 80px;
    margin-bottom: -30px;
  }
}
.play-section__button {
  width: 580px;
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/play-section-bg.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.01);
  overflow: hidden;
  border-radius: 50% 50% 50% 0;
}
@media screen and (max-width: 1279px) {
  .play-section__button {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .play-section__button {
    width: 290px;
    height: 290px;
  }
}
.play-section__icon {
  position: relative;
}
.play-section__icon img {
  position: relative;
}
@media screen and (max-width: 1279px) {
  .play-section__icon img {
    max-width: 110px;
  }
}
@media screen and (max-width: 767px) {
  .play-section__icon img {
    max-width: 80px;
  }
}
.play-section__icon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pool-section {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .pool-section {
    flex-direction: column;
  }
}
.pool-section__title, .pool-section__subtitle {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.pool-section__title span, .pool-section__subtitle span {
  display: inline-block;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pool-section__title {
  font-size: 70px;
  color: #ffffff;
}
@media screen and (max-width: 1399px) {
  .pool-section__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  .pool-section__title {
    font-size: 45px;
  }
}
.pool-section__subtitle {
  font-size: 200px;
  line-height: 82%;
  margin-bottom: 40px;
}
@media screen and (max-width: 1399px) {
  .pool-section__subtitle {
    font-size: 160px;
  }
}
@media screen and (max-width: 1024px) {
  .pool-section__subtitle {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 767px) {
  .pool-section__subtitle {
    font-size: 80px;
  }
}
.pool-section__text {
  font-family: "Gilroy", "Arial Narrow", sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .pool-section__text {
    font-size: 14px;
  }
}
.pool-section__description {
  position: relative;
  padding: 10px;
}
.pool-section__description:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  filter: blur(4px);
  background: rgba(21, 33, 40, 0.01);
}
.pool-section__play {
  width: 35%;
  margin-right: 30px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/play-section-icon-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.01);
  overflow: hidden;
  border-radius: 50% 50% 0 50%;
}
.pool-section__play:before {
  content: "";
  padding-top: 100%;
  float: left;
}
@media screen and (max-width: 1024px) {
  .pool-section__play {
    margin-bottom: 30px;
    margin-right: 0;
    width: 100%;
    max-width: 340px;
  }
}
@media screen and (max-width: 767px) {
  .pool-section__play {
    width: 70%;
    margin-bottom: 15px;
  }
}
.pool-section__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  font-size: 0;
}
.pool-section__icon img {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 1399px) {
  .pool-section__icon img {
    max-width: 80px;
  }
}
.pool-section__icon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  filter: blur(40px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pool-section__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gym-section {
  height: 100%;
}
.gym-section__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .gym-section__list {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .gym-section__list {
    display: flex;
    flex-direction: column;
    grid-gap: initial;
  }
}
.gym-section__item {
  text-decoration: none;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
  position: relative;
  height: auto;
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
  border-radius: 20px;
  padding: 22px;
}
@media screen and (max-width: 1399px) {
  .gym-section__item {
    font-size: 35px;
  }
}
@media screen and (max-width: 767px) {
  .gym-section__item {
    display: block;
    margin-bottom: 8px;
    padding: 12px 22px;
  }
  .gym-section__item:last-child {
    margin-bottom: 0;
  }
}
.gym-section__item span {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  display: inline-block;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-section {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.team-section__title {
  font-weight: 400;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media screen and (max-width: 1399px) {
  .team-section__title {
    font-size: 100px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .team-section__title {
    font-size: 50px;
  }
}
.team-section__title span {
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team-section__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 6px;
  height: calc(100% - 150px);
}
@media screen and (max-width: 1024px) {
  .team-section__list {
    height: auto;
    width: 100%;
  }
}
.team-section__list::after {
  content: "";
  height: 100%;
  width: 100%;
  flex-shrink: 1;
}
@media screen and (max-width: 1024px) {
  .team-section__list::after {
    content: none;
  }
}
.team-section__item {
  margin-bottom: 6px;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  width: 33%;
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
}
@media screen and (max-width: 1399px) {
  .team-section__item {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .team-section__item {
    width: 100%;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team-section__item {
    font-size: 25px;
  }
}
.team-section__item a {
  color: #fff;
  text-decoration: none;
  padding: 12px 28px;
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .team-section__item a {
    padding: 8px;
  }
}
.team-section__item:last-child {
  margin-bottom: 0;
}

.form-screen {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  position: relative;
  padding: 60px 60px 0 60px;
}
@media screen and (max-width: 767px) {
  .form-screen {
    width: 100%;
    padding: 0;
  }
}
.form-screen:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% + 150px);
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
  border-radius: 50px 0;
  pointer-events: none;
}
@media screen and (max-width: 1024px) {
  .form-screen:before {
    left: 40px;
    width: calc(100% - 40px);
    height: calc(100% + 100px);
  }
}
@media screen and (max-width: 767px) {
  .form-screen:before {
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 130px);
  }
}
.form-screen__content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-screen__check {
  font-weight: 300;
  font-size: 20px;
  color: #c1c6c9;
  text-transform: uppercase;
}
.form-screen__check a {
  color: #ffffff;
  text-decoration: none;
}
.form-screen__check span {
  position: relative;
  padding-left: 30px;
  display: inline-block;
}
.form-screen__check span:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #949a9c;
  background-color: transparent;
  transition: 0.1s all linear;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.form-screen__check input {
  display: none;
}
.form-screen__check input:checked + span:before {
  background-color: #ffffff;
}
.form-screen__field {
  position: relative;
  padding-left: 18px;
  padding-bottom: 10px;
  background-image: url("../images/field-bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  margin-bottom: 30px;
}
.form-screen__field:last-of-type {
  margin-bottom: 0;
}
.form-screen__field input {
  appearance: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .form-screen__field input {
    font-size: 30px;
  }
}
.form-screen__field input::placeholder {
  color: #ffffff;
}
.form-screen__submit {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: -100px;
  margin-bottom: -20px;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .form-screen__submit {
    margin-right: 0;
  }
}
.form-screen__submit .btn {
  font-size: 30px;
}
@media screen and (max-width: 767px) {
  .form-screen__submit .btn {
    font-size: 25px;
    height: 65px;
    line-height: 65px;
    padding: 0 35px;
  }
}

.send-section {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
}
.send-section__title {
  font-weight: 400;
  font-size: 150px;
  line-height: 106%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .send-section__title {
    font-size: 100px;
  }
}
@media screen and (max-width: 767px) {
  .send-section__title {
    font-size: 80px;
    line-height: 95%;
    margin-bottom: 10px;
  }
}
.send-section__title span {
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.send-section__content {
  display: flex;
  justify-content: center;
}

.footer-menu {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
}
.footer-menu__row {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .footer-menu__row {
    flex-wrap: wrap;
  }
}
.footer-menu__col {
  margin-right: 5em;
}
@media screen and (max-width: 1024px) {
  .footer-menu__col {
    margin-right: 0;
    margin-bottom: 15px;
    padding-right: 10px;
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .footer-menu__col_type_services {
    width: 100%;
  }
  .footer-menu__col_type_services li {
    display: inline-block;
  }
}
.footer-menu__col:last-child {
  margin-right: 0;
}
.footer-menu__title {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
}
@media screen and (max-width: 1399px) {
  .footer-menu__title {
    font-size: 20px;
  }
}
.footer-menu__title a {
  text-decoration: none;
  color: #8aa0ac;
  transition: 0.1s all linear;
}
.footer-menu__title a:hover {
  color: #ffffff;
}
.footer-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
}
@media screen and (max-width: 1399px) {
  .footer-menu__list {
    font-size: 20px;
  }
}
.footer-menu__list li {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .footer-menu__list li {
    margin-bottom: 6px;
    margin-right: 10px;
  }
}
.footer-menu__list li:last-child {
  margin-bottom: 0;
}
.footer-menu__list li a {
  text-decoration: none;
  color: #657984;
  transition: 0.1s all linear;
}
.footer-menu__list li a:hover {
  color: #ffffff;
}

.socials {
  display: flex;
  flex-wrap: wrap;
}
.socials__item {
  font-size: 0;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #90A2AB;
  margin-right: 9px;
}
.socials__item:last-child {
  margin-right: 0;
}
.socials__item svg path {
  fill: #9FB3BD;
  fill-opacity: 0.6;
  transition: 0.1s all linear;
}
.socials__item:hover svg path {
  fill: #ffffff;
  fill-opacity: 1;
}

.copyright {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  color: #37444A;
  font-size: 25px;
  line-height: 100%;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1399px) {
  .copyright {
    font-size: 20px;
  }
}
.copyright a {
  color: #37444A;
  text-decoration: none;
  transition: 0.1s all linear;
}
.copyright a:hover {
  color: rgba(255, 255, 255, 0.3);
}

.app__list {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .app__list {
    justify-content: flex-end;
  }
}
.app__item {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-radius: 70px 0;
  width: 247px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
}
@media screen and (max-width: 767px) {
  .app__item {
    width: 153px;
    height: 56px;
  }
  .app__item img {
    max-width: 100px;
  }
}
.app__item_type_google {
  margin: 0 0 -50px -50px;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 170px 1fr;
  grid-template-rows: auto;
  column-gap: 50px;
  row-gap: 15px;
}
@media screen and (max-width: 1399px) {
  .footer-bottom {
    column-gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer-bottom {
    column-gap: 15px;
  }
}
.footer-bottom__col_type_socials {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media screen and (max-width: 1399px) {
  .footer-bottom__col_type_socials {
    grid-row: 1/2;
  }
}
@media screen and (max-width: 1399px) {
  .footer-bottom__col_type_copy {
    grid-column: 1/3;
  }
}
@media screen and (max-width: 1399px) {
  .footer-bottom__col_type_phone {
    margin: auto 0;
  }
}

.footer-people {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.footer-people__item {
  position: absolute;
  right: 0;
  bottom: 0;
}
.footer-people__item_type_boy {
  max-width: 38%;
  right: 3%;
}
.footer-people__item_type_girl {
  max-width: 26%;
}

.popup-dropdown {
  display: none;
  position: fixed;
  width: 40%;
  height: 100%;
  padding: 45px 45px 45px 80px;
  left: 0;
  top: 0;
  backdrop-filter: blur(15px);
  background: rgba(52, 73, 85, 0.3);
  z-index: 200;
}
.popup-dropdown__wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.popup-dropdown__close {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0 0 40px auto;
  cursor: pointer;
  display: block;
}
.popup-dropdown__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.popup-dropdown__bottom .phone-link {
  margin-left: auto;
  margin-right: 30px;
}
.popup-dropdown .popup-menu {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  list-style: none;
  font-weight: 300;
  font-size: 45px;
  line-height: 130%;
  padding: 0;
  margin: 0 0 40px 0;
}
.popup-dropdown .popup-menu li {
  margin-bottom: 10px;
}
.popup-dropdown .popup-menu li:last-child {
  margin-bottom: 0;
}
.popup-dropdown .popup-menu a {
  text-decoration: none;
  color: #ffffff;
}
.popup-dropdown .popup-menu a.active, .popup-dropdown .popup-menu a:hover {
  background: linear-gradient(90deg, #fbc92a 0%, #f6342e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.01);
  display: none;
}
@media screen and (max-width: 767px) {
  .header-mobile {
    display: block;
  }
}
.header-mobile__row {
  padding: 5px 16px;
  display: flex;
  align-items: center;
  margin: 0 -10px;
}
.header-mobile__col {
  padding: 0 10px;
}
.header-mobile__col_type_toggle .burger svg {
  max-width: 50px;
}
.header-mobile__col_type_phone {
  margin-left: auto;
}
.header-mobile__col_type_phone .phone-link {
  position: relative;
}
.header-mobile__col_type_phone .phone-link:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.9);
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.first-screen {
  background: linear-gradient(180deg, #c4c9c9 17.86%, #c3cbcd 69.95%, #eff3f4 100%);
  position: relative;
}
.first-screen__img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  text-align: center;
}
.first-screen__content {
  position: relative;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  z-index: 5;
}
.first-screen__header {
  text-align: right;
}
.first-screen__circle {
  position: absolute;
  right: -10%;
  font-size: 0;
  bottom: -50%;
  width: 914px;
  height: 914px;
}
.first-screen__circle img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.first-screen__circle_type_2 {
  z-index: 1;
  right: 20%;
}
.first-screen__circle_type_1 {
  z-index: 2;
}
.first-screen__circle img {
  max-width: 914px;
  height: auto;
}
.first-screen__title {
  font-family: "Bebas Neue", "Arial Narrow", sans-serif;
  display: inline-block;
  font-weight: 700;
  font-size: 200px;
  text-transform: uppercase;
  background: linear-gradient(93deg, #fabc2a 0%, #f75b2d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
