.about {
  background-color: #576065;
  padding: 55px 0;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 70px;

  &__title {
    color: #ffffff;
  }

  &__text {
    color: #ffffff;
    font-family: 'Gilroy', 'Arial Narrow', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 55px;
    
    @media #{$tablet-mini} {
      padding: 10px 0;
    }
  }

  &__row {
    display: flex;

    @media #{$notebook} {
      flex-wrap: wrap;
    }
  }

  &__col {
    width: 50%;

    @media #{$notebook} {
      width: 100%;
    }

    &_form {
      display: flex;
      align-items: flex-end;

      @media #{$notebook} {
        max-width: 80%;
        padding: 0 50px;
      }

      @media #{$laptop_s} {
        max-width: 100%;
      }

      @media #{$tablet-mini} {
        padding: 10px 0;
      }

    }
  }
}