.advantages {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(157px, max-content));
    grid-column-gap: 24px;
    grid-row-gap: 15px;
  }

  .adv-item {
    background: rgba(69, 90, 100, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;

    &__amount {
      position: relative;
      margin-right: 20px;
    }

    &__wrap {
      padding: 35px 20px 35px 75px;
      display: flex;
      align-items: flex-end;
      position: relative;
      height: 100%;

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 85px;
        background: #8DC44A;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);
      }
    }

    &__num {
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      color: #8DC54A;
    }

    &__sign {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
      margin-bottom: 10px;
      margin-left: 3px;
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;

      span {
        color: #8DC44A;
        font-size: 18px;
      }

      b {
        display: block;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
  }
}