.advantages {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(157px, max-content));
    grid-column-gap: 24px;
    grid-row-gap: 15px;

    @media #{$notebook} {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(157px, max-content));
    }

    @media #{$laptop_s} {
      grid-template-columns: repeat(1, 1fr);
    }

    @media #{$phone} {
      grid-template-rows: auto;
    }
  }

  .adv-item {
    background: rgba(69, 90, 100, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    font-family: $font-family-base;

    &__row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      @media #{$phone-mini} {
        flex-wrap: wrap;
      }
    }

    &__amount {
      position: relative;
      margin-right: 20px;
    }

    &__wrap {
      padding: 35px 20px 35px 75px;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media #{$phone} {
        padding-left: 37px;
      }

      @media #{$phone} {
        padding-top: 11px;
        padding-bottom: 11px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 1px;
        height: 60%;
        background: #8DC44A;
        top: 50%;
        left: 50px;
        transform: translateY(-50%);

        @media #{$phone} {
          left: 20px;
        }
      }
    }

    &__num {
      font-weight: 700;
      font-size: 60px;
      line-height: 50px;
      color: #8DC54A;
      margin-right: 20px;

      @media #{$phone} {
        font-size: 50px;
        line-height: 100%;
      }
    }

    &__sign {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
      margin-bottom: 10px;
      margin-left: 3px;

      @media #{$phone} {
        margin-bottom: 5px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;

      @media #{$phone} {
        font-size: 14px;
        line-height: 15px;
        padding-bottom: 5px;
      }

      span {
        color: #8DC44A;
        font-size: 18px;
      }

      b {
        display: block;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 5px;
      }
    }
  }
}