.article-date {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 8px;
    font-size: 0;
  }

  &__num {
    color: #91A2AB;
    font-size: 16px;
    line-height: 19px;
    font-family: $font-family-base;

    span {
      color: #455A64;
      font-size: 18px;
      line-height: 22px;
    }
  }
}