.detail-service {
  color: #455A64;
  margin-bottom: 120px;

  @media screen and (max-width: 979px) {
    margin-bottom: 30px;
  }

  &__top {
    margin-bottom: 50px;

    @media #{$tablet-mini} {
      margin-bottom: 20px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 110%;
    font-family: $font-family-base;
    margin: 0 0 22px 0;

    @media #{$tablet-mini} {
      font-size: 28px;
    }
  }

  &__anons {
    line-height: 140%;
    color: #313A3F;
  }

  &__text {
    line-height: 140%;
    margin-bottom: 20px;

    h3 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }
  }

  &__desc {
    margin-bottom: 110px;

    @media screen and (max-width: 979px) {
      margin-bottom: 30px;
    }
  }
}
