.header-page {
  background-color: #354953;
  position: relative;

  &__wrap {
    padding-top: 100px;
  }

  &__menu,
  &__wrap {
    position: relative;
  }

  &__breadcrumbs {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;

    @media #{$phone} {
      margin-bottom: 20px;
    }
  }

  &__pics {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 600px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: relative;
    z-index: 1;

    .h1 {
      color: #ffffff;
      margin-bottom: 45px;
    }
  }
}