.main-menu {
  transition: .2s all linear;

  &.fixed {
    position: fixed;
    width: 100%;
    top: 10px;
    left: 0;

    .main-menu {

      &__wrap {
        background: rgba(69, 90, 100, 0.70);
      }

      &__col {

        &_order-phone {

          .btn {
            height: 33px;
            line-height: 33px;
          }
        }
      }
    }

    .main-nav {

      &__link {
        padding: 20px 0;
      }
    }

    .logo {
      font-size: 0;

      svg {
        max-width: 119px;
        height: auto;
      }
    }
  }

  &__wrap {
    padding: 0 30px 0 48px;
    background: rgba(69, 90, 100, 0.3);
    box-shadow: 0 4px 25px rgba(14, 39, 51, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    max-width: 1578px;
    transition: .1s background linear;

    @media screen and (max-width: 980px) {
      padding: 0 20px 0 20px;
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_toggle {
      margin-right: 60px;
    }

    &_phone {
      margin-right: 12px;
    }

    &_nav {
      flex-grow: 1;
      margin: 0 auto;
      align-items: stretch;
      padding: 0 20px;

      .main-nav {
        width: 100%;
      }
    }
  }

}