.open-form {
  min-width: auto;

  &__wrap {
    position: relative;
    padding-top: 19px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/open-form-wrap.svg");
      background-repeat: no-repeat;
      left: 17px;
      top: 0;
      pointer-events: none;
      z-index: 1;

      @media #{$notebook} {
        content: none;
      }

      @media #{$phone} {
        content: '';
        background-image: url("../images/open-form-wrap-mobile.svg");
        left: 10px;
      }

      @media #{$phone-mini} {
        content: none;
      }
    }
  }

  &__inner {
    padding: 30px 0 30px 60px;
    position: relative;

    @media #{$tablet-mini} {
      padding: 50px;
    }

    @media #{$phone} {
      padding: 7px 23px 20px 23px;
    }

    @media #{$phone-mini} {
      padding: 20px;
    }

    &:before {
      content: '';
      position: absolute;
      width: calc(100% - 50px);
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(25, 46, 56, 0.6);
      backdrop-filter: blur(10px);
      border-radius: 10px;

      @media #{$tablet-mini} {
        width: 100%;
      }
    }
  }

  &__text {
    color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Gilroy', 'Arial Narrow', sans-serif;
    text-transform: uppercase;
    margin-bottom: 17px;

    @media #{$phone} {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;

    @media #{$laptop_s} {
      font-size: 40px;
      line-height: 120%;
    }

    @media #{$phone} {
      font-size: 25px;
    }

    span {
      color: #8DC44A;
    }
  }

  .phone {
    font-size: 36px;
    line-height: 43px;

    &__link {
      color: #8DC44A;

      span {
        color: #91A2AB;
      }
    }
  }

  &__col {
    padding: 0 5px;

    @media #{$tablet-mini} {
      width: 100%;
    }

    @media #{$phone-mini} {
      padding: 0;
    }

    &_field {

      @media #{$tablet-mini} {
        order: 1;
        margin-bottom: 20px;
      }
    }

    &_text {

      @media #{$tablet-mini} {
        order: 2;
      }
    }
  }

  &__row {
    display: flex;
    align-items: flex-end;
    position: relative;
    margin: 0 -10px;

    @media #{$tablet-mini} {
      flex-wrap: wrap;
    }

    @media #{$phone} {
      margin: 0;
    }
  }

  input[type="text"] {
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    font-family: 'Gilroy', 'Arial Narrow', sans-serif;
    color: #ffffff;
    height: 50px;
    padding: 0 22px;
    width: 100%;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &::placeholder {
      font-family: 'Gilroy', 'Arial Narrow', sans-serif;
      color: #91A2AB;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;
    padding: 5px 50px 0 0;

    @media #{$notebook} {
      padding-top: 10px;
    }

    @media #{$phone} {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-left: 27px;
    }

    @media #{$phone-mini} {
      padding-left: 0;
    }
  }

  &__policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #829AA6;
    font-family: 'Gilroy', 'Arial Narrow', sans-serif;
    text-align: right;
    margin-right: 15px;

    @media #{$tablet-mini} {

      br {
        display: none;
      }
    }

    @media #{$phone} {
      text-align: left;
      order: 2;
      margin-right: 0;
    }
  }

  &__btn {
    position: relative;
    z-index: 2;
    bottom: -15px;

    @media #{$notebook} {
      bottom: 0;
    }

    @media #{$phone} {
      order: 1;
      margin-bottom: 10px;
    }
  }
}