.review-item {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 29px 33px 60px 33px;
  position: relative;
  box-shadow: none;
  transition: .2s all linear;

  &:hover {
    box-shadow: 0 10px 25px 0 rgba(52, 63, 69, 0.15);

    .review-item__more {
      bottom: 16px;
      opacity: 1;
    }
  }

  &__more {
    position: absolute;
    right: 20px;
    bottom: 25px;
    opacity: 0;
    transition: .2s all linear;

    @media #{$phone} {
      opacity: 1;
      bottom: 16px;
    }
  }

  &__top {
    margin-bottom: 26px;
    display: flex;
    justify-content: space-between;
  }

  &__anons {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #455A64;

    @media #{$phone} {
      font-size: 14px;
      line-height: 115%;
    }
  }

  .review-person {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 23px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      background: #C4DAA9;
      height: 2px;
      width: 156px;
    }

    &__icon {
      margin-right: 18px;
      font-size: 0;

      @media #{$phone} {
        margin-right: 10px;
      }
    }

    &__name {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #455A64;

      @media #{$phone} {
        font-size: 18px;
        line-height: 115%;
      }
    }
  }
}