.services {
  padding-top: 76px;
  background-image: url("../images/services-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    background: linear-gradient(180deg, #F9FAFD 15%, rgba(217, 217, 217, 0) 100%);
    top: 0;
    left: 0;
  }

  & + .questions {
    margin-top: 85px;
  }

  @media #{$tablet-mini} {
    padding-top: 20px;
  }

  & + .work-stages {
    margin-top: -100px;
  }

  &__title {
    margin-bottom: 50px;

    @media #{$tablet-mini} {
      margin-top: 0;
      margin-bottom: 20px;
    }

  }

  &__advantages {
    padding-top: 175px;
    padding-bottom: 285px;

    @media #{$notebook} {
      padding-top: 75px;
      padding-bottom: 200px;
    }

    @media #{$phone} {
      padding-top: 38px;
      padding-bottom: 170px;
    }
  }

  &.in-page {
    margin-top: -130px;
    position: relative;

    @media #{$laptop_s} {
      margin-top: 0;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 413px;
      background: linear-gradient(180deg, #F9FAFD 25.52%, rgba(217, 217, 217, 0.00) 100%);
      left: 0;
      top: 0;

      @media #{$laptop_s} {
        height: 20%;
      }
    }

    .services__advantages {
      padding-bottom: 190px;

      @media #{$laptop_s} {
        padding-bottom: 100px;
      }
    }
  }
}