.social {

  &__list {
    display: flex;
    margin: 0 -10px;
  }

  &__item {
    padding: 0 10px;
    text-decoration: none;

    svg {

      path {
        transition: .2s all linear;
      }
    }

    &_vk {

      &:hover {

        svg {

          path {
            fill: #2476FD;
          }
        }
      }
    }

    &_viber {

      &:hover {

        svg {

          path {
            fill: #8F54A7;
          }
        }
      }
    }

    &_whatsapp {

      &:hover {

        svg {

          path {
            fill: #34D368;
          }
        }
      }
    }
  }

  &_footer {

    .social__list {
      margin: 0;
    }

    .social__item {
      width: 32px;
      height: 32px;
      background: rgba(198, 203, 206, 0.2);
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0 3px;
    }
  }

}