.stocks {
  margin-bottom: 90px;

  @media #{$phone} {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 50px;

    @media #{$phone} {
      margin-bottom: 30px;
    }
  }

  &__list {
    margin-bottom: 53px;

    @media #{$phone} {
      margin-bottom: 20px;
    }
  }

  &__more {
    display: flex;
    justify-content: center;
  }

  &_still {
    margin-bottom: 0;

    .stocks__title {
      margin-bottom: 20px;
    }

    .stocks__wrap {
      padding: 0;
    }

    .stocks__list {
      margin-left: -15px;
      margin-right: -15px;

      @media #{$phone} {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

}