.work-time {
  font-size: 14px;
  color: #91A3AB;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
  }

  &__text {

    span {
      color: #74B12B;
    }
  }
}