@font-face {
  font-family: 'Kelson Sans RU';
  src: url('../fonts/kelson/KelsonSans-LightRU.woff2') format('woff2'),
  url('../fonts/kelson/KelsonSans-LightRU.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kelson Sans RU';
  src: url('../fonts/kelson/KelsonSans-RegularRU.woff2') format('woff2'),
  url('../fonts/kelson/KelsonSans-RegularRU.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kelson Sans RU';
  src: url('../fonts/kelson/KelsonSans-BoldRU.woff2') format('woff2'),
  url('../fonts/kelson/KelsonSans-BoldRU.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
  url('../fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gilroy/Gilroy-Regular.woff') format('woff'),
  url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
@font-face {
  font-family: 'Kelson Sans';
  src: url('../fonts/kelson/kelsonsanslightru.woff2') format('woff2'),
  url('../fonts/kelson/kelsonsanslightru.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kelson Sans';
  src: url('../fonts/kelson/kelsonsansregularru.woff2') format('woff2'),
  url('../fonts/kelson/kelsonsansregularru.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kelson Sans';
  src: url('../fonts/kelson/kelsonsansboldru.woff2') format('woff2'),
  url('../fonts/kelson/kelsonsansboldru.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
*/