// Fonts
$font-family-base:    'Kelson Sans RU', 'Arial Narrow', sans-serif;
$font-family-add:     'Gilroy', 'Arial Narrow', sans-serif;
$font-size-base:       16px;
$font-weight-base:     400;

// Color
$c-white:             #FFFFFF;


// Responsive width
$desktop: 'screen and (max-width: 1680px)';
$laptop: 'screen and (max-width: 1440px)';
$notebook: 'screen and (max-width: 1366px)';
$laptop_s: 'screen and (max-width: 1024px)';
$tablet: 'screen and (max-width: 999px)';
$tablet-mini: 'screen and (max-width: 767px)';
$phone: 'screen and (max-width: 500px)';
$phone-mini: 'screen and (max-width: 320px)';



