.footer {
  padding: 40px;
  
  @media #{$phone} {
    padding: 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
  }

  &__col {

    @media #{$phone} {
      width: 100%;
      text-align: center;
      margin: 10px 0;
    }

    &--socials {
      margin: 0 30px;
    }
  }
}