@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-Bold.eot');
  src: local('Druk Cyr Bold'), local('DrukCyr-Bold'),
  url('../fonts/druk/DrukCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-Bold.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-Bold.woff') format('woff'),
  url('../fonts/druk/DrukCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-Heavy.eot');
  src: local('Druk Cyr Heavy'), local('DrukCyr-Heavy'),
  url('../fonts/druk/DrukCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-Heavy.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-Heavy.woff') format('woff'),
  url('../fonts/druk/DrukCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-HeavyItalic.eot');
  src: local('Druk Cyr Heavy Italic'), local('DrukCyr-HeavyItalic'),
  url('../fonts/druk/DrukCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-HeavyItalic.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-HeavyItalic.woff') format('woff'),
  url('../fonts/druk/DrukCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-MediumItalic.eot');
  src: local('Druk Cyr Medium Italic'), local('DrukCyr-MediumItalic'),
  url('../fonts/druk/DrukCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-MediumItalic.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-MediumItalic.woff') format('woff'),
  url('../fonts/druk/DrukCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-SuperItalic.eot');
  src: local('Druk Cyr Super Italic'), local('DrukCyr-SuperItalic'),
  url('../fonts/druk/DrukCyr-SuperItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-SuperItalic.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-SuperItalic.woff') format('woff'),
  url('../fonts/druk/DrukCyr-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-Super.eot');
  src: local('Druk Cyr Super'), local('DrukCyr-Super'),
  url('../fonts/druk/DrukCyr-Super.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-Super.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-Super.woff') format('woff'),
  url('../fonts/druk/DrukCyr-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-Medium.eot');
  src: local('Druk Cyr Medium'), local('DrukCyr-Medium'),
  url('../fonts/druk/DrukCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-Medium.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-Medium.woff') format('woff'),
  url('../fonts/druk/DrukCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Cyr';
  src: url('../fonts/druk/DrukCyr-BoldItalic.eot');
  src: local('Druk Cyr Bold Italic'), local('DrukCyr-BoldItalic'),
  url('../fonts/druk/DrukCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/druk/DrukCyr-BoldItalic.woff2') format('woff2'),
  url('../fonts/druk/DrukCyr-BoldItalic.woff') format('woff'),
  url('../fonts/druk/DrukCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
