* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.btn-form {
  width: 100%;
  height: 78px;
  line-height: 78px;
  text-align: center;
  border-radius: 44px;
  background: linear-gradient(65deg, #E0E0E0 8.39%, #E3E0DE 82.16%);
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-family: 'Druk Cyr', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 1000;
  text-transform: uppercase;

  @media screen and (max-width: 1800px) {
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
}

.phone {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 120px;
  text-decoration: none;

  @media screen and (max-width: 1800px) {
    font-size: 100px;
  }

  @media screen and (max-width: 979px) {
    font-size: 80px;
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }

}