
@import 'fonts';
@import 'general';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
.section {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &.swiper-slide {
    height: 100vh;
  }

  &.swiper-slide-active {

    .section__text {
      transform: translateY(50%);
      bottom: 50%;
      opacity: 1;
      transition: .8s 0.2s all ease;
    }

    .section__pics {
      transform: scale(1.05);
      transition: 1s all linear;
    }
  }

  &:first-child {

    &.swiper-slide-active {

      .section__text {
        transform: translateY(20%);
        bottom: 20%;
        opacity: 1;
        transition: .8s 0.2s all ease;
      }
    }

    .section__wrap {
      align-items: flex-end;

      &:before {
        content: none;
      }
    }

    .section__title {
      margin-bottom: 2%;
    }
  }

  &:last-child {

    .section__title {
      font-size: 120px;
      line-height: 100%;
      margin-bottom: 50px;
      letter-spacing: normal;

      @media screen and (max-width: 1440px) {
        font-size: 100px;
        margin-bottom: 20px;
      }
    }
  }

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdfdf;
    position: relative;

    &:before,
    &:after {
      content: none;
      position: absolute;
      width: 100%;
      height: 35%;
      left: 0;
      z-index: 2;
    }

    &:before {
      top: 0;
      background: linear-gradient(0, rgba(228, 187, 165, 0.00) 0%, #E4BBA5 100%);
    }

    &:after {
      bottom: 0;
      background: linear-gradient(180deg, rgba(228, 187, 165, 0.00) 0%, #E4BBA5 100%);
    }
  }

  &__title {
    color: rgba(255, 255, 255, 0.90);
    text-shadow: 0 4px 60px rgba(0, 0, 0, 0.15);
    font-size: 150px;
    text-transform: uppercase;
    font-family: 'Druk Cyr', sans-serif;
    text-align: center;
    line-height: 90%;
    letter-spacing: 6.75px;
    position: relative;
    z-index: 5;
  }

  &__pics {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scale(1);
    transition: 1s all linear;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    position: absolute;
    z-index: 5;
    text-align: center;
    height: auto;
    bottom: 0;
    opacity: .3;
    transform: none;
    transition: .8s 0.2s all ease;
  }

  img {
    max-width: 100%;
  }
}

.menu-fixed {
  position: fixed;
  top: 18px;
  left: 24px;
  z-index: 100;
  transform: scale(1);
  transition: .5s all linear;

  &:hover {
    transform: scale(1.05);
  }
}

.online-fixed {
  position: fixed;
  right: 20px;
  bottom: 120px;
  z-index: 100;
  transform: scale(1);
  transition: .5s all linear;

  &:hover {
    transform: scale(1.05);
  }
}

.menu-btn {
  max-height: 350px;
}

.phone {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 120px;

  @media screen and (max-width: 1440px) {
    font-size: 120px;
    margin-top: -40px;
  }
}

.main-v2 {


  .swiper-slide-active {

    .section__text {
      transform: translate(-50%, 50%);
      left: 50%;
    }
  }

  .section {

    &__text {
      left: 0;
      bottom: 50%;
      transform: translateY(50%);

      img {
        max-width: 960px;
      }
    }

    &__title {
      white-space: nowrap;
    }

    &:first-child {

      .section__text {
        bottom: 30%;
      }

      &.swiper-slide-active {

        .section__text {
          transform: translate(-50%, 20%);
          left: 50%;
          bottom: 20%;
        }
      }
    }

  }

  .phone {
    white-space: nowrap;
  }
}
*/

@import "components/burger-fixed";
@import "components/icon-fixed";
@import "components/main-slider";
@import "components/nav";
@import "components/open-form";
@import "components/menu-toggle";