body {
  font-family: $font-family-base;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  &.index {

    .main {
      @media #{$tablet-mini} {
        padding-top: 54px;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #F9FAFD;
  height: 100vh;
}


.h1,
.h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #455A64;
  position: relative;
  padding-left: 32px;
  padding-bottom: 10px;

  @media #{$tablet-mini} {
    font-size: 25px;
    line-height: 110%;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &:before {
    width: 5px;
    height: 44px;
    background-color: #6BA229;
    bottom: -8px;
    z-index: 1;
  }

  &:after {
    height: 1px;
    width: 295px;
    background-color: #E2EBEE;
    left: -11px;
  }

  &_center {
    display: inline-block;
    padding-left: 0;
    padding-bottom: 12px;

    &:before {
      width: 44px;
      height: 5px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
    }

    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.container {
  max-width: 1618px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @media #{$phone} {
    padding: 0 15px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1 1 auto;
  position: relative;
  z-index: 5;

  &__page {
    font-family: $font-family-add;

    &.container {

      @media #{$phone} {
        padding: 0;
      }
    }

    .manufacturers {
      margin-bottom: 20px;
    }

    .services {
      padding-top: 0;
      margin-top: -45px;
    }

    .our-work {
      margin-bottom: 60px;

      &__wrap {
        padding: 0;
      }
    }

    .h1, h1,
    .h2, h2,
    .h3, h3 {
      font-family: $font-family-base;
    }
  }

  &__inner {
    padding: 45px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(249, 250, 253, 0.60) 0%, #F9FAFD 20%);
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 10px;
      max-height: 790px;

      @media screen and (max-width: 980px) {
        background: #F9FAFD;
      }
    }

    @media screen and (max-width: 980px) {
      padding: 20px;
    }

    @media #{$phone} {
      border-radius: 0;
    }

    a {
      color: #455A64;
    }

    .question-form {

      a.btn {
        color: #FFFFFF;
      }
    }

    .sub-service {

      a.btn {
        color: #FFFFFF;
      }
    }

    .portfolio-detail {

      a.btn.btn_order {
        color: #FFFFFF;
      }
    }

    .service-price {

      a.btn {
        color: #FFFFFF;
      }
    }
  }

  &_contacts {

   .main__inner {
     padding: 0;

     @media #{$laptop_s} {
       padding: 45px;
     }

     @media #{$tablet} {
       padding: 20px;
     }

     &:before {
       content: none;

       @media #{$laptop_s} {
         content: '';
       }
     }
   }
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.fancybox__container.mobile-block-open {
  .fancybox__slide {
    padding: 0;
  }
}